[2018-10-12 13:53] alexander-alvarez commented on #591
Yes

[2018-10-16 13:18] HenryVonfire opened #592 "Double scrollbar on mobile devices"
I've noticed that a second scrollbar is rendered on top of the original one on mobile devices (this can be tested with the demo page)

[2018-10-16 15:32] alexander-alvarez commented on #592
@HenryVonfire  Thanks for pointing it out, I hadn't noticed this before, we'll have to figure out why.

[2018-10-29 23:22] #591 closed

[2018-10-30 16:33] donaldwasserman opened #594 "[Tracking] Remove jQuery"
@alexander-alvarez Just to move this this issue to track where we’re at.

Right now:

- [x] Upgrade tests/configuration Here
- [x] Update Ember Scrollable [PR](https://github.com/alphasights/ember-scrollable/pull/98)
	- [x] Update Ember-Resize Detector [PR](https://github.com/EmberSherpa/ember-element-resize-detector/pull/17)

[2018-10-31 05:48] msenevir opened #595 "[Draggable Column] Error when dragging column; "removeObject is not a function""
Running into a runtime error when using the draggable columns:

`Uncaught TypeError: _columns.removeObject is not a function`

After looking at the code in `addon/mixins/draggable-column.js`, the `toArray()` method is called on the columns array on line 128: `let _columns = columns.toArray();`.

The `toArray()` method will return a regular javascript array, so lines 137-138 will throw errors becau

[2018-11-01 12:58] fran-worley commented on #587
@ajcobo a fix for this has been released in `ember-light-table@2.0.0-beta.1`

[2018-11-02 08:59] fran-worley opened #597 "Set cell rowspan based on row value"
I thought this would be relatively straight forward using a custom cell type:

[code]

However what I find is that row properties are always either null or undefined no matter what I do! Am I missing something?

A followup point to this would be how to disable a cell rendering at all based on a value. Essentially, if my row is 'expanded', I want the first column to span the expanded rows and the e

[2018-11-02 14:03] Kukustar commented on #509
@cmackenz can you published somewhere example with mixin/draggble-row ?
I add this mixin to my component, but it didn't work.

[2018-11-02 15:17] alexander-alvarez commented on #597
Hey @fran-worley sorry you're struggling with this.

It may be because I haven't had my :coffee: but I'm not following this -- would it be possible to throw up a quick demo (or screenshots) that I can see to understand more clearly what you mean?

[2018-11-08 14:05] #587 closed

[2018-11-19 10:27] Gorzas opened #600 "Sort icon gets mounted when the columns are narrow"
I have found that, in tables with a lot of columns or with narrow ones, the sort icon in the header gets mounted by the label like this (you can see it in the last name column):

![screenshot from 2018-11-19 11-14-23](https://user-images.githubusercontent.com/1456562/48700997-b7e7d300-ebed-11e8-96ee-26cfa58414de.png)

What do you think about changing the order of [these lines](https://github.com/o

[2018-11-27 22:13] CrushedPixel opened #602 "Retain table state over component reloads"
I've implemented a component using `ember-light-table` similar to the example on the project's website:

[code]

 However, when leaving and re-entering a route with a table, the `init` function is called again, clearing the `model` and thus all rows.
Is there a way to keep the table state, so that the data isn't reloaded every time the route is switched?

[2018-11-27 22:42] alexander-alvarez commented on #602
Hi @CrushedPixel -- you could put the state in a service, who's lifetime is over the course of the application, so it won't get erased between route transitions unless you change it explicitly

Feel free to reference https://guides.emberjs.com/v3.5.0/applications/services/ for more info

[2018-11-28 13:51] #602 closed

[2018-11-29 23:33] tombakerjr commented on #571
I was experiencing this same issue when upgrading from `1.12.2` to `1.13.x` (I tried them all). It turns out we use an instance initializer to set all of our tables to have fixed headers by default, so the `sharedOptions` refactor resulted in our `fixedHeader: true` on the `light-table` component being ignored. If I switch to setting `fixed: true` on the `lt-head` component, everything works as ex

[2018-12-02 14:09] fran-worley commented on #594
@donaldwasserman looks like https://github.com/EmberSherpa/ember-element-resize-detector/pull/17 was merged - one down... 2 to go!

[2018-12-03 17:47] lougreenwood opened #647 "table.body onScroll action is fired when table is first rendered with occlusion"
The `onScroll` action is fired when the table has occlusion rendering enabled.

This has the effect of always return scroll position of `0` on table load. For us, this causes problems because it overwrites any previously stored scroll position (`@onScroll={{action (mut scrollPosition)}}`).

If occlusion is disabled, the feature works as expected.

[2018-12-03 19:35] alexander-alvarez commented on #647
Thanks for bringing this up! Categorized it so we can investigate it further

[2018-12-11 16:46] #600 closed

[2018-12-14 15:14] piloos opened #659 "Sort icons not compatible with FontAwesome 5"
When using FA5 (in `svg` mode), the sort icons do not toggle anymore.

In FontAwesome (FA) 5, `<i class="fa fa-sort">` style declaration of icons are autoreplaced by `svg`'s

So the rendered HTML looks like this:
[code]
This means changing the class on the `<i>` like attempted here:

`addon/templates/components/columns/base.hbs`
[code]
won't work anymore.

[2018-12-14 16:13] piloos commented on #659
Two workarounds possible:
1. jQuery hack
2. use the built-in custom icon system

[2018-12-28 21:12] efx opened #660 "dragging columns broken on ember-source >= 3.6"
Per [ember deprecations](https://emberjs.com/deprecations/v3.x#toc_use-notifypropertychange-instead-of-propertywillchange-and-propertydidchange), we need to refactor these 2 spots
https://github.com/offirgolan/ember-light-table/blob/master/addon/mixins/draggable-column.js#L141 https://github.com/offirgolan/ember-light-table/blob/master/addon/mixins/draggable-column.js#L135 to use `notifyPropertyCh

[2019-01-08 15:14] efx commented on #660
@alexander-alvarez do you prefer I include the polyfill to support ember-source <= 3.1? I would like to get this fixed and hopefully available in a tagged version of ember-light-table so I don't need to maintain a fork.

[2019-01-11 19:32] lechodiman opened #662 "Deprecation: object.new-constructor"
I'm getting the following deprecation on ember-cli@3.7.1

This message is thrown when extending the [Table class](https://github.com/offirgolan/ember-light-table/blob/d4673d80c4ea622bf2513358f70e28a06e84b45b/addon/classes/Table.js#L30)

[2019-01-22 19:10] codixir opened #663 "Example on incorporating all select and multiselect checkboxes"
I was hoping to find an example how to incorporate an all select checkbox in first cell of the head and the checkboxes for each row in the body. I was able to include row level checkboxes with the cellComponent attribute of the column.
[code]
But not sure if it is possible to add the All select. Could you please provide an example?

[2019-01-23 22:33] alexander-alvarez commented on #663
Hi @codixir .
I think what you're looking for is [component](http://offirgolan.github.io/ember-light-table/docs/classes/Column.html#property_component) to change the column component
Should be able to invoke any component to do whatever you like!

[2019-01-24 19:56] XaserAcheron commented on #476
Heh, I just combed through my app during an upgrade and removed a bunch of dependencies I thought I wasn't using. `ember-responsive` got the axe by accident, and here I am. Welp. :P

Even if the build-time checks are tricky/non-doable, some sort of run-time warning/error in the map that says "hey, install ember-responsive, mate!" would be handy, IMO.

[2019-02-03 17:38] gauravjain028 commented on #662
I am also having same issue.

[2019-02-07 13:24] AndriesDemeulenaere opened #667 "Deprecation: ember-polyfills.deprecate-merge"
Getting the following deprecation:

https://emberjs.com/deprecations/v3.x/#toc_ember-polyfills-deprecate-merge

[2019-02-13 21:26] kmichek commented on #583
Hi, your example is just excellent, thank you very much!

[2019-02-13 21:26] #583 closed

[2019-02-14 05:04] vvelingkar-cci commented on #578
Were you able to fix above one? If no try to add `toArray()` to the model on the route (i.e. where you originally pass in the model to the simple-table component).

[2019-02-15 02:53] maxwondercorn opened #668 "Support angle bracket invocation"
ELT does not support angle bracket invocation..  All the sub components - head, body, foot - support angle brackets.

The issue is around assigning table.

Positional parameters aren't supported but trying

[code]
generates  `Assertion Failed: [ember-light-table] table must be an instance of Table`

[2019-02-16 00:44] BitBrit commented on #500
I'm not sure I understand how to use the above information. As I understand it, a data-test-selector is for use in a test so that something can be selected in a repeatable way. The "row.id" can change therefore a test cannot rely on it to select anything. Am I missing something here?

I think that data-test-selectors for rows and the columns would useful. Each row could have `data-test-row=<row nu

[2019-02-20 08:59] ReasonableDeveloper opened #669 "Column becomes hidden after refreshing page ember-light-table@2.0.0-beta.2"
Hey, first of all thank you for all the work on this library.
I'm using following versions that might be related to the issue.
[code]
I'm having trouble with a column whose default is `hidden: true`. I'm then conditionally setting it to `hidden: false` to display it. This works fine but as soon as I hit refresh, the column is no longer displayed even though I'm still rendering the column.

I'm cre

[2019-02-20 21:22] joelkallman commented on #659
**You can use the `iconComponent` property like so:**

    {{#light-table table height='60vh' as |t|}}

      {{t.head
        iconComponent='light-table-icon'
        iconSortable='sort'
        iconAscending='sort-up'
        iconDescending='sort-down'
      }}

      {{!-- Other table definition --}}

    {{/light-table}}

**Create your component `light-table-icon`**

`light-table-icon.js`

[2019-02-25 21:42] efx commented on #668
@maxwondercorn shouldn't that snippet specify the table property as `@table={{this.table}}`? What happens when you update the snippet? I think pzuraq has a great write up of the syntax [here](https://www.pzuraq.com/coming-soon-in-ember-octane-part-2-angle-brackets-and-named-arguments/).

[2019-02-26 00:13] maxwondercorn commented on #668
I thought I had tried that variation but maybe not. I will verify

[2019-02-26 16:13] melriffe commented on #54
Hello 👋 First, I'm not sure if this is the right place to add my request. Please accept my apologies if a better place is available.

Second, I would like to request additional documentation on the creation of custom cellTypes. I'm using ember-light-table v1.13.2, with ember-cli 2.18.2. I'm relatively new to Ember, and Javascript development in general, and recently started using ember-light-table

[2019-02-26 16:16] maxwondercorn commented on #668
@efx that worked.  I thought I had tried that form,  but obviously not.  pzuraq's post is a pretty good reference.  I had referencing the RFC.  I'll see if I can find time to create a PR to document.

[2019-02-26 16:16] #668 closed

[2019-02-26 16:23] efx commented on #668
nice @maxwondercorn ! Ah, I'll definitely plug that PR as I think more docs always help reduce confusion.

[2019-02-27 04:12] alexander-alvarez commented on #54
@melriffe Welcome to Ember and JS and sorry you've had troubles getting productive with ELT.

Did you find http://offirgolan.github.io/ember-light-table/docs/classes/Column.html#property_cellType ? If so, what's unclear? Documentation is hard and we're always looking for ways to improve especially given the cycles.

The `column.cellType` property gets passed in here https://github.com/offirgolan/e

[2019-02-27 04:27] alexander-alvarez commented on #669
hey @ReasonableDeveloper  sorry for the delay in response (was on vacation).

that seems weird. are you creating `Column` instances or just passing in POJOs?

[2019-02-27 06:39] ReasonableDeveloper commented on #669
The columns I'm passing to the `Table` constructor are plain old JavaScript
objects

On Wed, Feb 27, 2019, 05:27 Alex Alvarez <notifications@github.com> wrote:

[2019-02-27 07:13] alexander-alvarez commented on #669
If you could send a link my way of a reproduction that I can debug, I'd be more than happy to work through this issue with you

[2019-02-28 02:22] melriffe commented on #54
@alexander-alvarez Thank you for the reply, and the welcome.

I did see the reference documentation, but it doesn't make sense to me. Sorry. It would be nice if there was an example on the demo site; for me, it's been the single most helpful bit of documentation.

I created a custom cell type, but it was empty, and I received an error trying to use it. I would welcome a simple sample implementatio

[2019-03-07 11:25] ReasonableDeveloper commented on #669
I tried to reproduce this and while doing so, I figured that the issue was caused by me. I was only initializing the table in the `init` of my `component` and did not mutate the table correctly for the template to pick up the changes and re-render.
I now have a computed `table` property that is updating the `hidden` column according to my needs and it works just as intented. :fireworks:

Thank you

[2019-03-07 11:25] #669 closed

[2019-03-12 00:47] lypborges commented on #662
@buschtoens any guidance to fiz the warnings on the canary build? I can try to work on a fix this weekend. But look like that we should refactor all the Light Table.js https://github.com/offirgolan/ember-light-table/blob/master/addon/components/light-table.js
To  .  I'm not sure how to fix that without a major release. I would love to help.

[2019-03-13 22:35] fran-worley opened #671 "bump vertical-collection version to fix ember deprecation"
html-next/vertical-collection released 1.0.0-beta.13 which fixes the send_action deprecation.

Can we bump the dependency and release a new version?

[2019-03-15 19:15] alexander-alvarez commented on #54
Sorry for the delay... life is kicking my butt right now. I understand you wanting an example and it being better, but I don't really have the time right now

If you give me more details on the error I can help you work through it right now.

long story short is

[code]

in **`templates/components/light-table/cells/name-of-my-cell.hbs`**
[code]
https://github.com/offirgolan/ember-light-table/blob/

[2019-03-17 16:47] fran-worley commented on #671
PR merged - tested locally and the deprecation error has gone so marking as closed.

[2019-03-17 16:47] #671 closed

[2019-03-17 16:48] fran-worley commented on #667
Tested locally following merge of #673 in 2-x branch and deprecation warning has gone so this issue can probably be closed @alexander-alvarez .

[2019-03-19 10:02] fran-worley opened #676 "Fixed header - Show scroll bar all the time"
I had assumed that turning off autoHideScrollbar would result in the scroll bar always being visible.

Turning off autoHide seems to ensure it stays visible, but only becomes visible after scroll has occurred.

I’m raising this as a number of our users have complained of being unable to scroll our tables since we adopted Ember Light Table. On closer inspection, the problem appears to be be with us

[2019-03-19 20:22] alexander-alvarez commented on #676
Hmm....

It seems `autoHide` is working in Ember scrollable as one would expect
https://alphasights.github.io/ember-scrollable/

and it seems wired correctly
https://github.com/offirgolan/ember-light-table/search?q=autoHide&unscoped_q=autoHide

so maybe it has something to do with when we're creating the ember scrollable component.

I don't have much guideance to give in this realm besides acknowl

[2019-03-19 20:32] #667 closed

[2019-03-20 15:17] fran-worley commented on #676
Thanks for the quick reply @alexander-alvarez. I was starting to think that it was to do with how we set `{{#if virtualScrollbar}}` etc.

But I'm really struggling to work out exactly how it's being set...

[2019-03-20 16:44] fran-worley commented on #676
@alexander-alvarez it seems to be working fine when rendering a table with an existing set of rows, but when the rows are being fetched from the server the scrollbar doesn't render.

I wonder if the issue is actually to do with the timing of setting up ember-scrollable. On-load, the table is empty (so no scrollbar is needed and none is rendered 👍) we then fetch some data, and load it into the tabl

[2019-03-20 16:51] fran-worley commented on #676
Possible related to https://github.com/alphasights/ember-scrollable/issues/85 ?

[2019-03-21 17:09] alexander-alvarez commented on #676
@fran-worley  great research work... It seems like we're probably encountering that issue. Checking your PR now.

[2019-03-24 22:19] MichalBryxi opened #678 "Remove all instances of sendAction"
[This PR](https://github.com/offirgolan/ember-light-table/pull/590/files) started removing deprecated `sendAction` calls.

But I believe there are some instances of sendAction that you probably missed: https://github.com/offirgolan/ember-light-table/blob/2-x/addon/mixins/table-header.js#L181

Maybe they are not intended to be in use, but I'm basically copy-pasting the examples from your guides and

[2019-03-28 12:50] fran-worley commented on #676
Closing as MR that fixes the problem has been merged in 2.x branch.

[2019-03-28 12:50] #676 closed

[2019-04-08 17:17] hefox opened #683 "Overflow: hidden on lt-body-wrap interferes with visibility of bootstrap dropdown"
Hiya,

Just updated 1.8.6 to 1.13.2, and our dropdowns stopped being visible when they pass the edge of the table

![Screen Shot 2019-04-08 at 10 15 53 AM](https://user-images.githubusercontent.com/150463/55743497-516e2080-59e7-11e9-81b4-6559db43e482.png)

This is directly from the overflow-y: hidden on the lt-body-wrap class. Removing it, everything appears to work correctly but I am guessing it

[2019-04-11 13:51] melriffe commented on #54
Alex, completely understand about life kicking some butt. :-)

I will try to capture the error I'm receiving soonish.

Thank you for your patience.

On Fri, Mar 15, 2019 at 3:15 PM Alex Alvarez <notifications@github.com>
wrote:

[2019-04-11 16:53] melriffe commented on #54
Alex,

Here's a bit of feedback:

$ ember generate cell-type light-table/total-error-count --pod
installing cell-type
  create app/components/light-table/cells/light-table/total-error-count.js
installing cell-type-test
  create
tests/integration/components/light-table/cells/light-table/total-error-count-test.js

It appears no template is created when generating a new cell-type.

I'll manually crea

[2019-04-11 17:29] melriffe commented on #54
Alex,

Even more feedback: I got it working and here's what I had to do:

* create app/components/light-table/cells/total-error-count/component.js
* create app/components/light-table/cells/total-error-count/template.hbs

Now to get it work with my app's requirements. :-D

On Thu, Apr 11, 2019 at 12:52 PM Mel Riffe <mriffe@gmail.com> wrote:

[2019-04-18 09:01] kmichek opened #684 "Close body.expanded-row programmatically"
Hi, I use a form component to edit the line selected via body.expanded-row. Is there a way to close the expanded row from within the form component, please? Thank you.

[2019-04-29 09:04] fran-worley commented on #678
@MichalBryxi there definitely are still a few that have been missed. Did you want to open up a PR to continue the removal process? I may have some time in the next couple of weeks to pickup/ help with this as I'm keen to get current Ember deprecations sorted on the 2.x branch.

[2019-05-03 22:19] MichalBryxi commented on #678
@fran-worley - https://github.com/offirgolan/ember-light-table/pull/686

[2019-05-09 22:47] aaronlelevier commented on #284
Bump

Is horizontal scroll supported?

I tried adding `ember-scrollable` to wrap the `light-table`, but it didn't work.

[code]

Any help is appreciated. Thanks

[2019-05-10 15:24] fran-worley commented on #678
@alexander-alvarez I believe this can be closed as the PR was merged and released as part of 2.0.0.beta.3

[2019-05-10 18:44] joeypedicini92 commented on #542
Just want to bring this back up I'm running into a performance problem and occlusion seems to be the solution for me, however I need expandable rows.

I tried adding the expanded-row into the virtual-collection part of the template and everything seems to work fine I'm not noticing anything weird at all.

What's the reason (if any) for not allowing expandable rows using occlusion?

[2019-05-12 08:16] #678 closed

[2019-05-13 15:21] alexander-alvarez commented on #284
It's not currently. There's a quite a bit of work to be done with freezing rows/columns/etc which makes the horizontal scroll complete. That I know of, it isn't being tackled at the moment

[2019-05-16 22:28] mmadsen2 commented on #660
Any chance this could be fixed in an upcoming beta?  This is literally the only thing preventing me from upgrading to the latest Ember LTS (3.8).

[2019-05-16 23:41] mshirey commented on #506
I know this is a little old, but the original post states the users are encountering this error: "[ember-light-table] table must be an instance of Table", but doesn't explain the error... which I've encountered.

[2019-05-17 00:04] mshirey opened #688 "Getting started guidance and support for angle bracket syntax"
Error: Assertion Failed: [ember-light-table] table must be an instance of Table

Getting this error while I've confirmed we are creating an instance of the Table.  This is a seriously uninformative error that has left us at a brick wall.  We've followed the documentation as best as we could and used supplimental materials such as (https://github.com/Stoiker/ember-light-table-hello-world) as well a

[2019-05-17 05:40] FrankWang1991 opened #689 "can I custom my table header cell?"
I want my header cell ,someone can sort ,someone can filter.like this:
![image](https://user-images.githubusercontent.com/21688648/57905465-3e355700-78a9-11e9-8f29-9c80c6ff504e.png)
can I ?

[2019-05-17 10:12] fran-worley commented on #660
@mmadsen2 if you wanted to help speed this up you could draft a PR.... 😄

[2019-05-18 07:58] fran-worley opened #691 "Deprecation: computed volatile"
Two cases in use in 2.x branch:
https://github.com/offirgolan/ember-light-table/blob/2-x/addon/components/lt-column-resizer.js#L20
https://github.com/offirgolan/ember-light-table/blob/2-x/addon/mixins/draggable-column.js#L45

[2019-05-18 08:03] fran-worley commented on #688
@mshirey without some idea of the code you've put together it'll be pretty hard for anyone to help! Can you post an extract or reproduction?

[2019-05-18 08:06] fran-worley commented on #580
Thanks for raising this issue. If you are still struggling please reopen with me details but for now I'm going to close due to its age and lack of information.

[2019-05-18 08:06] #580 closed

[2019-05-18 08:08] fran-worley commented on #577
To investigate we'd need more information about the version of ember, ELT and other key packages you're using.  Please reopen if this is still an issue and provide some more information and someone will take a look. Thanks !

[2019-05-18 08:08] #577 closed

[2019-05-18 08:11] fran-worley commented on #481
@krnbatta I believe your question has been answered so I'm going to close this. If you're still having problems feel free to reopen.

[2019-05-18 08:11] #481 closed

[2019-05-18 08:18] fran-worley commented on #570
@bgentry I believe resize detector has been bumped since you raised this and I've certainly not hit upon this in my apps. Please respond if you're still having issues.

[2019-05-18 08:18] #570 closed

[2019-05-20 16:35] mmadsen2 commented on #660
I gave it a shot @fran-worley.  I hope I did everything correctly, this is my first PR to a third-party addon...

[2019-05-20 17:40] alexander-alvarez commented on #688
@mshirey  sorry about that. did you track through the other issues with the same problem and how we helped them fixed it?

https://github.com/offirgolan/ember-light-table/issues/544 (and the ones referenced in that one)
this assertion means that you're not properly ivoking the addon which has been an issue others have come across also

[2019-05-20 18:25] mshirey commented on #688
Hi Alex,

Thank you for the reply.  Yes, I’ve looked through the supplied links an none actually explain what this error is or help to provide any indication of why I’m encountering it.  I found the “ember-light-table-hello-world” repo while researching Ember Light Table and while it is a little helpful, it contains a number of errors and inconsistencies that keep it from being the valuable resour

[2019-05-21 08:54] fran-worley commented on #691
The migration path for this involves using native getters and the [polyfill](https://github.com/pzuraq/ember-decorators-polyfill) only supports ember 3.4+ which would require us to bump the minimum version on this branch.

[2019-05-21 08:55] fran-worley commented on #660
This has now been merged into 2.x branch and will be shipped in the next beta version - thanks @mmadsen2 !

[2019-05-21 08:55] #660 closed

[2019-05-21 20:39] alexander-alvarez commented on #688
Thanks @mshirey  for debugging all that, and sorry you had the issues.

Is very helpful for us to be able to answer your questions. If we new what you were experiencing we would have prevented it from happening. Generally speaking that assertion is hit when the table isn't passed in. I'd have to investigate more to give you a definite answer as to what happened.

The intent is to support angle bra

[2019-05-22 08:51] fran-worley commented on #688
@mshirey @alexander-alvarez I'm just working through updating dependencies for ELT which includes emberjs and ember cli. Once I've done this we can turn our attention to 'officially' supporting angle bracket syntax.

I believe we can pull in the work started here for the docs https://github.com/offirgolan/ember-light-table/pull/670 though we should probably add some tests too for good measure!

[2019-05-22 15:04] mshirey commented on #688
Thank you so much @fran-worley .  I can confirm that I ran into the "Error: Assertion Failed: [ember-light-table] table must be an instance of Table" issue working through the ember-light-table-hello-world example.  All I did was convert the handlebars to angle brackets.  Once I encountered the error, on a hunch, I switched it back to handlebars and the error resolved itself.  I don't have that co

[2019-05-22 17:47] fran-worley commented on #688
Thats really helpful @mshirey I think the answer is probably for us to add a getting started page into the cookbook https://offirgolan.github.io/ember-light-table/#/cookbook .

I think you've pointed us in the direction of how you hit this error so that should be enough to go on for now. As a side point if you're trying to use ember-light-table in a >3.1 ember project I would advise you to checkou

[2019-05-26 08:13] fran-worley opened #694 "using onScrollToBottom without fixed headers"
A potential fix for this was raised here:
https://github.com/offirgolan/ember-light-table/pull/674

However this doesn't seem to address the underlying issue that it appears possible to use onScrollToBottom without fixed headers when in reality this simply doesn't work with the current implementation.

We should either:
1. Support this out the box and ensure our ember infinity scrollContent select

[2019-05-26 10:57] fran-worley commented on #595
Closing as this has been merged into master and 2.x (unreleased in both cases).

[2019-05-26 10:57] #595 closed

[2019-05-26 11:00] fran-worley commented on #571
I believe the confusion here is related to https://github.com/offirgolan/ember-light-table/issues/694

Thanks @tombakerjr for posting a resolution - I'm going to close this as we can track via #694

[2019-05-26 11:00] #571 closed

[2019-05-26 23:14] muziejus opened #699 "TypeError: Cannot read property 'Symbol()' of undefined when initializing new Table"
All, I think this is related to #688, as I was having the "instance of Table" problem before. Here is the component:

[code]

This persistently crashes with the error above as an uncaught error in a promise, and it points to the `super()` invocation in ELT's `Table` class definition's constructor.

If I try to change that line to something like `super(...arguments)`, I get a new error:

Using the

[2019-05-27 07:52] fran-worley commented on #699
@muziejus Thanks for such a detailed post. The route of the issue I believe is actually (here)[https://github.com/offirgolan/ember-light-table/issues/444] as the way ELT defines it's classes isn't officially supported by Ember. This raises deprecation warnings in ember 3.8 (see #662) and hard errors in Ember 3.10+.

I'm working on fixing this as we speak and it should ship at ELT 2.0 beta 4 hopefu

[2019-05-27 23:58] muziejus commented on #699
Excellent. Thanks!

[2019-05-27 23:58] #699 closed

[2019-06-03 07:06] curtu commented on #368
I would like to have a custom title option (cand edit the text, or maybee a function like in format case) not only boolean and be the the valuePath
- for example I need to show more info about the cell. (where data comes from)

[2019-06-04 07:17] Techn1x commented on #500
This helped me a lot, thanks. Would be great if we could somehow implement this, then specify a new default column component for ELT to use (instead of having to then specify it for every column)

[code]
Then something like this
[code]
Instead of
[code]

[2019-06-14 08:04] AlexAndBear opened #702 "occlusion rendering css problem in boostrap card"
lightweight bug in rendering occlusion top right scroller while in bootstraps card:
![Bildschirmfoto vom 2019-06-14 10-03-40](https://user-images.githubusercontent.com/26169327/59493690-b6cd0a80-8e8b-11e9-855e-69dc0717c8e0.png)

[2019-06-20 20:57] RKennedy9064 opened #703 "Multiple tables on the same page"
Is it currently possible to have two ember light tables on the same page? I tried creating a TableCommon component and extended it so I could reuse the same logic for multiple tables. TableA and TableB both load correctly when they're alone on a page, but as soon as I add more then one table, only the first one works. The rest load with the correct headers, but they're always empty and one of the

[2019-06-21 08:08] fran-worley commented on #703
Thanks for getting in touch - can you confirm which version of Ember Light Table you're using? I know we merged a PR to fix closure actions for multiple tables on a page so either you're using the wrong version or our fix isn't 100%!!

[2019-06-21 15:08] RKennedy9064 commented on #703
Sure no problem.

EMBER: 3.10.1
ember-light-table: 2.0.0-beta.3

I also did a bit more testing and added a call to onScrolledToBottom and a logging message in the onScrolledToBottomAction in init like so.

    init() {
        this._super(...arguments);
        this.set('model', A());
        this.send('onScrolledToBottom');
    }

When I manually call onScrolledToBottom in init, all the tables ar

[2019-06-21 18:30] fran-worley commented on #703
@RKennedy9064 can you try using the 2.x branch from master? The [PR](https://github.com/offirgolan/ember-light-table/blob/2-x/CHANGELOG.md) that should resolve this issue was missed from the beta3 version (see the [changelog](https://github.com/offirgolan/ember-light-table/blob/2-x/CHANGELOG.md) for v2 branch).

If this fixes it we'll try and get a beta 4 release out ASAP!

[2019-06-21 21:02] RKennedy9064 commented on #703
I tried installing ember-light-table from https://github.com/offirgolan/ember-light-table.git#2-x and received this error.

    Uncaught Error: Compile Error: compute is not a helper
    at opcode-compiler.js:294
    at Compilers.compile (opcode-compiler.js:41)
    at LazyOpcodeBuilder.expr (opcode-compiler.js:1848)
    at LazyOpcodeBuilder.compileParams (opcode-compiler.js:2551)
    at LazyOpcode

[2019-06-21 21:35] fran-worley commented on #703
Ion glad the PR I referred to fixes your issue. We'll need to get you going with the 2.x branch though as that's where we're working on ember 3.4+ compliance. I'll take a look at your compile issue soon and come back to you.

[2019-06-24 12:45] jguerao opened #704 "Table with attributes of different source"
Hi there!
I'm trying to make a table with ember-light-table which has 4 columns with these attributes:
- String value from a model
- Numeric value from the same model
- Numeric value from a list
- Calculated value from these numeric values.

Which would be the best way to create this table?
I'm not sure if this is the right place to ask this, if not let me know :)

[2019-06-24 18:24] kmichek commented on #684
Hi, solved this, not sure if correctly, but it works:
const self = this;
later((function() {
   self.parentView.row.set('expanded', false);
}), 0);

[2019-06-27 07:00] #704 closed

[2019-06-28 16:46] RKennedy9064 opened #705 "Possible Scroll Speed Issue?"
I've been working on adding ember-light-table to my current project and the QA on my team noticed something weird. It seems like it happens sporadically and is hard to reproduce, but we've noticed that depending on how fast you scroll, it increments the page and starts a new request, but never loads the previous requests records. This ends up leaving the table in a state where it thinks it's reach

[2019-07-01 16:34] efx commented on #662
@fran-worley thank you for fixing the deprecation! anything else needed or can we close this issue?

[2019-07-05 12:15] trdp30 commented on #434
We are in need of this feature.
Where are you guys in this feature?

[2019-07-08 07:54] schekin opened #706 "error after upgrade ember 3.11 in new Table(...)"
Error: Assertion Failed: An EmberObject based class, (unknown), was not instantiated correctly. You may have either used `new` instead of `.create()`, or not passed arguments to your call to super in the constructor: `super(...arguments)`. If you are trying to use `new`, consider using native classes without extending from EmberObject.
    at assert (http://localhost:4200/assets/vendor.js:53858:17

[2019-07-08 08:16] fran-worley commented on #706
Thanks for getting in touch - we're aware of this, please see the fix in this PR https://github.com/offirgolan/ember-light-table/pull/701

[2019-07-08 08:16] #706 closed

[2019-07-08 22:12] muziejus opened #707 "Fixed Header, no Body"
First, I'm using @fran-worley's native class PR version of ELT (#701) on Ember 3.11. Everything seems to work fine, _until_ I set `fixed=true` on the header. I've tried to reproduce this with a blank app, but I'm running into other problems related to Glimmer/Ember-cli/whatever, so I want to ask here before I spend more time trying to get the blank app to break in the way my app is!

Namely, this

[2019-07-08 22:21] muziejus commented on #707
I am able to get the table contents to appear if I force a height on `.lt-body-wrap`, but I suspect that's not a long-term solution?

[2019-07-08 22:41] muziejus commented on #707
Similarly, forcing a height to `.ember-light-table` fixes the problem as well, but the solution is not as elegant as what I get with the header unfixed, which is that the table gobbles up the rest of the space it has available.

Fixed on:

![Screenshot 2019-07-08 at 18 37 25](https://user-images.githubusercontent.com/827683/60847213-f7c8ee00-a1af-11e9-80fc-fb3a73167e48.png)

Fixed off (you can see

[2019-07-09 06:26] fran-worley commented on #707
@muziejus had this been working in the past with older versions or are you new to ELT? Our funny app examples seem to be coping, even with the fixed headers but in fairness I've not run these of ember 3.11 yet!! I'll be running some visual tests prior to merging the main PR so I'll let you know if I can recreate otherwise a dummy app example might be necessary...

[2019-07-09 16:59] muziejus commented on #707
Thanks for writing. I've never implemented ELT before, and I was holding off on my current project because of the native class syntax issue you already seemed to take care of.

To clarify, the invocation here:

https://github.com/wandertext/wandertext/blob/ember-table/app/templates/components/entry-grid-table.hbs

Should be sufficient (assuming `fixed=true` is also passed)? I don't have to explici

[2019-07-09 17:01] muziejus commented on #707
That is:

[code]

[2019-07-09 18:37] muziejus commented on #707
As for dummy apps, I've tried to make a blank octane app and get what I think is the most basic table imaginable:

https://github.com/muziejus/elt-octane-test

Which gives me the previously never seen `Error: Compile Error: compute is not a helper` which I suspect has something to do with glimmer?

Hopefully this kind of reporting is useful?

![Screenshot 2019-07-09 at 14 36 30](https://user-image

[2019-07-10 09:44] fran-worley commented on #707
@muziejus I'm not entirely sure the cause of the compile error but it was also noted here - https://github.com/offirgolan/ember-light-table/issues/703#issuecomment-504571978

Thank you so much for your detailed information - rest assured, we'll get fixed headers working as it's pretty critical for most people. I'm pretty tied up this week but will try to find some time next week to work on the PR

[2019-07-10 15:33] muziejus commented on #707
Thanks! I've got a stable work around for the time being using boring tables that will get me through the summer I think, but I do want to be a part of the ELT community once I open up the app I'm working on!

Incidentally, I can confirm that at one point I had fixed headers *and* `scrollToBottom` working on my Octane app.

[2019-07-11 08:49] K10Codes opened #708 "How to provide colspan to different columns in a row."
Hi , I have a table structure where the first <th> has colspan 2 and rest have colspan 1
While preparing rows for table i want the same behavior. i.e. every <tr>'s first <td> should have colpsan 2 and rest have colspan 1

[2019-07-18 15:54] lougreenwood commented on #706
I don't think this should be a closed issue until the PR is merged.

I've been tracking down this issue all afternoon and only just stumbled across the issue & PR by accident.

[2019-07-23 12:44] lougreenwood opened #710 "scrollTo does not work for initialised value"
When an `lt-body` is initialised with a value for `@scrollTo`, the table does not automatically scroll to this position.

Instead `scrollTo` only seems to work if a value is provided after the initial render.

I'm willing to take a look at fixing this, but I'm finding it hard to find the code where the scroll is actually registered for a `scrollTo`, so any pointers are welcome :)

[2019-07-23 19:24] lougreenwood commented on #710
Ok, I think I've figured out the issue...

Because scrollTo is triggered when via `didReceiveAttributes`, the `@scrollTo` arg is processed before the table renders.

Additionally, because the implementation relies on a private `_scrollTo` property - where if this value matches the `@scrollTo` arg, the implication is that scroll was successful and should not be re-triggered. But the issue here is t

[2019-08-19 11:06] fran-worley commented on #659
I've just managed to do this with an app of mine using the instructions [here](@html-next/vertical-collection) so am marking this as closed.

[2019-08-19 11:06] #659 closed

[2019-08-19 11:42] fran-worley opened #715 "TypeError: Class constructor Promise cannot be invoked without 'new'"
This error is appearing in the ember-beta build (3.13+) for all tests relating to occlusion.

[2019-08-19 12:17] fran-worley commented on #662
For anyone still encountering this issue please install ELT from the 2.x. You should find any compile issues have also been resolved. A new beta release should be out soon.

[2019-08-19 15:17] alexander-alvarez commented on #662
`ember-light-table@2.0.0-beta.4` is tagged and released

[2019-08-19 16:23] #662 closed

[2019-08-19 16:25] fran-worley commented on #703
@RKennedy9064 you should find that the latest 2.0.0.beta4 release fixes this issue and the compile error you were experiencing. Feel free to reopen if you're having issues.

[2019-08-19 16:25] #703 closed

[2019-08-19 16:28] fran-worley commented on #707
@muziejus you should find the compile error you were experiencing has been fixed in the beta 4 release (please note the breaking API changes before you upgrade!).

I believe that you need to set the height on the table itself when using fixed. See the example here http://offirgolan.github.io/ember-light-table/#/scrolling

If you are still having problems please reopen this issue.

[2019-08-19 16:28] #707 closed

[2019-08-19 16:36] fran-worley commented on #715
This issue appears to be caused by @html-next/vertical-collection so tracking issue https://github.com/html-next/vertical-collection/issues/290

[2019-08-19 16:37] muziejus commented on #707
Super, thanks!

[2019-08-20 13:02] tniezurawski commented on #600
This solution breaks our layout. IMHO it is crafted very much into specific needs now.

We show sorting arrows next to the text by overwriting this style to `float: none`:
[code]

After this change, you are forced to use this specific layout where arrows go to the far right. Removing `float: right` leads to arrows shown on the left side, before the label:

![image](https://user-images.githubuserco

[2019-08-20 13:46] fran-worley commented on #594
I'm going to escalate this to BUG now as from ember 3.9 the use of `this.$()` was [deprecated](https://deprecations.emberjs.com/v3.x#toc_jquery-apis).

The use of jQuery directly in ELT has been removed but it remains in ember scrollable pending completion of https://github.com/alphasights/ember-scrollable/pull/98

[2019-08-20 14:29] day-0 opened #717 "Programmatically Load Expanded Row's Data"
I was wondering if it was possible to load the data into the expandable component depending on the row being clicked and not have it pre-populated.

I ask this as the amount of data being returned is a lot and would like to re move the data that is used in the expandable component into a separate end point.

{{#light-table table height='65vh' as |t|}}
        {{t.head fixed=true}}
        {{#t.bod

[2019-08-20 14:50] fran-worley commented on #691
See #718 for PR

[2019-08-20 15:03] donaldwasserman commented on #594
Hey @fran-worley - I made some progress on ember-scrollable last week, but there are some failing tests I couldn’t figure out and I’m traveling this week. Feedback welcome on that if you have any ideas!

[2019-08-22 19:28] cwsault opened #719 "querySelector errors when resizing columns in 2."
Using `ember-light-table` version `2.0.0-beta.4` and Ember 3.9, I am seeing these thrown when using the resize handles to alter a column's width, which breaks any following attempts to resize the same column:

[code]

It appears that the selectors here in [/addon/components/lt-column-resizer.js](https://github.com/offirgolan/ember-light-table/blob/2-x/addon/components/lt-column-resizer.js#L94) are

[2019-08-23 10:41] fran-worley commented on #691
PR has been merged - closing

[2019-08-23 10:41] #691 closed

[2019-08-23 10:43] fran-worley commented on #719
@cwsault Thanks for reporting I'll try and look into this soon and hopefully ship a fix with beta5

[2019-08-23 18:31] cwsault commented on #719
@fran-worley FWIW, I think there may exist a deeper-running issue with resizing at the moment as well -- I tried adding in null checks locally (and also just adding some cells matching the selector to an extra table header/footer...), and while it does fix the errors, the header will only resize once (meaning until the mouse is released -- it expand and shrink freely until then).

Once released, f

[2019-08-26 07:45] hoichong opened #720 "ELT v2.0.0-beta.4 with enablesync"
Is the enableSync option working? I am using ELT 2.0.0-beta.4  with ember.js v3.11.0
Everything seems to work, except that ELT did not automatically refresh the table with new values after the model has been updated.

This is how I am creating the Table object...

    let table = Table.create({columns: this.get('columns'), rows: this.get('model1')},{
      enableSync: this.get('enableSync')
    })

[2019-08-26 08:33] fran-worley commented on #720
Hi @hoichong - I'm using it production on a couple of projects and it seems to be working fine. It looks like your creating it correctly - are you able to put up a reproduction app then I can investigate further?

[2019-08-29 08:22] AdminDev826 opened #721 "`onRowClick` not working in iPhone browser."
`onRowClick` is works well in the PC, Android, but not working `iPhone`.
No calling `action` but selecting the row.(highlighted the row).

[2019-08-29 11:03] fran-worley commented on #721
@AdminDev826 have you ensured that your TR has `cursor: pointer` set in the CSS? There is a long standing (first reported in jQuery back in 2010) 'known bug' with iOS Safari where click events aren't triggered. The simplest workaround is to add `cursor: pointer` to the tr.

If you're still having difficulty then I'll need more information about your app (ember version, ELT version, sample code etc

[2019-08-30 07:25] AdminDev826 commented on #721
Hello @fran-worley
Thank you for your kind message.
I've added 'cursor: pointer;` but still no luck..
I am going to use `onRowDoubleClick`..

[2019-08-30 07:51] fran-worley commented on #721
@AdminDev826 if you need more help I'll need code samples and version numbers... 😃

[2019-08-30 07:58] AdminDev826 commented on #721
[code]
[code]

[code]

[2019-08-30 08:19] AdminDev826 commented on #721
I think I may need to add `selectOnClick=false` option also..

[2019-08-30 12:31] AdminDev826 commented on #721
Finally, it works. :D
Thank you. @fran-worley

[2019-08-30 12:31] #721 closed

[2019-09-27 12:41] lindyhopchris commented on #720
I'm seeing this problem too - after calling `model.clear()` the table isn't refreshing. Previously was because `onScrolledToBottom` action would be triggered.

My work around is I'm having to manually do `this.send('onScrolledToBottom')` after clearing the model array. Didn't previously need to do that.

[2019-09-30 21:06] TomaszWegrzyn commented on #719
I found few issues with the resizing(2.x), including:
- query selector error(as mentioned)
- header cells not moving while footer cells are being resized
- the header resizing only once(GJ @cwsault on extensive description)

...I believe I already fixed all of those. I hope I will be able to make a PR tomorrow once I test everything.

[2019-10-08 10:56] saverio-kantox commented on #717
You can use a contextual component which will load data only when instantiated:

## expanded row component
[code]

## data loader component template
[code]
## data loader component
[code]

[2019-10-11 15:32] lindyhopchris commented on #720
The other thing I've noticed, which is possibly related... if your first load retrieves models that don't fill the whole table but there are more models to load, the `onScrolledToBottom` action isn't triggered - whereas previously it would.

[2019-10-25 12:06] TomaszWegrzyn commented on #719
@offirgolan @fran-worley Could you take a look at the fix I provided? We need this issue to be fixed, would be great to know when can we expect new version :)

[2019-10-30 10:45] Laxix opened #723 "Responsive table with Occlusion"
I'm using Ember Light table for large data set (around 5000 records) and started to use Occlusion to resolve the performance issue which works great.
However, after enabling occlusion, the table is no longer responsive and expandable rows not working (this can be reproduce with Occlusion demo table as well). Both responsiveness as well as 5000 rows support is critical for my table. :(
So please pl

[2019-11-14 15:33] TheLooseCannon opened #724 "It appears that ember-light-table is having lot of issues with ember-octane? are there any solutions for this that i should look into? has anyone else had these issues?"
[ember-light-table] table must be an instance of Table

This is the error thats popping up right now

[2019-11-14 22:09] melriffe opened #725 "Ever expanding .tse-scroll-content height value..."
This is mostly a request to help debug this issue because there is where my lack of Javascript and CSS experience is glaring.

**Background:**
* Ember 2.18.x
* ember-light-table 1.13.2
* exhibited in Brave Browser and Safari Browser

**Issue:**
I have a component that hosts a "table" component and an "editor" component. The "table" component hosts an instance of ember-light-table (mostly 'by the b

[2019-11-20 18:02] melriffe commented on #725
A follow-up, of sorts.

Looks like I can trigger this behavior when resizing the window. It appears an endless loop is created whereby the div with the .tse-scroll-content class has its height updated. That element is created by the ember-scrollable addon/dependency.

Debugging JavaScript is not a strong point for me. Any ideas what would/could cause this endless loop? Any ideas on how I might be

[2019-11-20 18:23] melriffe commented on #725
(Hopefully) Final update.

It appears the vendor.css reference was removed from index.html, causing all kinds of weirdness since the .ember-light-table styles were not present. Adding this back in seems to have fixed this issue.

Thank you for your time.

[2019-11-20 18:36] melriffe commented on #725
Question: How can I include the ember-light-table styles in my app.scss like I can with ember-bootstrap: `@import "ember-bootstrap/bootstrap";`

[2019-12-20 07:18] Rajkiran0147 opened #726 "Error: Assertion Failed: [ember-light-table] table must be an instance of Table. Ember 3.11 and above"
Tried upgrading an application to Ember 3.11 and seeing this Error: Assertion Failed: [ember-light-table] table must be an instance of Table error. In `https://github.com/offirgolan/ember-light-table/blob/master/addon/components/light-table.js` init method, the table is null.

<img width="820" alt="Screenshot 2019-12-20 at 12 48 57 PM" src="https://user-images.githubusercontent.com/16320704/712372

[2019-12-25 14:39] maxwondercorn commented on #726
Above Ember 3.5 you need to use the V2 beta version.  I think the latest is v2.0.0-beta.4 and you no longer use `new` to create a table.  Now you do a `table.create`

[code]

[2020-01-11 15:31] rwwagner90 opened #728 "Transferring to adopted-ember-addons"
Hi @offirgolan, what would you think about transferring this to https://github.com/adopted-ember-addons so that more community members could jump in and help maintain it?

[2020-01-11 23:38] offirgolan commented on #728
Im ok with that unless any of the current maintainers object.

[2020-01-14 00:50] donaldwasserman commented on #594
Hi @fran-worley see https://github.com/alphasights/ember-scrollable/pull/98 tests should be passing soon.

[2020-01-14 15:03] rwwagner90 commented on #728
@buschtoens @alexander-alvarez @snewcomer any objections?

[2020-01-14 16:05] snewcomer commented on #728
zilch.  Great idea!

[2020-01-14 21:48] offirgolan commented on #728
@rwwagner90 whats the process for transferring the repo over?

[2020-01-14 21:52] rwwagner90 commented on #728
@offirgolan there is a checklist here https://github.com/adopted-ember-addons/program-guidelines/blob/master/README.md

I have not added myself to the list there, but please add me as a maintainer on npm as well, I am rwwagner90 everywhere.

[2020-01-17 14:19] fran-worley commented on #594
This was addressed in 2.0.0-beta.5 so marking as resolved

[2020-01-17 14:19] #594 closed

[2020-01-18 15:23] BillBrower commented on #720
This is still an issue with ELT 2.0.0-beta.5.

[2020-01-20 20:48] richard-viney commented on #724
You'll need to be on the latest 2.0 beta release, and use `Table.create(...)` rather than `new Table(...)`. See https://github.com/offirgolan/ember-light-table/issues/726.

[2020-02-14 10:21] arun-jerry commented on #570
We are still facing this issue even after upgrading ember-scrollable and moving the tests to Qunit

[2020-03-26 10:53] Gorzas opened #730 "Selectors get hidden in the last row of a table"
I've seen [this line](https://github.com/offirgolan/ember-light-table/blob/master/addon/styles/addon.css#L41) hides everything that overflows the table so, if you add a selector with some options in the last row, this get hidden.

Is it really needed the `overflow: hidden` rule? Can we remove it or something would get broken? What do you think?

[2020-03-27 14:28] rafael-mindreau opened #731 "Error: You attempted to overwrite the built-in helper “array”."
Using Ember `3.17.1` with ELT `2.0.0-beta.5` we get the following error:

[code]

Tracking this down via [this issue](https://stackoverflow.com/questions/60746799/error-you-attempted-to-overwrite-the-built-in-helper-array-where-is-this-com), it originates from using `ember-composable-helpers` on a lower version than `3.x.x`. When I manually force this in the package-lock to be updated, everything

[2020-04-02 14:10] fpauser commented on #731
ELT seems to work with the latest `ember-composable-helpers`.
As a workaround I added this to the package.json to force yarn to use the latest version of `ember-composable-helpers`:
[code]

[2020-04-06 14:33] rwwagner90 commented on #728
@offirgolan can you make me an admin of the repo and give me permissions on npm? After that, I can transfer it over.

[2020-04-06 15:59] MikiDi commented on #731
see #732

[2020-04-07 04:19] #726 closed

[2020-04-07 04:31] fran-worley commented on #715
This now seems to be fixed as the underlying ember bug is sorted.

[2020-04-07 04:31] #715 closed

[2020-04-07 04:33] fran-worley commented on #724
There are a few issues with Octane, though none should stop you from being able to use the addon providing you're on v2.x as @richard-viney has said.

We're actively working on full support for Octane features as we speak so keep in touch!

[2020-04-07 04:33] #724 closed

[2020-04-07 04:35] fran-worley commented on #731
The best solution to this is to replace our one use of the compute helper and drop the composable helpers dependency. The new version of the addon requires ember 3.13 which limits our ability to support older versions of Ember.

I'll try and get this fixed for the new v2 release.

[2020-04-07 06:00] fran-worley opened #739 "Release v2.0.0?"
@alexander-alvarez what are your thoughts on releasing a full version of v2.x once the errors in v3.4 are fixed?

The current v2.x branch provides deprecation free support for ember v3.4 - v3.16 with basic angle bracket syntax support. This branch has been in development for years so it would be good to get a full version released!

We could then start work on a v3 which could make use of glimmer

[2020-04-07 06:06] fran-worley commented on #720
I suspect this https://github.com/offirgolan/ember-light-table/issues/720#issuecomment-541112869 is the route cause of the issue as I too can replicate this in production.

I'm currently working on improved octane support but will try and look into this soon. If anyone wants to investigate and start a PR (even a WIP) that would be awesome!

[2020-04-07 15:18] alexander-alvarez commented on #739
Sounds like a great idea. Did we ever get your publish rights?

[2020-04-07 15:22] fran-worley commented on #739
@alexander-alvarez I've just checked ruby-gems and I don't have rights - can you give them to me?

[2020-04-07 15:26] alexander-alvarez commented on #739
what's your npm username?

[2020-04-07 15:29] fran-worley commented on #739
fworley - just created an account!

[2020-04-08 13:03] fran-worley commented on #688
@mshirey I suspect you've moved on by now but I've got Angle Brackets working on the 2.x branch in our dummy app. Please see the following file for a simple example.
https://github.com/offirgolan/ember-light-table/blob/77a43766cf86c6f9058d83d1c519b9340a0ebb4a/tests/dummy/app/templates/components/simple-table.hbs

The docs will be updated in the next couple of weeks as we release v2.0.0 (see #739)

[2020-04-08 13:03] #688 closed

[2020-04-16 01:14] roberkules opened #740 "ember-composable-helpers@3.1 addon incompatibility in 2.0 beta"
I guess it should be fixed in ember-composable-helpers addon, but anyhow, ember-light-table could bump the version to 3.x anyways

see https://github.com/DockYard/ember-composable-helpers/issues/356

[2020-04-16 07:37] fran-worley commented on #740
See #737

[2020-04-16 07:37] #740 closed

[2020-04-20 15:55] Gorzas commented on #739
@fran-worley Can I help with the roadmap of ember-light-table?

[2020-04-20 16:04] fran-worley commented on #739
@Gorzas yes please!! If we can fix the failing tests on the 2.x branch for ember 3.4 we can do a full release of 2.0.0.

Otherwise do you want to start a v3 branch (off V2.x and start on octane optimising? We can begin with basic admin - dropping support for earlier versions of ember, converting to native classes with decorators etc. Then we should start a new issue to review the component API as

[2020-04-20 16:08] Gorzas commented on #739
Ok, I'm going to take a look on this failing tests first :).

[2020-04-23 09:31] roberkules commented on #740
could you push a new `beta.6`?

[2020-04-28 06:27] Gorzas commented on #739
@fran-worley I've been debugging the problem with ember-viewport. It seems that, with a different Ember version, it uses a different resolver. Don't know if it's really a problem with Ember-viewport but it doesn't seem it. No clue how to fix it right now, I'm going to keep seeking a solution to this problem.

[2020-04-28 06:42] fran-worley commented on #739
@Gorzas any chance you could throw up a reproduction app in 3.4 with ELT at 2.x branch and see if it still happens? If not I'm happy to release beta6 on the basis the issue is with our test environment and not ELT or InViewport.
We can then work on an internal fix in our own time.

[2020-04-28 13:47] Gorzas commented on #739
Ok, I'll try it tomorrow, I may have a couple of free hours to do it.

Meanwhile, I've been redirected to [this issue](https://github.com/stefanpenner/ember-strict-resolver/issues/22) but I still don't know the differences between the different  Ember Resolvers or where are they use it.

[2020-05-06 13:54] Gorzas commented on #739
@fran-worley I tried it with the dummy app and it doesn't work. Let me take this some more time if I can fix it. Sorry I couldn't try it before 😅 .

[2020-06-08 13:55] rwwagner90 commented on #731
Any updates on this? Anything I can do to help?

[2020-06-11 03:23] pragatheeswarans opened #744 "Ember 3.16 update breaking when table.setRows is called immediately after creating the table"
We were updating our application to Ember 3.16 from 3.12 and found the following error thrown when the table is rendered initially. The error message is as follows.

[code]

The error is thrown when i try to create a table by passing the `model` and then when i try to sort the table by our custom sort function and calling `table.setRows(sortedModel)`.

[code]

This was working fine until Ember 3.1

[2020-06-12 05:28] pragatheeswarans commented on #720
Here is a [twiddle](https://ember-twiddle.com/80cb95220bd587c11a324f5496cb6e08?openFiles=components.render-table%5C.js%2C) with the same problem. When I push the data in the model, it is not reflected in the table. But when i push another item in the model both the rows are rendered and it starts to work as expected. Anything am I missing?

[2020-06-16 15:35] Gorzas commented on #739
How do you see dropping the support to older versions of Ember? I've spent a lot of time debugging the addon and I still don't see how to fix the problem. I've seen that the version we use of `ember-in-viewport` uses `v3.12` and we want to be compatible with `v3.4`. What do you think? People with older versions of Ember will have `v1.x`.

[2020-06-16 15:41] fran-worley commented on #739
@Gorzas let's drop it. I've seen plenty of addons which have done far more brutal version support culls recently in the interest of progress.

[2020-06-17 19:55] surekha199 commented on #726
when I use above Table.create ()am getting the below error
 message: "Assertion Failed: [ember-light-table] columns must be an array if defined", …}

if I try with new Table () then  Error: Assertion Failed: [ember-light-table] table must be an instance of Table.

[2020-06-17 19:57] surekha199 commented on #724
am getting below error with Table.create()

 Assertion Failed: [ember-light-table] columns must be an array if defined", …}

[2020-06-18 02:18] richard-viney commented on #724
@surekha199 Perhaps double-check what arguments you're passing to `Table.create()`.

[2020-06-18 06:38] maxwondercorn commented on #726
@surekha199 What version of Ember are you using?

[2020-06-18 09:15] surekha199 commented on #724
import { inject as service } from '@ember/service';
import Component from '@ember/component';
import layout from './template';
import { debounce } from '@ember/runloop';
import moment from 'moment';
import Table from 'ember-light-table';
import { computed } from '@ember/object';
import { task } from 'ember-concurrency';
import Row from 'ember-light-table/classes/Row';
import { A as emberArray, mak

[2020-06-18 09:25] fran-worley commented on #724
@surekha199 the create method expects an object so you need to pass in

`{ columns: someArray, rows: someOtherArray }`

[2020-06-18 09:31] richard-viney commented on #724
As @fran-worley mentioned, when using `Table.create()` you should pass an object with the relevant properties just like you would with any call to create a pre-Octane `EmberObject`:

[code]

Also, the `emberArray`/`makeArray` there likely isn't needed, unless you've disabled the array prototype extensions in your app's config, or are making an addon.

[2020-06-18 09:40] surekha199 commented on #724
Thank you @fran-worley  and @richard-viney ,

I tried both the options mentioned in your comments but I still see the same issue

[2020-06-18 09:53] surekha199 commented on #726
@maxwondercorn ,

ember-cli: 3.4.4
node: 12.14.0
os: darwin x64

but I am unable to use new Table() as well

[2020-06-18 10:00] fran-worley commented on #726
Please see https://github.com/offirgolan/ember-light-table/pull/701

For full details of the change in the API. Whilst new documentation hasn't been pushed to git pages yet, the dummy app is successfully running ember 3.16 and Ember Light Table with plenty of usage examples. You can find the most relevant file here: https://github.com/offirgolan/ember-light-table/blob/2-x/tests/dummy/app/mixins/ta

[2020-06-18 10:44] surekha199 commented on #726
I tried the above but still having same issue.
Tried below options and getting  **Assertion Failed: [ember-light-table] **columns** must be an array if defined", …}**

1. new Table({ columns: this.get('columns'), rows: this.get('model'))
2. Table.create({ columns: this.get('columns'), rows: this.get('model'))
3. Table.create({ columns: [], rows: []))

With this below way , table is getting rendere

[2020-06-18 10:56] fran-worley commented on #726
So 1,4 and 5 won't work as that's not the way you create a table. What value is this.columns ? Are you sure it's an array? You will need to pass your table instance into the template too.

[2020-06-18 10:59] surekha199 commented on #726
columns: [{
    label: 'Avatar',
    valuePath: 'avatar',
    width: '60px',
    sortable: false,
    cellComponent: 'user-avatar'
  }, {
    label: 'First Name',
    valuePath: 'firstName',
    width: '150px'
  }, {
    label: 'Last Name',
    valuePath: 'lastName',
    width: '150px'
  }, {
    label: 'Address',
    valuePath: 'address'
  }, {
    label: 'State',
    valuePath: 'state'
  }, {

[2020-06-18 11:42] surekha199 commented on #726
Is there any component other than light table to implement expanded-rows in table , so that it will be helpful for me to give try.

[2020-06-18 14:16] Gorzas commented on #739
I've created a PR with the changes. It also drops support for Ember 3.5 :(.

[2020-07-15 17:43] hefox commented on #731
confirming issue & workaround

[2020-07-19 04:27] maxwondercorn opened #746 "Stop scrolling to top on model update"
I'm implementing paging for one of my tables and `onScrolledToBottom ()` calls a `ember-concurrency` task in the controller. The task updates a query parameter and the model is refreshed loading more records in the model.  I'm using the ember data model directly on the table.

ELT sees the model change but scrolls back to the first row rather than staying at the current scroll position. Looking at

[2020-07-27 15:46] corrspt commented on #739
Hey

I'm not entirely sure I can be of help, but I'm using Light Table 2.0.0-beta 4 and having trouble upgrading to Ember 3.16 (I'm on 3.13, making my way to 3.15) and Light table is causing the errors starting with 3.16. Anyone using light table with 3.16+?

I'd like to contribute if possible (even if just making things run with 3.16)

[2020-07-27 17:07] maxwondercorn commented on #746
I could not seem to solve this issue using DDAU so I created a modified component mimicking the pagination example. That provides the required pagination so I'm closing this issue

[2020-07-27 17:07] #746 closed

[2020-07-27 17:11] maxwondercorn commented on #739
@corrspt I'm using ELT with 3.16 with Ember components, not glimmer components. You might want to open an issue with the errors you are seeing or ask in tables topic in the Discord server

[2020-08-04 13:23] Gorzas commented on #739
@fran-worley I've seen that some checks have failed, is there anything I should look out?

Let me know what else it's needed to release version 2.0 :smile: .

[2020-08-04 14:06] corrspt commented on #739
@maxwondercorn thanks for the comment. In my next upgrade window (soon I hope) I'll do just that

[2020-08-04 14:45] fran-worley commented on #739
@Gorzas I have no idea what the problem is with V2... it got very late...

I think I just need to revert back to before I started looking at it and then release with updated docs. I suggest anyone on ember >3.16 uses the new 3.x branch

[2020-08-13 21:37] rwwagner90 commented on #731
@fran-worley I see you merged a PR. Does that resolve this?

[2020-08-15 05:07] richard-viney commented on #731
AFAIK this is resolved but only on the `2-x` branch, not in an actual 2.x beta that has been tagged/released.

[2020-08-15 05:46] richard-viney commented on #731
It's also fixed in the `3-x` branch and is included in the `3.0.0-beta-0` release that's available on NPM.

[2020-08-17 11:42] rwwagner90 commented on #731
We have both a 2 beta and a 3 beta? Interesting.

[2020-08-17 11:47] fran-worley commented on #731
@rwwagner90 I will release final v2 when I have time to get a stable build on older versions of ember. v3 beta supports 3.12+ (at present) and will soon have breaking API changes to formally support angle bracket syntax.

My development time is really tight at the moment so if anyone wants to lend a hand then we could turn things around a bit quicker! 😸

[2020-09-03 04:58] Laxix commented on #723
I was able to fix this issue by adding a custom row component extending Row.

Used rowComponent=(component "custom-row") when occlusion is enabled in the table and custom-row supports responsiveness as well as expandable features.

I have done this change last year and it works like a charm :)

[2020-10-29 01:25] maxwondercorn commented on #728
Any movement on the process to move ELT to adopted-ember-addons?

[2020-10-29 16:20] rwwagner90 commented on #728
CC @offirgolan ^

[2020-10-29 17:54] rwwagner90 commented on #728
Done and transferred!

[2020-10-29 17:54] #728 closed

[2020-11-06 12:29] yaxinr opened #750 "404 http://offirgolan.github.io/"

[2020-11-09 14:43] godric3 commented on #750
http://adopted-ember-addons.github.io/ember-light-table/ works, but should be changed in repo about section(and other places that references old repo)

[2020-11-12 15:17] Gorzas commented on #744
Do you still have this problem? Which version of `ember-light-table` are you using?

[2020-11-12 15:20] Gorzas commented on #739
I have time to give some attention to the library. You were talking about going directly to version 3.x with `ember-light-tablè, am I right?

I'm going to do some PRs this pair of weeks in case I can be of any help.

[2020-11-12 15:22] fran-worley commented on #739
That would be awesome @Gorzas . I can't see the point in fixing random failing tests with old versions of ember when most addons have dropped support anyway.

[2020-11-16 10:15] Gorzas commented on #750
I've create a PR with the changes but I haven't permissions to update the link in the about section :sweat_smile: .

[2020-11-24 13:24] micstem commented on #579
@Techn1x
How did you manage to have an additional `<thead>` inside the `.lt-body-wrap` table? This isn't normal ELT behaviour, is it? Help much appreciated.

[2020-12-16 15:02] dcharles525 commented on #447
I'm having a similar issue on 3.0.0-beta0. I have set everything up exactly how the cookbook showed but still no dice.

simple-table.hbs
[code]

user-actions.hbs
[code]

[2020-12-21 09:25] Alonski commented on #750
Just updated it. Thanks

[2020-12-21 09:25] #750 closed

[2020-12-21 14:16] rwwagner90 commented on #739
@fran-worley @Gorzas what's the status on the 2-x and 3-x branches? Can we get all the latest stuff merged into master? I think we should stop supporting older Ember versions and just get all the new stuff in, so we can continue to move forward.

[2020-12-28 07:34] Gorzas commented on #739
@rwwagner90 I think the version 2-x has been rejected as it has arrived too late. Lately, I've been using the current beta 3-x without having problems. It needs a migration to Octane and start using native classes to finish the release. I don't know if it also requires some docs update.

[2020-12-28 13:21] rwwagner90 commented on #739
@Gorzas what do you mean it arrived too late? I just want to get all the latest and best changes into master, we shouldn't have all these different branches.

[2020-12-28 13:43] Gorzas commented on #739
@rwwagner90 I mean that it already exists a working version 3, so I think the 2-x version could be avoided. I don't know if there are commits in the branch that aren't in the 3-x branch.

[2020-12-28 14:30] rwwagner90 commented on #739
@Gorzas gotcha. Who would best know the status of things? @fran-worley do you know if we could just merge 3-x into master and delete 2-x?

[2020-12-30 08:00] maxwondercorn commented on #739
Looking through the history, 3-x is branched from 2-x.  The first commit was 91a4fa4

[2020-12-30 20:12] rwwagner90 commented on #739
Would love to hear from some folks who created the 2-x and 3-x branches to make sure basically replacing master with one of them is okay.

[2021-01-06 17:56] brandynbennett opened #753 "3.0.0-beta.0 Cannot update rowspan"
When passing in the `rowspan` property like this:

[code]

An error gets thrown in Ember 3.16.8

[code]

Looks like it happens from this commit https://github.com/adopted-ember-addons/ember-light-table/commit/1739493f1c9c6d96482e9e1dccf8bf8a7091da41

[2021-01-15 20:21] rwwagner90 commented on #731
@fran-worley I propose we don't worry about v2, and we merge all the latest and greatest stuff from 3-x into master. It'll make maintaining this much easier and it's typical to have the newest code in master, so people will not get confused looking for the new stuff.

[2021-01-28 00:09] Edward-Chen-CN commented on #723
Hi Laxix,

I am encounter the same issues here. Does your solution effect the way of using **body.loader** and **body.no-data**? I am not an Ember expert, would you please provide some sample code for me to start with?

Thanks, Eddy

[2021-02-01 21:23] Edward-Chen-CN commented on #542
Are you sure you are running without any issues? I have tried your solution but I got console error related to the loading message. It seems like occlusion can not find the loading message in DOM to remove it when scrolled to the bottom

[2021-02-03 08:12] haseebwaqas commented on #726
am facing same issue in using ember-light-table with ember-octane.I just want to display some static data into table. So instead of creating Mixin, I am writing code directly into  component file but i have face this error:
"Uncaught (in promise) Error: Assertion Failed: [ember-light-table] table must be an instance of Table".
i have tried all above but still facing same issue.
Thanks in advance!.

[2021-02-03 11:49] subbu-muthusubramanian commented on #538
The `height` attribute is still needed for the occlusion render to work. Will this behaviour be fixed in the next update?

[2021-02-03 19:06] maxwondercorn commented on #726
@haseebwaqas A copule things:

- make sure your using v2.0.0-beta.5, not the v3 beta
- ember-light-table still uses Ember object so the component needs to be `@ember/component`, not `@glimmer/component`
- install and apply the @classic decorator
-  use `Table.create` instead of `new Table`

[code]

These changes eliminated the `table must be an instance of Table` error.

[2021-02-03 20:04] haseebwaqas commented on #726
@maxwondercorn :
Thanks for your time and the error is resolved thanks Alot.

[2021-02-04 04:43] maxwondercorn commented on #739
@fran-worley @Gorzas @alexander-alvarez anyone? see ^^^^^^

[2021-02-07 13:43] rwwagner90 commented on #739
If we don't hear from anyone, I think I'll likely just merge 3-x into master and delete 2-x and 3-x branches so we can move forward on this project.

[2021-02-09 08:17] fran-worley commented on #739
@rwwagner90 merge away, my time was always going to be very limited on this and I felt awkward making decisions without support from longer standing maintainers.

Given how far ember has moved on, my preference would be to set version 3 as minimum of v3.20. If I can help do let me know but as I say, my time is quite limited.

[2021-02-09 17:45] #444 closed

[2021-02-09 17:48] rwwagner90 commented on #739
@fran-worley I just merged 3-x into master. Is there anything from the 2-x branch that is not in 3-x or can I safely delete the 2-x branch?

[2021-02-09 20:02] fran-worley commented on #739
Hi @rwwagner90 you're safe to delete 2-x.

I think I still have npm rights if you need me to ship a new release.

probably worth someone with the time to clear out the open pull requests and asking people to rebase and reopen if they want them considered.

[2021-02-09 20:05] fran-worley commented on #739
Would also be great to get new docs release out - sadly I have never done this and have no idea how!

[2021-02-10 19:08] Gorzas commented on #739
@fran-worley What changes do we need for the docs? Do you mean about changing the handlebars to angle bracket syntax?

[2021-02-12 20:41] maxwondercorn commented on #739
@Gorzas Besides syntax changes the dummy app should not migrate from mixins as they don't fit in the Octane world.  We use a base class with inheritance for our tables but there  are other options.  Good discussion [here](https://discuss.emberjs.com/t/best-way-to-replace-mixins/17395) on options

[2021-02-16 08:07] Gorzas opened #758 "Update test blueprints to new format"
I was working lately with `ember-light-table` and version 3.24 of Ember. I've found that, when creating a new cell-type, it also creates an integration test file but it's in the old format. I think we should update it using the lately integration tests of Ember.

I'll open a PR as soon as possible so you can see an example of what I'm talking about.

[2021-02-16 08:15] Gorzas commented on #758
If somebody could take a look to the changes, I can actually update the rest of the blueprints :).

[2021-02-16 08:18] Gorzas commented on #739
@maxwondercorn I was working this weekend using Ember v3.24 and the latest version of `ember-light-table`. I'm more inclined to use native classes as a solution, but I'm not sure if it's the best solution.

[2021-02-18 01:19] b2point0h commented on #500
For some reason, this isn't working for me. I need to be able to set the UUID returned on the model row, to the ELT row for automation testing since ember generates new ones everytime.

Any help on extending the row component?

[code]

[code]

[2021-02-22 14:52] Gorzas commented on #739
I see @maxwondercorn, I really don't know what's the best alternative to mixins. Right now, I'm helping in whatever I can. If any of you could take a look to [this issue](https://github.com/adopted-ember-addons/ember-light-table/issues/758), I'll be happy to continue updating the blueprints :smile:.

[2021-12-01 15:37] rajibq commented on #720
I noticed that the changes made to ArrayProxy in Ember 3.16.1 -> 3.16.2 ( https://github.com/emberjs/ember.js/compare/v3.16.1...v3.16.2 ) seems to have broken the enableSync functionality. Although the twiddle above seems to show that the problem is only with the first row added, in my app it seems to just not sync with the array at all, as the OP suggests (although I'm struggling to reproduce the

[2021-12-09 18:14] rajibq commented on #720
For anyone looking at this in the future, we fixed this issue by patching ELT as per attachment. It's not an ideal fix (as sync proxy should not know about table), but it's what made enableSync work for us.
[ember-light-table+2.0.0-beta.5.zip](https://github.com/adopted-ember-addons/ember-light-table/files/7687484/ember-light-table%2B2.0.0-beta.5.zip)

[2021-12-19 00:39] Canertasan commented on #423
`The result of a server query (for all user types) is immutable. To modify contents, use toArray()`
My req is custom endpoint that basically find_by_user_name from rails side. Returning only 1 user.
I couldn't fix this with toArray() because the response only is single Model returning from rails.

my returning reponse:
[code]

When i try to make toArray() it basically says that there is not a func

[2021-12-30 14:59] IgnaceMaes opened #768 "ELT 3.0.0-beta.0 incompatible with Ember 3.27+"
Using ELT `3.0.0-beta.0` in an Ember app on version 3.27 and above results in a build warning and a runtime error. The following build warning is logged when starting a new Ember 3.28 app, installing ELT, and running it locally.

[code]

When using ELT this results in the following runtime error.

[code]

To solve this it seems like dependencies will need to get updated to versions compatible with

[2022-02-03 03:06] eric-g-97477 opened #770 "using older version and Getting TypeError: decorator is not a function"
I need to use an older version of ember-light-table.

[code]

I am using Ember 3.4.8.

I am getting an error in the console which says:

[code]

and I believe this is related to my use of ember-light-table ... at least when I comment it out of my .hbs, the error goes away.

Do you know what I can do to get rid of this error so I can use an older version of ember-light-table?

test-comp.hbs
[code]

[2022-06-07 14:06] #505 closed

[2022-06-07 14:13] #498 closed

[2022-06-14 08:14] IgnaceMaes commented on #768
For anyone also running into this issue, I ended up forcing the resolution of `ember-cli-babel` v7 in `package.json`:

[code]

[2022-07-05 17:05] maxwondercorn commented on #739
@fran-worley @Gorzas

I realize everyone is in a different place, has moved on or is doing something else since the pandemic 😱  so I'd like to start working on moving ELT forward again.

I have some bandwidth now and already created a PR #775 to merge your post `2..0.0-beta.5` work   (`origin/fw/update-dummy-app` and `3.0.0-beta.0`) into master.  Apologies in advance...

Per the conversation in th

[2022-07-06 09:42] Gorzas commented on #739
@maxwondercorn I still work with Ember framework but I'm not currently working with `ember-light-table` library. Anyway, if you need any help, I can take a look. Is there anything I could be testing or any code to review?

[2022-07-06 15:13] maxwondercorn commented on #739
@Gorzas Thanks.  IIRC you couldn't get all tests passing on 3.12, so minimum supported would be Ember source 3.13?  My testing confirmed that but wanted to verify it.

3.13 would also be required for converted to colocated Glimmer components.  ATM, nothing to review but once this get's merged I'm sure there will be something 😄

[2022-07-13 09:12] Gorzas commented on #758
Thanks @rwwagner90 for the merge! I'll close this ticket if no more work is needed 😄

[2022-07-13 09:12] #758 closed

[2022-07-15 13:33] maxwondercorn opened #795 "Dynamic responsiveness not working"
Tracking issue

Table responsiveness doesn't not work dynamically on breakpoints.  This changed when dummy app was updated to up Octane

[2022-07-17 22:05] maxwondercorn commented on #795
Fixed with #800

[2022-07-17 22:05] #795 closed

[2022-07-19 14:34] rwwagner90 commented on #720
`enableSync` has been removed in the master branch, and will cease to exist. There was a lot of magic two way binding stuff that was deprecated in Ember itself and we could not continue to support this option.

[2022-07-19 14:45] rwwagner90 commented on #744
@pragatheeswarans we have made a lot of updates to the master branch. Can you please see if this is still an issue?

[2022-07-19 15:36] brandynbennett commented on #753
I'm unsure, sorry.

[2022-07-30 04:36] maxwondercorn commented on #731
This issue was resolved in the branches merged in pr #775 and is  included in the unpublished `3.0.0 Beta.1 prerelease`.

[2022-07-31 22:33] rwwagner90 commented on #731
@maxwondercorn 3.0.0-beta.1 is published, just under beta.

[2022-07-31 22:33] #731 closed

[2022-08-04 18:09] #524 closed

[2022-09-06 08:53] rreckonerr commented on #243
Hey! Any news on adding the nested rows support to the addon itself?

[2022-09-22 15:36] fran-worley opened #816 "Remove font awesome dependencies"
Based on a quick search, these appear to be used in the test app only so 'should' safely be able to move to devDependencies. Might be worth marking as a breaking change incase anyone is inadvertently relying on the light table dependency in their app.

Will add PR shortly.

[2022-10-17 13:51] vladern commented on #744
On version [3.0.0-beta.1](https://www.npmjs.com/package/ember-light-table/v/3.0.0-beta.1) is still an issue :/

[2022-11-08 11:50] eric-g-97477 opened #819 "Deprecations"
While building, I am getting the following deprecation warnings with 3.0.0 beta.1

DEPRECATION: Using {{attrs}} to reference named arguments has been deprecated. {{attrs.id}} should be updated to {{@id}}. ('ember-light-table/components/light-table.hbs' @ L3:C10)   [deprecation id: attrs-arg-access] See https://deprecations.emberjs.com/v3.x/#toc_attrs-arg-access for more details.
DEPRECATION: Using