[2016-03-11 04:41] offirgolan opened #1 "Add default CSS"
Add some arbitrary CSS for text alignment

[2016-03-11 20:13] #1 closed

[2016-03-14 03:05] snewcomer opened #2 "Exposing model for #link-to in each row."
Great project by the way!  So much more I can get out of a grid with this add on.

So I am trying to figure out how each row could be wrapped with a link-to (if there already isn't one!). Not exactly sure, but does the row variable contain the model instance?  If so, would exposing the row variable in hash be one solution to this?

https://github.com/offirgolan/ember-light-table/blob/master/addon/

[2016-03-14 04:07] offirgolan commented on #2
You can use the `onRowClick` action which passes you the row that was clicked. From there you can do a transitionToRoute. Is that what you are looking for?

[2016-03-14 05:06] snewcomer commented on #2
Yep!  I guess if I extend from the component class rather than the controller class, then I might run into some problems.  That's why a template link-to helper might be nice to expose.

But now that I think about it, I probably shouldn't declare the table with a component class if I want some query params in the url as well.

[2016-03-15 23:52] offirgolan commented on #2
You can always use the `tableActions` property to effectively propagate your actions.

See docs [here](http://offirgolan.github.io/ember-light-table/docs/classes/Light%20Table.html#property_tableActions)

[2016-03-16 03:02] snewcomer commented on #2
Thx!

[2016-03-16 03:02] #2 closed

[2016-03-16 13:59] knownasilya opened #3 "Sticky Headers"
Any plans to implement sticky headers, so when you scroll you still see the column/group headings?

[2016-03-16 18:00] offirgolan commented on #3
Hopefully yes! Ill keep this open for now as a reminder that I need to implement this :smile_cat:

[2016-03-22 20:22] steffenbrem opened #5 "[RFC] Allow to at row at specific index and let it return itself afterwards"
I came across a use-case where I needed to add a row to the beginning of the array. I've solved it by doing:

[code]

It may be a good idea to make a proper public API to do this. I was thinking about `this.get('table').addRowAt(0, someObject)`. Or maybe change the argument signature of the `addRow` method by adding `idx` at the end, so you could do `addRow(object, 0)`.

As a side note, it might a

[2016-03-22 22:05] #5 closed

[2016-03-22 22:06] offirgolan commented on #5
Released in `v0.1.4` :smiley_cat:

[2016-03-24 15:11] snewcomer opened #7 "Scrollable Container and preventing db queries"
Any thoughts on providing a hook for users to prevent calling the onScrolledToBottom method if they have already retrieved all their records from the db, or should this behavior be left up to the user?

[2016-03-24 18:35] efx opened #8 "yielding row"
This is similar to #2.
I have a few tables in an ember application that use a component for a row. Can light-table or one of the contextual components yield an individual or something like that? My use case is to customize the HTML of each row.
[code]
I would need to this to happen before the user clicks on a row, so `body.expanded-row` wouldn't apply. There doesn't seem to be a way to customize t

[2016-03-25 05:49] snewcomer commented on #8
cellComponent might help out, but not for the entire row...only for the individual column.  This allows the use of a component instead of just the model property.  I can see the use case where each individual component would need customization (i.e. multiple model properties, avatars, ect) and styling for the entire row can be targeted via the `lt-row` class.  I'm sure though that having access to

[2016-03-25 12:45] efx commented on #8
thanks for pointing that out; I hadn't noticed that. I'll give that a whirl as it might resolve my specific case.

[2016-03-26 01:50] offirgolan commented on #8
@snewcomer Thanks for helping out :smile_cat:. I can definitely see the need for this. When I have some free time Ill look more into this and see what I can do.

@efx let me know if that solves your use-case!

[2016-03-26 01:53] offirgolan commented on #7
I think this kind of behavior should be up to the user since the table acts only as a `view` so it will never really know when there is no more data. If the logic is pretty simple, you can have a condition in your `onScrolledToBottom ` action or you can use `ember-infinity` with this addon which should cover most use-cases.

[2016-03-26 15:52] #7 closed

[2016-03-27 00:05] efx commented on #8
I'll close for now since I think `cellComponent` provides the flexibility I need.

[2016-03-27 00:05] #8 closed

[2016-04-11 13:32] knownasilya opened #9 "isLoading"
In the docs you have an `isLoading` option in the template examples, does that come from this addon or is that something we implement ourself?

If it's from the addon, where does it come from?

[2016-04-11 16:36] offirgolan commented on #9
`isLoading` does not come with the addon and is a state you have to implement yourself. I should probably annotate that in the docs somewhere :smile_cat:

[2016-04-11 16:37] #9 closed

[2016-04-12 19:21] knownasilya opened #10 "Sorting"
Is sorting implemented by default? Seems like `{{t.head}}` has sort enabled by default, but nothing seems to happen. Here's my setup:

[code]

Looking at the demo app, it looks like you implement sorting yourself by sending the params to the server..

[2016-04-13 04:57] offirgolan commented on #10
Yeah all data handling is up to you. The component just sets up everything for you so it's as easy as possible.

[2016-04-18 21:58] SirZach opened #11 "init functionality within light-table"
Hey all,

I was curious why the `init` functionality, like creating a new Table and such isn't handled within the `light-table` component? As a result, I'm creating a wrapper table that all it does is exactly that and it adds one more, seemingly unnecessary, level of indentation in the `hbs` file likeso:

[code]

[code]

[code]

[2016-04-19 07:15] offirgolan commented on #11
The reason we decided to separate the table creation from the table view is for modularity and for easy table mutations. In our apps we have tables that we define in the route, some in controllers, and some in components. Once they are created we can easily pass the tables around and add/remove rows, hide/show columns, add/remove columns depending on the user's permissions, etc. If we were to just

[2016-04-19 14:58] SirZach commented on #11
Oh interesting! I don't get a lot of table reuse in the app so I never thought about it from that perspective.

[2016-04-19 14:58] #11 closed

[2016-04-20 19:05] SirZach opened #12 "Performance problems"
Hi again,

I've noticed a performance problem and I haven't figured out what is causing it yet. I tried attaching the profile but github doesn't allow .cpuprofiles. You can easily reproduce it by profiling the demo table at http://offirgolan.github.io/ember-light-table/#/. The rendering speed isn't that noticeable since you're only rendering ~20 rows off the bat but even at ~150 rows, rendering sp

[2016-04-20 19:49] offirgolan commented on #12
Hi Zach. In terms of performance, one of the biggest issues is not being able to render a non existent component. If you look at the code base, we are still forced to create and render each invisible component. This means that for each row, we actually render 3 (although 2 of which are just comments, we are still forced to create two additional views). I've spoken to @rwjblue about this and it see

[2016-04-20 19:53] SirZach commented on #12
[code]

`netuitive-table-new` simply takes care of `init`ing the Table and making it available. For consistent profiling though, profiling the table on your demo site, http://offirgolan.github.io/ember-light-table/#/ shows exactly what I'm seeing locally. Thanks for replying even while on vacation!

[2016-04-20 20:13] SirZach commented on #12
Do you know off the top of your head where in the codebase it creates and renders each invisible component? I've poked through it quite a bit and I'm not sure I've seen that or know exactly what you mean.

[2016-04-20 20:16] offirgolan commented on #12
See addon/templates/components/lt-body.hbs

[2016-04-20 20:56] SirZach commented on #12
Ok, I actually extended that component and the `light-table` component to reference my extended one which removed all references to `yield` for kicks and giggles and didn't notice any performance difference.

[2016-04-23 13:01] offirgolan commented on #12
@SirZach makes sense... `defineProperty` is pretty slow. That would be a good place to start optimizing but I dont really know a better replacement. Ill do some investigation and see what I can do.

cc @stefanpenner

[2016-04-24 21:58] samsebastian commented on #10
On this topic, is it best practice to sort / filter at the route or within the component containing the light-table?

[2016-04-24 22:15] knownasilya commented on #10
The controller/route (little more hassle on the route).

[2016-04-24 22:20] samsebastian commented on #10
Hmm..

I'm trying the below on the controller, but it sorts it when referencing `sortedPortfolios` outside the component (ie when I do an `{{#each}}` in the template, but the sort order will not update even though I am passing `sortedPortfolios` in as `{{pg-tables/portfolios model=sortedPortfolios onSort=(action "sortPortfoliosBy")}} ?

Can you see anything I'm doing wrong?

[code]

[2016-04-25 00:26] samsebastian commented on #10
Nevermind, figured it out, needed to add an observer

[code]

[2016-04-25 07:25] samsebastian opened #13 "Multiselect"
I've been reading through the docs and couldn't see any mention of how you might implement mutliselect?

I assume it's by adding selected rows to an array, but I'm not sure how to pass that back as a comparison for the table to keep track of which rows are selected..

I know it's designed for maximum flexibility for people to implement this sort of thing however best suits their app, but would it

[2016-04-25 08:26] offirgolan commented on #13
You can checkout the code for the [multi-select table](http://offirgolan.github.io/ember-light-table/#/selectable) (just click on the panel header to see the code snippets).

What multi select does, is allow you to use ctrl, cmd for mac, and shift to select multiple rows. These rows can be accessed via `table.get('selectedRows')`.

[2016-04-25 08:28] #10 closed

[2016-04-25 08:46] samsebastian commented on #13
Ah my bad I didn't notice you could expand the code for the demo app, that is awesome.

Not sure if this is correct in docs though: http://offirgolan.github.io/ember-light-table/docs/classes/Body.html#property_multiSelect

My issue is that I saw `multiSelect` was `true` by default so didn't set it. I think the docs need to be updated to say the default is `false`?

[2016-04-25 08:48] offirgolan commented on #13
👍 Ill make the change in the next revision! Thanks for bringing it to my attention 😸

[2016-04-26 19:09] offirgolan commented on #13
@samsebastian I have updated the docs and added some much needed descriptions for each property. Im gonna go ahead and close this issue. Feel free to reopen if you run into any more trouble.

[2016-04-26 19:09] #13 closed

[2016-05-04 07:41] kevinansfield opened #15 "Infinite scroll fails when scrolling fast"
When scrolling quite fast I've noticed the following behaviour:

1. Scrolling starts and triggers the scroll handler which doesn't pass
2. Scrolling finishes before the throttle timeout
3. No more triggers are fired, no page is loaded unless you scroll back up

I've implemented a quick fix in our app by adding a debounce as well so that we always get a scroll trigger once scrolling stops but there

[2016-05-05 17:51] offirgolan commented on #15
I've actually noticed that too in one of my apps. Thanks for bringing this to my attention! Ill take some time to dive in a little deeper as to why this is happening.

[2016-05-07 01:25] #3 closed

[2016-05-07 01:30] offirgolan commented on #3
This has been release with `v1.0.0-beta.0`. Feel free to test it out 😸

Please note that there have been some structural changes and there might be even more in the near future (hence the `beta`)

[2016-05-09 21:33] #15 closed

[2016-05-09 21:37] offirgolan commented on #15
@kevinansfield released with `v1.0.0-beta.1` 😸

[2016-05-18 03:16] dulichan opened #18 "Resizeable Columns"
Is there a way to drag and expand the size of a column? For example if the text of the column is too large to be seen?

Cheers~

[2016-05-18 03:38] offirgolan commented on #18
You can set the `width` property when you define your columns

[2016-05-18 18:09] romanchukenator opened #19 "Need to bubble an action up to route/controller from a column's cellComponent..."
...how does one do this? I've tried passing the action through the component, like so:

      {{#light-table table
        pickupTimeUpdated="pickupTimeUpdated"
        onScrolledToBottom=(action 'onScrolledToBottom')
        class="ui very basic table"
        scrollContainer='.table-scroll-container'
        as |t|
      }}

Nothing. I flailed and tried defining my action like onScrolledToBottom

[2016-05-18 18:14] offirgolan commented on #19
I believe what you're looking for is [tableActions](http://offirgolan.github.io/ember-light-table/docs/classes/Light%20Table.html#property_tableActions)

[2016-05-18 18:29] romanchukenator commented on #19
Awesome! Thanks man!

[2016-05-18 18:33] offirgolan commented on #19
No problem! Im gonna go ahead and close this issue. Feel free to reopen if you run into any similar issues.

[2016-05-18 18:33] #19 closed

[2016-05-18 22:07] TraceSecuritySeanM opened #20 "Show multiple model fields in one column"
Is there a way to show multiple model fields in one column? I don't want to use grouped columns but would rather show multiple model fields stacked in one column for each table row.

[2016-05-19 06:18] offirgolan commented on #20
You can create a template under `templates/components/multiple-fields.hbs` and put whatever content you need to display

[code]

and in your column definition just add `cellComponent: 'multiple-fields'`

[2016-05-19 13:24] TraceSecuritySeanM commented on #20
Thanks for the quick reply. I had the component defined in cellComponent but was failing to use row.content to refer to the field.

[2016-05-19 13:24] #20 closed

[2016-05-24 08:08] talhaobject90 opened #21 "Doesnt know how to instantiate this addon!"
Sorry to say that the documentation is not giving any idea how to use this in real project.

after installing the addon, i generate a custom component 'inventory-table'

put the template in some index.hbs
[code]

pasted this content in the newly created component
[code]

initially it thrown
[code]
The i removed this function from component helper

but dont know where to put the instantiation code

[2016-05-24 08:27] haqllo opened #22 "Row component binding"
Is there a concept to bind a different row component? I want to create different tables with different row components (one row component per table).

The Text within the row should be highlighted by classbinding.

Is there a different solution to realize this?

[2016-05-24 08:42] HenryVonfire opened #23 "Table cut with columns > screen width"
When the columns of the table are all set up with a fixed width and the sum of them is bigger than the screen width size, the table becomes scrollable on the x axis but the hidden content (the content of the columns that are out of the visible part of the table) is not rendered when scrolling on it.

[2016-05-24 09:31] HenryVonfire opened #24 "height or max-height for the table height?"
`max-height` allows the table to get reduced if the rows don't fill the specified height. I don't know if someone would be interested on having their tables filling always the same height independently of the number of rows. Maybe would be interesting to have both options?

[2016-05-24 17:15] offirgolan commented on #22
Im not sure I follow what you are trying to achieve. Can you give me a real world example?

[2016-05-24 17:27] offirgolan commented on #21
Im sorry you're running into some issues. To get a better understanding of how this table works, I suggest looking at the demo code for the demo page which can be found [here](https://github.com/offirgolan/ember-light-table/tree/master/tests/dummy/app). That will have working examples that you can use. If you have some more specific questions, please feel free to comment back and I can help you to

[2016-05-24 18:30] offirgolan commented on #24
Although height is needed for fixed header/footer, it is not a required property. You can just add `height` and/or `max-height` via CSS by targeting the `lt-body-wrap` class.

[2016-05-24 18:31] offirgolan commented on #23
Hmmm thats pretty weird. Any chance you can attach a screenshot?

[2016-05-25 06:27] haqllo commented on #22
Of course. I want to set `color: red` via `classNameBindings`. The use case is to highlight a specific row depending on the content, for excample if the content is very important.

[2016-05-25 08:57] talhaobject90 commented on #21
Thanks brother i will check the demo code

[2016-05-25 08:57] #21 closed

[2016-05-25 10:51] HenryVonfire commented on #23
Sure, here it is:

![table](https://cloud.githubusercontent.com/assets/10612765/15537541/557b4fae-2277-11e6-83eb-e28ab890c9cb.png)

[2016-05-25 19:10] #22 closed

[2016-05-25 19:13] offirgolan commented on #22
Ive added the ability to add custom class names in rows, columns and cells, as well as the ability to hide/show rows. Changes have been released to `v1.0.0-beta.3` 😺 (docs should be updated as well)

[2016-05-25 23:37] offirgolan commented on #23
Thats odd. Are you sure this isnt some CSS issue?

[2016-05-27 06:12] haqllo commented on #22
Thanks!!

[2016-05-27 09:09] HenryVonfire commented on #23
I don't think so, I've created a new project without any CSS and I got the same result:
![table2](https://cloud.githubusercontent.com/assets/10612765/15603495/5d297408-23fb-11e6-9eb3-9cdb7b749e85.png)

[2016-05-27 19:09] offirgolan commented on #23
Any chance you can share the source? That would make my debugging a little
easier 😁

On Friday, May 27, 2016, HenryVonfire <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-05-27 22:34] HenryVonfire commented on #23
Here it is (https://github.com/HenryVonfire/table-example). Hope it helps.

[2016-05-31 20:27] offirgolan commented on #24
@HenryVonfire Im gonna go ahead and close this issue. Feel free to reopen if needed.

[2016-05-31 20:27] #24 closed

[2016-05-31 20:33] Gaurav0 commented on #18
I would like the user to be able to drag and resize the column. Thanks!

[2016-05-31 20:35] offirgolan commented on #23
@HenryVonfire I released a fix with the latest version (`v1.0.0-beta.4`). Turned out to be some css `overflow` issue. This table (because of the way its structured) does not support x-axis scrolling. In your situation above, you would have to add a wrapper div with the following css to get it to work.

[code]

[2016-05-31 20:35] #23 closed

[2016-05-31 20:41] offirgolan commented on #18
You would have to implement that yourself. Im not really sure how you would do that, but I can give you a starting point.

1. The width of table column is a bound property, meaning that if you change it programmatically, it will be rerendered automatically.

    `table.columns.objectAt(0).set('width', '400px');`

    Maybe you can use an html5 slider type component that is bound to the width of th

[2016-05-31 20:43] Gaurav0 opened #27 "Is it possible to create expandable rows with additional table data?"
Example:

    Region           First Name      Last Name    Sales
    ---------------------------------------------------
    - All            Offir           Golan          100
    + All            Gaurav          Munjal         125
    -  N America     Gaurav          Munjal          25
    -  Europe        Gaurav          Munjal         100

[2016-05-31 23:53] offirgolan commented on #27
As of right now, this sort of feature has not been implemented. One thing you can do is nest another table in the `expanded-row` and use some CSS to do the indentation. This feature is on the backlog so hopefully I'll get some time soon and make this happen.

[code]

[2016-06-01 08:12] HenryVonfire commented on #24
Yes, I forgot to say anything. It worked without any problems, thanks!

[2016-06-02 23:02] rwwagner90 opened #29 "Pass multiple valuePath or entire object"
Is it possible to pass multiple valuePaths or the entire object? I currently need two values to pass to my component for computing things.

[2016-06-02 23:08] offirgolan commented on #29
In this situation, I would suggest creating a separate component and taking advantage of the `cellComponent` option in the column definition. You will have access to the entire `row` object in your template.

[2016-06-02 23:10] rwwagner90 commented on #29
@offirgolan thanks for the quick response! I did create a `cellComponent`, but I'm not sure how to get the value after that? Inside that `cellComponent` If I do `this.get('value')` it is undefined. Do I need to do `this.get('row')` or something? Is this documented?

[2016-06-02 23:13] rwwagner90 commented on #29
Looks like accessing `row.id` in my component works. I don't think I saw this documented anywhere though

[2016-06-02 23:13] offirgolan commented on #29
@rwwagner90 better documentation is needed 😢

In your custom cell component, you have access to `row`, `column`, and `value`. So you can do something like `this.get('row').get(this.get('column.valueINeedToGrab'))`

[2016-06-02 23:14] rwwagner90 commented on #29
@offirgolan perhaps I could help with some documentation?

[2016-06-02 23:14] offirgolan commented on #29
Help is always welcomed! Feel free to open a PR 😺

[2016-06-02 23:17] rwwagner90 commented on #29
@offirgolan do the docs generate themselves based off of the JSDoc comments in the code? Not sure how to update them.

[2016-06-02 23:19] offirgolan commented on #29
Yeah its YUIDoc that is auto generated. You can modify it directly in the source.

Use `ember s --docs` to build + run then navigate to `localhost:4200/docs` to view

[2016-06-04 14:37] rwwagner90 commented on #29
@offirgolan I added a little bit of clarification to the docs, not sure if the format I did works or not. Let me know. I put up a PR

[2016-06-05 23:44] #29 closed

[2016-06-05 23:46] offirgolan commented on #12
This has been addressed and to my knowledges resolved with #14. Gonna go ahead and close this for now. Feel free to reopen if you face any more performance issues.

[2016-06-06 16:27] SirZach commented on #12
<img width="592" alt="screen shot 2016-06-06 at 12 26 29 pm" src="https://cloud.githubusercontent.com/assets/1113484/15829462/e92374d4-2be1-11e6-80c2-3000fb9234a9.png">

Still seeing the very long columns when profiling your demo page. The table seems fast despite the columns but I think you really start feeling the pain when you have hundreds or thousands of items.

[2016-06-08 15:10] eduardoweiland opened #35 "Access table object from column header component"
I want to create a table that has a checkbox in the first column for selecting/deselecting each row. This works fine since the `lt-row` component passes `row` object to the cell component.

However, I also need to have a checkbox in the header that selects/deselects all rows in the table. But for this I need to have access to the `table` object and all rows in it. The biggest problem is that the h

[2016-06-08 16:25] offirgolan commented on #35
This makes sense. Ill add a reference to the table in the next release

[2016-06-08 20:42] #35 closed

[2016-06-09 16:30] eduardoweiland opened #41 "Add a "hideable" option to configure if column can be hidden"
The `Column` class has the `sortable` option to configure if it can be sorted or not. It would be nice to also have an option to configure if the column can be hidden or not.

Having this option in the `Column` class will be useful to create a generic component for the user to choose the columns visible in the table, something like a list with a checkbox for each column in the table that can be hi

[2016-06-09 17:12] offirgolan commented on #41
Hi @eduardoweiland, I think this would be a good addition. In the mean time, you can actually add whatever you want to the Column instance. Meaning any property you define will stick.

[code]

[2016-06-09 17:53] eduardoweiland commented on #41
Thanks @offirgolan, I didn't know this was possible.

Still, having a default value of `true` for all the columns and just set `false` for those columns that cannot be hidden would be better. I can test if the value is `undefined` and assume `true` in my component, but it will be easier to have a default value.

[2016-06-09 21:07] #41 closed

[2016-06-11 01:28] eddiesholl opened #46 "Reorder columns"
Just wondering if there's any interest in draggable column headings for column re-ordering. This is the one feature missing that is stopping us dropping this in.

Has it been looked at previously? Would you consider a PR for it?

[2016-06-11 04:04] offirgolan commented on #46
There is actually! @henryvonfire put something together not too long ago so it would be awesome if you guys could work together or one of you can submit a PR and we can productionize it. The new beta (1.0.0-beta.5) has support for column and cell types so it would be pretty easy to get setup.

[2016-06-11 18:37] stevenwu opened #49 "Cells missing when table loaded in small window then expanded"
When I load the table in a small window,
![screen shot 2016-06-11 at 11 34 09 am](https://cloud.githubusercontent.com/assets/312446/15986850/a5361caa-2fc8-11e6-99cb-f4bcd9989b11.png)
then resize the window,
![screen shot 2016-06-11 at 11 34 26 am](https://cloud.githubusercontent.com/assets/312446/15986852/b3d2e4dc-2fc8-11e6-949c-32ef31e1509e.png)
cell values are missing.

[2016-06-12 05:21] eddiesholl commented on #46
Hmm its an interesting one. Obviously its ideal if the column dragging can occur without rerendering cells, but that sounds like needing some fancy relative positioning instead of a simple table. Think I'll wait to hear if @henryvonfire has any thoughts or a head start on it.

[2016-06-13 10:40] HenryVonfire commented on #46
Sorry, last week I was busy and couldn't give any time to this. I've created a PR with a new column type for dragging columns. It's not completed (I haven't taken into account column groups yet) but I want you to tell me if this is the right approach or if you were thinking about something else.

[2016-06-13 17:39] schickm opened #52 "Implicit creation of rows when new data added to model?"
I've noticed that you have to manually call `table.addRow()` if you'd like a new row to appear in the table.  Is it possible to have the table watch the initial passed in model to the constructor for changes?  Or is adding rows at runtime not really a priority feature for this table addon?

[2016-06-13 20:31] offirgolan opened #53 "Support templates in Cell & Column types"

[2016-06-13 20:42] offirgolan opened #54 "Improve Documentation"

[2016-06-13 20:47] taras commented on #12
Would limiting how much is rendered address this problem? For example, we could use something like smoke-and-mirrors to render only the rows that the user can see. Would this address the issue with having thousands of rows?

[2016-06-13 21:07] SirZach commented on #12
@taras I think something like smoke-and-mirrors would be great although I do believe that the project is planning on dropping support for tables for the 1.0 release. Regardless, the columns in the attached image are simply too much for rendering even small amounts of data, about 25-50 rows.

[2016-06-13 21:11] taras commented on #12
@cball mentioned API considerations that he had to make to ember-spreadsheets to make rows and columns performant.

@cball, would you mind sharing your findings that might be relevant to this?

[2016-06-14 01:47] eddiesholl commented on #46
Sounds good. I've been working on a POC myself, will be interesting to compare notes. I'll be pushing a branch up soon to take a look at.

[2016-06-14 11:17] eddiesholl commented on #46
You can see my work so far at https://github.com/eddiesholl/ember-light-table/tree/reorder-columns. I'm using this app to drive it, with npm link of the ember-light-table app: https://github.com/eddiesholl/ember-light-table-demo

[2016-06-14 15:48] nmcclay opened #56 "'Undefined length' error caused by ember-composible?"
I just pulled down beta5 to see whats new, and I'm getting this error:

[code]

Doing a quick search through the repo, I'm not sure what this sub-module is being used for in ember-light-table?  There doesn't appear to be any addon configuration including the whitelist it appears to be looking for https://github.com/DockYard/ember-composable-helpers#configuration ?

[2016-06-14 15:49] nmcclay commented on #56
This might be caused by me pulling ember-light-table into an addon I'm working on.  I can confirm this isn't a problem in ember-light-table beta 4.

[2016-06-14 16:55] cball commented on #12
A few things I learned related to performance with big tables:

API:
- try to return the table data as needed to display. The less transformation you have to do client-side the better.
- use plain arrays rather than relationships

Ember:
- with many hundreds or thousands of records don't use Ember Data
- the more template driven things are, the slower renders will be. I've tried a fully template d

[2016-06-14 17:08] taras commented on #12
@cball this is great. Thank you!

[2016-06-14 17:23] offirgolan commented on #56
What version of ember-cli are you on?

[2016-06-14 17:24] nmcclay commented on #56
Opps, yeah 2.6.1

[2016-06-14 17:36] offirgolan commented on #56
Can you try pulling master branch and seeing if you're getting the same error?

[2016-06-14 17:40] nmcclay commented on #56
Yeah I pulled git+ssh://git@github.com/offirgolan/ember-light-table.git#d9d23b4644a939897c4e1ed8febc65a257c20af7 and it is still a problem.  Its also a problem with Ember 2.5.1.

[2016-06-15 16:11] runspired commented on #12
Table support will be in smoke-and-mirrors 1.0, but not via the main component, it does have it's own edge cases.

If you look into the virtual-item branch of smoke-and-mirrors, the `radar` is extractable (and I've started to do so at ember-radar https://github.com/runspired/ember-radar). This is essentially an IntersectionObserver polyfill.  If @cball want's to champion helping extract and finali

[2016-06-15 18:03] offirgolan commented on #12
@runspired that sounds super exciting! Once S&M hits 1.0 we can think of restructuring the internals of this table to support occlusion rendering.

One more thing that I want to note, which I believe can be a pretty big cause of the rendering performance problems is not being able to render "null" components. Looking at the tbody of this addon:

[code]

Everytime we yield, we must yield all 3 body

[2016-06-15 22:01] offirgolan commented on #49
@stevenwu I believe this issue has been resolved with the latest beta release.

[2016-06-15 22:01] #49 closed

[2016-06-17 07:42] sepetukas opened #62 "Is the a way to add css class to table row"
Hi, just wondering is there any simple way to add css class to table row. CSS class should be computed from row data

[2016-06-20 22:13] offirgolan commented on #62
Sorry for the late response! Yes it is possible.

[code]

See [docs](http://offirgolan.github.io/ember-light-table/docs/classes/Row.html#property_classNames
)

[2016-06-23 00:53] djsegal opened #70 "Ability to add row loop index as column"
I'd like to have a first column that just adds an index to each row signifying the order models were taken from the database

equivalent to `index` in the following code snippet:

[code]

-------

I couldn't pick up from the docs wether this was currently possible or not

[2016-06-23 01:53] djsegal opened #71 "Two header rows and no data rows"
I'm using the code as described in [the docs](http://offirgolan.github.io/ember-light-table/docs/modules/Home.html) and:
 + I can't get data rows to show up (i.e. the body)
 + Both the `{{t.head}}` and `{{t.foot}}` repeat the same header row

---------

extra info:
+ calling `light-table` inside `{{posts-table model=model.user.posts}}`
+ using `ember v2.5.1` & `ember-data v2.6.0`

[2016-06-23 06:29] offirgolan commented on #71
What version of ember-light-table are you on? This is a known in the last couple beta releases that we are working out.

[2016-06-23 06:31] offirgolan commented on #70
You can just add the index as a property on the model and make a column for it.

[code]

Then add the following column

[code]

[2016-06-23 16:58] djsegal commented on #71
@offirgolan `v1.0.0-beta.6`

[2016-06-23 16:59] djsegal commented on #70
pretty dope trick. thanks man

[2016-06-23 16:59] #70 closed

[2016-06-23 17:02] offirgolan commented on #70
No problem! Glad I could help 😸

On Thursday, June 23, 2016, djsegal <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-06-23 17:33] offirgolan commented on #71
Yeah its a known issue with the last 2 or 3 beta releases. We are working on it :)

[2016-06-23 19:20] djsegal commented on #71
confirmed. reverted to `v1.0.0-beta.5` and everything worked properly

[2016-06-23 19:20] #71 closed

[2016-06-23 21:26] NegativeIQ opened #72 "Resizable columns?"
Hey guys i love light table, it has everything out of the box with a simple config, but is it possible to have resizable columns in any way?

[2016-06-24 01:52] eddiesholl commented on #23
@offirgolan Just to clarify, does this mean if you have a 'dynamic' set of columns, there's no way the component can respond itself to the extra need for width? There's no way to just 'let it grow'? I guess you could simulate that effect by widening the wrapper width directly whenever the column set changes

[2016-06-24 02:00] offirgolan commented on #23
@eddiesholl this issue is when all your columns have a fixed width (via the `width` property in the column definition) and the total width exceed the width of the parent container. If a column isnt given a `width` it will "just grow" just like if you were to write a standard html5 table.

[2016-06-24 13:43] rwwagner90 commented on #54
@offirgolan what sort of improvements are you thinking of? I could potentially help with this.

[2016-06-24 13:46] rwwagner90 commented on #52
@schickm I just use the `didReceiveAttrs` hook to set the rows, so the rows are set anytime the model changes. I think it makes sense to do this rather than relying on the addon to do it.

[2016-06-24 14:39] rwwagner90 opened #74 "height:auto"
For some reason, when I set height to auto, the `.tse-scroll-content` div still has a manually set `300px` height, so the table does not size itself to full height.

[2016-06-24 14:42] rwwagner90 opened #75 "Content no longer loads on 1.0.0-beta.6"
Did `setRows` or `addRows` go away or something? I'm not getting any errors that they are undefined, but none of my rows load anymore.

[2016-06-24 15:16] schickm commented on #52
Gotcha, but I was thinking of a scenario where my component receives a RecordArray as the model, and at some point in the future records are added/removed from the RecordArray due to changes in the store.  This would mean that `didReceiveAttrs` wouldn't be triggered since technically the attribute was the RecordArray instance, not it's content.   Hopefully I'm making sense here...  If there was a

[2016-06-24 16:23] rwwagner90 commented on #52
@schickm are you sure it wouldn't fire? You may be right, since our model is slightly different, and is a model with an array as just one property inside it, but when we load more records into the store, and they are pulled into that array, the `didReceiveAttrs` hook is called.

[2016-06-24 17:31] offirgolan commented on #74
This is a known issue in the latest beta that we are currently working on. Please revert back to beta.4.

[2016-06-24 17:32] offirgolan commented on #75
Nope they didnt go away. This is a rendering issue with ember-scrollable.

This is a known issue in the latest beta that we are currently working on. Please revert back to beta.4.

[2016-06-24 17:32] offirgolan commented on #62
@sepetukas Im gonna go ahead and close this issue. Feel free to reopen if you have any more questions.

[2016-06-24 17:32] #62 closed

[2016-06-24 17:57] offirgolan commented on #54
@rwwagner90 that would be fantastic! Here is a list of things I think should be added to the docs. Feel free to take whichever one you are more comfortable with 😺

- [ ] Annotate each available component property with a helpful description and maybe an example where possible
- [ ] Add overall examples in module homes
- [ ] Cell Type and Column Type --> What they are and how they can be used (inclu

[2016-06-24 20:34] offirgolan commented on #74
@rwwagner90 should be fixed with the just released `beta.7`

[2016-06-24 20:34] offirgolan commented on #75
Closing since this is a duplicate of #74

[2016-06-24 20:34] #75 closed

[2016-06-24 20:39] offirgolan commented on #52
@schickm as of right now, implicit row creation is not on the backlog. Maybe in the future but the current goal of this addon is to focus mostly on the table component rendering and give you all the power on when and how rows/columns are added/removed/modified. Ill leave this open for now so that way I wont forget!

[2016-06-24 20:43] schickm commented on #52
@offirgolan makes sense, I got that feeling from looking at the API.  If/when I get a good non-observer based approach to this, I'll post it here for others interested.

[2016-06-25 00:30] taras commented on #52
@schickm I create a PR that adds a `table` helper that you can use to automatically update the table when data changes. This will only work for simple tables as the moment. I'm working on some `secret` sauce that'll make this a viable solution for complicated tables. Give it a shot and let me know if it works for you. #79

[2016-06-25 01:20] rwwagner90 commented on #74
@offirgolan it is fixed, thanks!

[2016-06-25 01:20] #74 closed

[2016-06-25 10:00] sepetukas commented on #62
Thank you. Not very familiar with the github work flow :)
On 24 Jun 2016 20:32, "Offir Golan" <notifications@github.com> wrote:

[2016-06-25 22:08] offirgolan commented on #62
@sepetukas No worries! Glad I can help out 😸

[2016-06-25 22:09] offirgolan commented on #56
@nmcclay can you validate if this issue still exists with the latest beta?

[2016-06-27 13:11] nmcclay commented on #56
I pulled the latest beta 7 and tested, appears to be having the same issue, fails on this line because length is undefined:

[code]

[2016-06-27 15:52] nmcclay commented on #56
I'm going to setup a reproduction app so you can see this issue more easily.  One thing I encountered while setting this up as a vanilla addon:

[code]

Obviously adding 'ember-cli-handlebars` to my own addon's dependencies fixed this, but I wanted to bring it to your attention.

[2016-06-27 17:35] nmcclay commented on #56
Ok, I have a repo case isolated now.  Its caused by the included hook when you use ember-light-table within another addon.
[code]
I can confirm this became broken in beta 5 and has continued ever since.

[2016-06-27 17:54] nmcclay commented on #56
Probably doesn't come as a surprise, but `ember-composable-helpers` is the culprit.  Adding this package as well as the included line listed above causes the error.  This is probably not caused by ember-light-table in any way, so I'll see what I can learn about fixing it and take any grievances over there instead.

[2016-06-27 18:26] offirgolan commented on #56
👍 Sounds good. Keep me in the loop! If needed we can escalate to ember-composable-helpers.

Do you think ember-light-table just needs to add a `whitelist` and `blacklist` to ember-cli-build with all the composable helpers we are using?

[2016-06-27 18:29] nmcclay commented on #56
No need, its an obscure nested addon issue and is completely unrelated to ember-light-table.  For anyone interested the issue is solved by using:
[code]

[2016-06-27 18:29] #56 closed

[2016-06-27 18:32] offirgolan commented on #56
Thats good to hear 😺 ! Thanks for investigating @nmcclay

[2016-06-28 03:01] offirgolan commented on #72
This is a duplicate of #18. This is something we would love to add, unfortunately, it will not be prioritized for the 1.0 release. A PR is always welcome 😺

[2016-06-28 03:01] #72 closed

[2016-06-29 12:47] GCorbel opened #81 "Add special value in valuePath to return the model it self."
I want to use a component to have actions buttons. For the moment, I can pass the id to retrieve the model but it can be useful to have something like this :

[code]

What you think?

[2016-07-01 02:27] offirgolan commented on #81
Im not sure I follow @GCorbel. Can you give me more information?

[2016-07-01 11:14] GCorbel commented on #81
I think it's correct. I finally succeeded by using `row.content`. I did this :

[code]

I can be useful to have this alias builtin.

[2016-07-01 14:36] masda70 opened #92 "Uncaught Error: Assertion Failed: A helper named 'or' could not be found"
Javascript error thrown when loading component.

Based on `ember-light-table`'s example http://offirgolan.github.io/ember-light-table/
- Ember 2.6.2

`ember install ember-truth-helpers` fixes the issue.

[2016-07-01 17:49] offirgolan commented on #92
Hmm thats pretty weird since ember-truth-helpers is marked as a dependent. Thanks for opening the issue, ill take a closer look into this.

[2016-07-01 17:49] curtisgr opened #93 "Support options hash when invoking row-related methods like Table.addRow()"
Currently, when invoking row-related methods like `Table.addRow()`, the options hash doesn't make it to the Row constructor:

[code]

To get the options to be set on a row, you currently have to initialize a Row first.

[code]

Would it not be great if you could pass along the options along with the data when using methods like addRow or pushRow?

[2016-07-01 17:51] offirgolan commented on #93
@curtisgr agreed. That functionality should have been there already but I guess I missed it 😝 .

[2016-07-01 17:54] offirgolan commented on #81
@GCorbel in your template, you can do something like this instead of all the code above:

[code]

[2016-07-01 18:13] GCorbel commented on #81
You're right, thanks. The alias still a valid suggestion but I close this issue because my problem is solved. Thanks.

[2016-07-01 18:13] #81 closed

[2016-07-01 20:07] #93 closed

[2016-07-06 18:26] efx commented on #92
FWIW, I am setting the same issue after installing `"ember-light-table": "1.0.0-beta.8"` to my ember-cli project's devDependencies.

[2016-07-06 18:27] offirgolan commented on #92
@efx @masda70 I found the issue. Will be releasing a fix soon.

[2016-07-06 18:55] #92 closed

[2016-07-07 18:15] istok20 opened #97 "live demo does not work in Safari"
live demo http://offirgolan.github.io/ember-light-table/#/  shows empty table in Safari 8.0.8 from Mac OS X Yosemite 10.10.5

[2016-07-12 19:43] blimmer commented on #97
FWIW i can't repro this on 10.11.5 safari 9.x

[2016-07-13 19:11] Eusse opened #99 "Style Table Element"
Hi, i'm trying to style the table element with bootstrap like [this](http://getbootstrap.com/css/#tables). I added the classNames attribute in the component template but it adds the classes to the div, not the table tag.
`{{#light-table table classNames='table table-bordered table-hover table-condensed' as |t|}}`
Is this supported? am i doing something wrong?

ember-light-table: 1.0.0
ember-cli: 2

[2016-07-13 19:21] blimmer opened #100 "deprecation warning in tests"
[code]

[2016-07-14 19:52] taras opened #103 "Refactor CSS to use PostCSS instead of SASS"
PostCSS will allow us to use their [autoprefixer](https://github.com/postcss/autoprefixer) module which would automatically add prefixed to flex box. It would address #97.

Objections?

[2016-07-17 00:56] goodoldneon opened #106 "table-layout: auto"
First off, I love Ember Light Table! Much easier than manually creating tables.

I'd like my table to behave like it has the CSS attribute "table-layout: auto". In other words, column widths change to accommodate the width of their contents. But since Ember Light Table renders the table head as a separate table, "table-layout: auto" doesn't consider the width of the body data below.

For example,

[2016-07-19 18:25] offirgolan commented on #99
Im not able to recreate your issue. Using `classNames` should work... Im using it in my apps with no problems.

[code]

![screen shot 2016-07-19 at 11 24 15 am](https://cloud.githubusercontent.com/assets/575938/16961683/6d3df68a-4da3-11e6-8526-78b136a0496a.png)

[2016-07-19 18:27] offirgolan commented on #103
That sounds good to me. Can you handle this task @taras?

[2016-07-19 20:55] Eusse commented on #99
Yeah, that's the issue. I need the classes to be applied to the table tag, not the div, because if it's applied to the div, the cells wont get the borders.
![ember-table-bootstrap](https://cloud.githubusercontent.com/assets/1101848/16966202/16d2895c-4dc9-11e6-8890-5b1dedd0ac5b.png)

[2016-07-19 21:07] offirgolan commented on #99
@Eusse can you target your CSS at the table tag? Instead of `.table-bordered` have it be `.table-bordered table`

[2016-07-19 22:00] taras commented on #103
@offirgolan yep, I'll take care of it. I just wanted to check with you that you're good with this.

[2016-07-19 22:50] offirgolan commented on #103
Oh okay gotcha. Yeah this sounds good. Prolly should have been done before 1.0 but it never even crossed my mind

[2016-07-20 14:33] buschtoens commented on #106
`table-layout: auto` cannot be used due to the way we enable scrolling, as you already indicated. In my opinion this really is a shortcoming of HTML / CSS. Do a quick Google search for scrollable tables and you won't find a satisfying solution with dynamically sized columns.

`table-layout: auto` is quite slow for big tables anyway. I'd suggest we improve on the already existing `width` property o

[2016-07-20 20:21] betaSocialCode opened #108 "onScrolledToBottom called just once."
Thank you for sharing your addon.
In my implementation, which is basically a copy of the example at http://offirgolan.github.io/ember-light-table/, "onScrolledToBottom" is called just once when the component first loads, but it doesn't get called again on scroll (although "canLoadMore" is true after the first fetch of records).
Are there any more configurations needed for the infinite scroll to wo

[2016-07-20 23:01] #18 closed

[2016-07-21 07:58] mwalper commented on #99
That's what i did to fix this, but i'm not sure that's the right way to do it.
You can place whichever css class(es) you want.
In Parent Component:
[code]

[2016-07-21 12:06] GCorbel opened #111 "Add css selectors for lines and cells"
It can be useful to add css selectors to help to find a row or a cell. The row can have this `#model-1.model` and a row can be found with `.attr`. So, to find a cell, I can do something like `$('#user-1 .name') ` to find the cell. It would be easier for styling and acceptance testing.

If we use EmberData, I think `row.content.constuctor.name`  and `row.content.id` is enough to find the row id but

[2016-07-21 21:14] Eusse commented on #99
@offirgolan Not really, i need to use default bootstrap css and it says i should use all the classes within table tag as mentioned in the docs link. @mwalper I will try this, but i would like to have some way to specify it.

[2016-07-22 05:36] dulichan opened #113 "Hover information Action for the Column Headers"
I would like to add an information box when I hover over a header column. Is this possible? If not - where do I have to customize to make this happen?

[2016-07-22 06:45] buschtoens commented on #113
There are two ways. You could either create an [extra component](https://offirgolan.github.io/ember-light-table/docs/classes/Column.html#property_component) and set the `title` attribute (and bind it via `attributeBindings`) or create a new [column type](https://offirgolan.github.io/ember-light-table/docs/classes/Column.html#property_type) and do the same and for example, make `title` a computed p

[2016-07-22 06:58] buschtoens commented on #108
`onScrolledToBottom` should be called irregardless of `canLoadMore`. The action originates [here](https://github.com/offirgolan/ember-light-table/blob/master/addon/components/lt-infinity.js#L26) and is propagated through the body to your controller / component.

You have to implement the `canLoadMore` behavior yourself, as it is done in the example:

[code]

Having said that, are you sure that `on

[2016-07-22 07:04] buschtoens commented on #99
@Eusse right now, this is the only way, besides overriding the template, which I would discourage.

Maybe we should implement a `tableClassNames` property or something similar and add it to the [`<table>` tag](https://github.com/offirgolan/ember-light-table/blob/c8cf285002e11772cf45521c273b8eb02b9243fa/addon/templates/components/lt-body.hbs#L8) (also in `lt-head` and `lt-footer`).

[2016-07-22 07:09] buschtoens commented on #99
Side note: applying the classes on the wrapping `<div>` doesn't work because of Bootstrap using direct descendant selectors in their [`tables.less`](https://github.com/twbs/bootstrap/blob/master/less/tables.less). They surely got their reasons, but I heavily dislike these kinds of overly restrictive CSS rules. But I got good news for you: They've fixed it in [Bootstrap v4](https://github.com/twbs/

[2016-07-22 12:35] Eusse commented on #99
That sounds great @buschtoens! but looking at the alpha 4 [documentation](http://v4-alpha.getbootstrap.com/content/tables/) still needs the classes in the table tag. I like better your idea of implementing the `TableClassNames` property, besides, other frameworks like zurb foundation use [this approach](http://foundation.zurb.com/sites/docs/table.html) as well. I think we should add this feature.

[2016-07-22 17:46] bakerac4 opened #114 "Fixed left column"
One of the requirements I was given was to implement the first column as a fixed column. Much like http://opensource.addepar.com/ember-table/#/overview. If you collapse the width of the page, you will see that you can scroll everything but the first column to the right. This gives a much better presentation on mobile/tablet. Can you guys think of a way that I might accomplish this?

[2016-07-22 17:54] betaSocialCode commented on #108
@buschtoens thanks for your response. That was my understanding. My code is here: https://gist.github.com/betaSocialCode/1d5703746a096ccec8f571ec84745151
Thanks again!

[2016-07-22 23:03] buschtoens commented on #99
Disregard the documentation. It's only exemplary. :wink:
The source code I linked clearly shows that they don't use the direct descendant selector in v4.

I think this is more of an issue with Bootstrap and not ember-light-table. IMHO the CSS shouldn't be so tightly coupled to the HTML structure as this leads to exactly these kinds of problems.

Ultimately, this decision is up to @offirgolan, but

[2016-07-22 23:17] buschtoens commented on #108
Sorry for being so persistent, but sometimes it's just the most trivial stuff going wrong. Did you add a `console.log('pizza');` right [in line 102](https://gist.github.com/betaSocialCode/1d5703746a096ccec8f571ec84745151#file-turbo-data-table-js-L102) to verify that `onScrolledToBottom` *actually* isn't called again?

If so, something with [`lt-infinity`](https://github.com/offirgolan/ember-light-

[2016-07-23 13:54] betaSocialCode commented on #108
I sure did try to consol.log. onScrolledToBottom is definitely not called again. I'll look into it more or create an example you can step through. Thanks!

[2016-07-25 03:08] offirgolan commented on #108
@betaSocialCode if you are able to create a simple reproduction app, please share it here and Ill look into it more.

Also, are you on version 1.x?

[2016-07-25 03:11] offirgolan commented on #99
@buschtoens adding something like `tableClassNames` is very simple to do and I believe will resolve this issue. Ill take some time this week to add this feature. @taras does this solution work for you?

[2016-07-25 03:12] offirgolan commented on #113
I believe @buschtoens answered this perfectly (thanks 😸). Im gonna go ahead and close this issue. @dulichan feel free to reopen if you have any more questions.

[2016-07-25 03:12] #113 closed

[2016-07-25 05:28] taras commented on #114
@bakerac4 we don't have horizontal scroll in this addon.

I'm working on a few large tables right now and we're implementing a different kind of responsive behaviour. Instead allowing horizontal scrolling, we're collapsing hidden columns into an accordion with rows. This feature will likely be quiet portable and we could add it to this table.

Speaking for myself, I don't see horizontal scrolling

[2016-07-25 05:31] taras commented on #111
Usually, when I write acceptance or integration tests, I use content of the cell to identify the cell. For example, you could do something like `$('td:content(Offir)')`. This reads much better in tests and your tests will be more resilient to change. I would recommend that you take this approach rather than adding classes to elements that are bound to data.

[2016-07-25 05:38] taras commented on #99
@offirgolan yeah, I think `tableClassNames` is a good solution here. Are you thinking something like this?

[code]

[2016-07-25 06:45] offirgolan commented on #99
@taras yup exactly that. Then apply all those classes to each table being
rendered.

On Sun, Jul 24, 2016 at 10:38 PM Taras Mankovski <notifications@github.com>
wrote:

--
Thanks,
Offir Golan

[2016-07-25 12:32] bakerac4 commented on #114
Hey @taras do you have an example I can view for the hidden/collapsable column tables your working? I would love to be able to play around with it to see how it feels? It sounds like an interesting idea.

[2016-07-25 14:56] Eusse commented on #99
@buschtoens You are right, i tried and it works well, i can switch to v4 for my personal projects, but i cannot change my client's bootstrap version.
Thanks for the help guys!

[2016-07-25 15:17] betaSocialCode commented on #108
@offirgolan , yeah, I'm on 1.0.1. Thanks!

[2016-07-25 23:49] #99 closed

[2016-07-26 00:06] #108 closed

[2016-07-26 07:15] aexmachina opened #119 "Problems specifying the cellComponent"
The docs don't make it clear that the component path must be `light-table/cells/my-component`.

If I provide a `valuePath` in the columns spec I get an error `Cannot set read-only property "value" on object`. The workaround is to define `value: null` on the Cell subclass, but the `valuePath` has no effect.

Also, the only way for me to get the value was from `row.content`.

[2016-07-26 07:34] aexmachina opened #120 "Problems with cellComponent"
I've encountered several issues trying to use the `cellComponent` property on my column definition. The docs don't make it clear that the component path must be `light-table/cells/my-component`.

If I provide a `valuePath` in the columns spec I get an error `Cannot set read-only property "value" on object`. The workaround is to define `value: null` on the Cell subclass, but the `valuePath` has no

[2016-07-26 18:35] offirgolan commented on #120
Hi @aexmachina, sorry you're facing so many issues. I think the documentation definitely needs a lot more work but in the mean time, ill try to answer your questions as best I can.

`cellComponent` can be declared anywhere ([see here](https://github.com/offirgolan/ember-light-table/blob/master/addon/templates/components/cells/base.hbs#L2)) but a cellType must be declared in `light-table/cells/` ([

[2016-07-26 18:36] offirgolan commented on #119
Closing as this is a duplicate of #120

[2016-07-26 18:36] #119 closed

[2016-07-26 18:41] offirgolan commented on #106
@buschtoens a PR is always welcomed 😜

[2016-07-26 20:42] kieran-rocks opened #121 "Add-on 'ember-in-viewport' uses deprecated Ember.merge"
When using onScrolledToBottom for infinite scrolling, the ember-in-viewport add-on is used which defines an isInViewport function containing the line:

`const tolerances = merge(defaultTolerance, tolerance);`

This is causing the following deprecation warning to flood the console:

Either another method of determining whether or not the component is in the viewport needs to be implemented or the a

[2016-07-27 00:33] offirgolan commented on #121
Fix is in master. Ill issue a release sometime in the next day or two.

[2016-07-27 00:33] #121 closed

[2016-07-27 02:28] aexmachina commented on #120
Okay, cool thanks. So to be clear the difference between `cellComponent` and `cellType` is that 'cellType' is looked up in `light-table/cells/`. FWIW, my feeling is that it adds complexity for little benefit. Also the fact that they have a different interface is perhaps confusing - `cellType` is provided `rawValue` and `cellComponent` is provided `value`.

Here's what I'm providing:

[code]

and I

[2016-07-27 03:14] #100 closed

[2016-07-27 04:41] offirgolan commented on #120
cellType !== cellComponent. cellComponent is just the content of a tbody cell. You can find out more info about cellType [here](http://offirgolan.github.io/ember-light-table/docs/classes/Column.html#property_cellType)

Im really sorry, but I dont have much context here. Can you post code snippets of the cellComponent, and your table component?

[2016-07-27 05:16] buschtoens commented on #106
@offirgolan What [browser compatibility range](http://caniuse.com/#feat=flexbox) do you strive for? The flexbox implementation in IE11 is workable but has some considerable bugs [as outlined here](https://github.com/philipwalton/flexbugs).

I haven't given this any deeper thought yet, but I'll try to cook something up that works in IE11.

[2016-07-27 05:25] taras commented on #114
@bakerac4 I don't have one yet, but I'll have a finished implementation in about 1 month.

[2016-07-27 08:44] aexmachina commented on #120
Cool, got it.

Here's my code:

[code]

This all works, except if I remove `value: null` on the Cell subclass it throws an error `Cannot assign to read only property 'stack' of object '[object Object]'`

[2016-07-27 16:16] djsegal opened #124 "Hard to overwrite cell/column base classes in own project"
+ I want to get into the cell template and add some classes to nested components
+ but the `namespace` + `single word without dash` component make this difficult

-------

Can you move the nested base components to the main directory and just dasherize it to make it two words?

[2016-07-27 17:18] djsegal opened #125 "Way to select default column to be sorted on init"
I know that sorting isn't directly baked in at the moment, but maybe there's a way to make a default column selected as `sort:asc` at the beginning

[2016-07-27 18:14] #114 closed

[2016-07-27 19:02] bakerac4 opened #126 "Fixed header without specifying height"
Was wondering if you guys would take a pull request regarding having a fixed header that uses the page's scroll bar.

I realize that I can do this myself in the table component template by using an addon like https://www.npmjs.com/package/ember-pin and doing something like
[code]

But it seems strange that you get an error if you specify t.head as fixed and don't provide a height when I think you

[2016-07-27 21:02] djsegal commented on #124
i just did this instead:

[code]

[2016-07-28 19:45] offirgolan commented on #124
@djsegal I think what you're looking for is creating a new [column type](https://github.com/offirgolan/ember-light-table/blob/master/addon/classes/Column.js#L80-L98)

[2016-07-29 00:38] offirgolan commented on #120
[code]

Where is `Cell` coming from?

[2016-07-29 00:42] offirgolan commented on #125
In your column definition, you can do the following:

[code]

If you dont want to do it there, you can just do

[code]

[2016-07-30 03:59] djsegal commented on #125
I can't get it to work that way. The class that says it's sorted up/down gets added, but the items are initially sorted the wrong direction

If I do it with a javascript click though, it works (not ideal because i want multiple tables)

[2016-07-30 08:29] offirgolan commented on #125
This addon doesnt actually do the sorting. Just sets up the correct classes/icons/etc. You need to do the sorting on your own before you insert the rows into the table.

[2016-08-01 06:34] aexmachina commented on #120
`import Cell from 'ember-light-table/components/cells/base'`

[2016-08-01 18:33] offirgolan commented on #120
The only place this should happen is for creating custom cell *types* and not for cellComponent. Just use Ember.Component.extend and it should fix your problem.

[2016-08-02 05:22] aexmachina commented on #120
Right okay thanks.

[2016-08-02 05:22] #120 closed

[2016-08-03 13:42] nmcclay opened #134 "Better way to share global options with sub-components?"
I'm a bit confused on how to add more shared options that can be available to sub-components?  I see that there is a 'sharedOptions' property that can hold values, but I'm not certain how to add new values to this to pass it downstream?  I considered overriding the light-table component itself, but that seems like it could be overkill relative to what I'm trying to do which is just add another pro

[2016-08-03 14:02] nmcclay commented on #134
I did get this to work by reopening the light-table component class like so:
[code]
This works, is this the expected manner to override these sharedOptions?  One risk I can see with this is that if sharedOptions changes that it will cause upgrading my table component to break.  IMO It would be better if we had a public 'customOptions' object we could pass that would be merged with the computed sha

[2016-08-03 16:11] djsegal commented on #125
Thank you. Closing this issue

[2016-08-03 16:11] #125 closed

[2016-08-03 16:11] djsegal commented on #124
This was the answer. Thank you.

[2016-08-03 16:11] #124 closed

[2016-08-03 16:16] djsegal opened #135 "Horizontal Scroll-ability to allow long labels"
I dont know how to fix long labels being too crowded
- Is there already a way to add horizontal scrollability?
- I couldn't find an example like this in the demo

---

<img width="510" alt="screen shot 2016-08-03 at 12 13 17 pm" src="https://cloud.githubusercontent.com/assets/3156114/17372894/c7d77d6a-5973-11e6-97e1-74334f0a3d14.png">

[2016-08-03 17:43] offirgolan commented on #134
@nmcclay `sharedOptions` is a private instance that should not be externally modified.

If you want to pass around data, you can use the column definition

[code]

which can be accessed in the component via

[code]

If you're trying to pass around state, I would highly recommend using a service which can then be easily inject into your component. Lastly, you can pass around actions via `tableActio

[2016-08-04 06:57] jamesdixon commented on #135
@djsegal typically, you could do something like this:

[code]
However, this doesn't appear to work. It may be because of the use of `ember-scrollable`.

Would love to hear from the collaborators on this as well.

P.S. may be related to #131

[2016-08-04 07:43] offirgolan commented on #126
@bakerac4 sorry for a delayed response!

Im sorry to say that using something like `ember-pin` would not suffice due to the use necessity of `ember-scrollable` form scrollbar emulation. Fortunately, this table is using flexbox! If you wrap the table in a stretchable flexbox container and allow it to grow, it can easily take up the rest of the available viewport. Doing that you can set the table he

[2016-08-04 07:52] offirgolan commented on #106
I think this will be an easy solution as of right now.

I would love to see this solution in action @buschtoens but that will take much more time and will need to be discussed further. If you have time to put

If you're up to it, can you handle the first solution as an intermediate fix?

[2016-08-04 13:52] kieran-rocks commented on #121
@offirgolan Do you think this will make it into the next release? Did not seem to make it into v1.1.0. Thanks

[2016-08-04 20:09] taras commented on #135
@jamesdixon I'll take a look at this soon as I can. It'll likely be about 2 weeks. How big of an issue is this for you right now?

[2016-08-04 20:11] jamesdixon commented on #135
@taras not a big issue at this point. I know how busy you are, so whenever you're able to look at it, it's very much appreciated!

[2016-08-04 20:26] taras commented on #135
@jamesdixon I have a client who just pinged me about this. I told them that I'll look at it in 8 days. So I'll be back :)

[2016-08-06 13:49] rwwagner90 opened #137 "Loading template breaks sorting"
I added some loading.hbs templates to my app, to take advantage of the built in loading stuff Ember provides, while resolving model hooks, and it seems to no longer be able to sort. I think this is because it removes the component from view, so it can't set the sort direction and stuff. Thoughts on how to resolve this?

[2016-08-08 16:43] nmcclay commented on #134
Ah, yeah I suppose I should have been more clear about what I am actually doing.  I am overriding the header and footer components to add new sub-components to them.  Specifically a manual pagination controller, result size selector, and an action bar to the header.  These work great but without completely overriding all the component controllers its difficult to pass the extra meta data I need do

[2016-08-08 16:45] nmcclay commented on #134
The idea of a service is quite interesting, but one trick is I do have contexts where I have more than one table displayed at a time.  I guess I could make some sort of associative dictionary lookup in the service, but it strikes me that all I really want to do is pass downstream some shared component state.

[2016-08-09 12:43] HenryVonfire opened #139 "Two columns resizing at the same time"
In the actual [example](http://offirgolan.github.io/ember-light-table/#/resizable), if you try to resize `State` (grabbing from the left of `Country`), both `State` and `Country` move in opposite directions. If you resize any other column, this behaviour disappear.

[2016-08-09 12:59] HenryVonfire commented on #135
Until an official solution is provided, something that worked for me was to set each column with a fixed width and then wrapping the table with two `div`s like this:

[code]

If you want it to work with the resize option too, you can bind the width with a computed property that recalculates the total width after a resizing.

[2016-08-09 17:44] offirgolan commented on #139
@HenryVonfire that is because both Country and State initially have a set width. When you resize State, it assigns it a width value which forces the Country column to adjust its own width depending on the size remaining in the table. This doesnt happen to all the columns because a majority of them have an initial set width.

[2016-08-09 18:24] offirgolan commented on #134
@nmcclay I see what you are trying to do but again, I would not depend on overwriting private instances since they could change at anytime without notice or can be removed completely if we find a better solution. To be honest, the `sharedOptions` was to be a temporary solution since its not the most scalable nor the most viable solution.

As I noted before, I would suggest using a service to hold

[2016-08-09 18:35] offirgolan commented on #137
@rwwagner90 are you creating a new table instance every time the component is reloaded? Im assuming this issue lies in the realm of keeping your current table state even after your move in and out of a loading state.

The best and simplest solution I have found is keeping your table definition in a single file.

[code]

Now when you do this:

[code]

Even when the component gets destroyed / initia

[2016-08-09 18:37] offirgolan commented on #111
Im gonna go ahead and close this issue. Feel free to reopen if needed.

[2016-08-09 18:37] #111 closed

[2016-08-09 18:38] offirgolan commented on #126
Im gonna go ahead and close this issue. Feel free to reopen if needed.

[2016-08-09 18:38] #126 closed

[2016-08-09 19:08] nmcclay commented on #134
Makes sense, I'll have to look into this idea of a cross component service.  Thanks!

[2016-08-09 19:09] offirgolan commented on #134
No problem. Im gonna go ahead and close this issue. Feel free to reopen if needed.

[2016-08-09 19:09] #134 closed

[2016-08-09 19:38] jamesdixon commented on #135
@HenryVonfire very nice! I'll give this a shot

[2016-08-09 20:52] eguitarz opened #141 "Can we allow link-to for each row?"
If I'm building a menu with ELT, it will be nice to pass in a menu model and have {{link-to}} on each row. That way I don't have to worry about highlight problem, since {{link-to}} automatically parse current route and append `class="active"` to the corresponding link.

[2016-08-09 21:04] offirgolan commented on #141
Im not exactly sure what you mean but I believe defining your own cellComponent is what you are looking for.

[2016-08-09 21:18] eguitarz commented on #141
@offirgolan Let me explain more about my case:

I have a contact list, each row includes name, phone, address ...etc. When I click on one row, I wish the row will be highlighted. The route would be `/contacts` for this contact list. But when I click on any one row, the route will be transitioned to `/contacts/:id` (but the contact list still existed). Is it possible not adding extra js code to hav

[2016-08-09 21:25] offirgolan commented on #141
@eguitarz using the link-to helper like that is not supported. I suggest taking a different route.

1. Use the `onRowClick` action to navigate the to the correct contact
2. Use the row's classNames property to add / remove the active class

[code]

[code]

[2016-08-09 21:33] eguitarz commented on #141
@offirgolan thanks. Was just wondering can we have the highlight code as less as possible. Your way is similar to what we are currently doing. But there's one other thing, we have to set up the highlight class when entering the route via direct url. (or trigger this rowClicked method)

If we can do it without managing classNames by ourselves would be great, but I'm fine with current solution. Than

[2016-08-09 21:33] #141 closed

[2016-08-10 07:08] HenryVonfire commented on #139
If that's the case, why it's behaviour changes after resizing another column? shouldn't it do always the same?

[2016-08-10 19:30] bargar commented on #135
@HenryVonfire thanks for the solution!

Refinement: use `min-width: total_width_columns` instead of `width` and you get:

* scrollbar when needed (i.e. when available space is below that defined in the total of the column widths)
* maximal use of horizontal space when available (e-l-t expands columns beyond their specified column width, space permitting)

In this way, we don't end up with an awkwa

[2016-08-10 19:32] offirgolan commented on #139
When a column isnt given a width, it adapts and stretches to its available width. When you resize it, it gets forced a new fixed with which causes all other columns without a set width to resize themselves.

[2016-08-11 07:06] HenryVonfire commented on #139
That's clear now, thanks for your explanation!

[2016-08-11 07:06] #139 closed

[2016-08-11 17:45] offirgolan commented on #139
@HenryVonfire np! 😸

[2016-08-15 15:57] nmcclay commented on #12
I also encountered some of the performance limitations discussed here.  One temporary solution I found that yielded significant results was dropping out ember-scrollable and ember-wormhole from the `lt-body.hbs` `lt-head.hbs` & `lt-foot.hbs`.  Obviously there are some additional style tweaks and some loss in functionality of ember-scrollable, but the performance benefits are about 2X faster from m

[2016-08-16 19:27] bargar opened #145 "document browser compatibility"
Appreciate all the hard work, thanks 👍

I've been doing some testing of an app using ember-light-table in different browsers and am seeing e.g. grids working in Edge, IE 11 and IE 10, but not working (table content is blank) in IE9.

Would it be possible to have browser compatibility added to the docs?

[2016-08-23 03:44] bargar opened #147 "Option to allow row selection without `ctrl`/`cmd`"
Though I understand the logic behind the `ctrl`-click to toggle individual rows, this may not be intuitive to users in some scenarios. Gmail is one of many examples where no meta keys are required to select/deselect individual rows.

I've added a configuration option to permit this behavior on a fork at [/bargar/ember-light-table](https://github.com/offirgolan/ember-light-table/compare/master...ba

[2016-08-23 12:53] buschtoens opened #148 "Scrolling a row into view"
[code]

I'd really like this feature and would be down to submit a PR, if you like it as well. :)

[2016-08-23 13:16] taras commented on #148
Your PR will be welcome. You might want to define this action on the table component rather than the table object since the scroll position is a DOM concern rather than state concern.

[2016-08-23 13:26] buschtoens commented on #148
Great!

You mean the `{{light-table}}` component? I dont know how I'd cleanly call that action, since they are supposed to flow up and not down.

Or would you prefer a data- / attribute-driven approach?

[code]

In my use case, I need to select and scroll a row into view, that is defined by a query parameter.

[2016-08-23 17:51] offirgolan commented on #147
@bargar a PR with this is very much welcomed 😸

[2016-08-24 17:36] billdami opened #150 "Pass table object into cellComponent"
If possible, it would be nice to able to have access to the `table` object within a custom cell component, for example, to have "delete row" button cell component which calls `table.removeRow(row)`. Currently, I'm defining an action on tableActions within the parent component's `init()` that the cell component invokes, but it seems a bit messy.

I noticed that the table object does get passed to c

[2016-08-24 17:57] billdami opened #151 "Allow use of a model attribute as the row's selected state property"
If possible, it would be great to be able to specify the name of an attribute on a row's associated content/model that is used to hold the row's selected state, with the actual `row.selected` property just becoming a computed alias of that.

Currently, you need to jump through a few hoops, setup observers/ect, if you want to persist row selection state on the row models and keep them in sync (e.g.

[2016-08-28 13:01] Gorzas opened #152 "Include better examples"
Hi there. I've started using this library for the tables in my project and it feels awesome and easy to use. In order to help to improve the library, I have just realised that the proposed example can be improved to a more realistic use case: the code example doesn't updates the light table when the model it's updated in the route or the controller because it's set in the `init` method. Can we add

[2016-08-29 13:38] pjcarly opened #154 "ember-wormhole vs ember-elsewhere"
Hi,

I recently came across this addon: https://github.com/ef4/ember-elsewhere

and was wondering if it isn't a better alternative than ember-wormhole, considering only public API is used, and the parts of the table rendered on different position all happen inside the same Ember Application already.

[2016-08-29 18:01] offirgolan commented on #151
@billdami this is something that needs to be implemented correctly and optimally or it could have some detrimental affect on the performance of the overall table component. I'll take a look into this when I have some free time. Hopefully sometime this week.

[2016-08-29 18:33] offirgolan commented on #154
@pjcarly this is the first time I've heard of ember-elsewhere. I'll have to check it out and see if it fulfills all of our current requirements 😸

[2016-08-29 18:38] offirgolan commented on #150
@billdami from my experience, including the `table` instance in a cell component should be considered bad practice. The table headers should have access to the table instance since they have the ability to modify its entire content (i.e. sort/filter rows).

If you want to modify table content from a cell component, I suggest using `tableActions` which gets passes to all custom components in the ta

[2016-08-29 19:22] pjcarly commented on #154
@offirgolan aces! Let me know if there is anything I can do!

[2016-08-29 19:24] offirgolan commented on #154
@ef4 are there any performance improvements in using ember-elsewhere over ember-wormhole?

[2016-08-29 20:26] ef4 commented on #154
I don't expect a performance difference. I do generally recommend ember-elsewhere when you're targeting somewhere far away that's still within an Ember app.

That said, until Ember gets an official block capture API, ember-elsewhere does not support block-form invocation. Users would need to define components for their header and footer, instead of inline blocks.

At which point you don't really n

[2016-08-29 21:17] offirgolan commented on #154
@ef4 thank you for the quick feedback! I believe your insight on this issue is substantial enough to close this. In the world of ember-light-table, I dont think that we currently want to modify the public API that has been exposed since the initial release.

As a side note, I think that ember-elsewhere looks fairly promising! Awesome work 😸

I'll be keeping an eye on alternate implementations that

[2016-08-29 21:17] #154 closed

[2016-08-29 21:18] offirgolan commented on #145
@bargar thank you for bringing this to my attention. Ill make sure to add this in the next release cycle.

[2016-08-29 21:19] offirgolan commented on #137
@rwwagner90 Im gonna go ahead and close this issue as it has been abandoned.

[2016-08-29 21:19] #137 closed

[2016-08-30 06:49] buschtoens commented on #148
@taras 🔔😉

[2016-08-30 13:41] billdami commented on #150
@offirgolan Thanks for reviewing this! Yeah I see the argument for not wanting to pass the table instance around too much, although it seems like in some cases you really do want to do table-level things from the context of a cell (such as in my example, deleting/removing the row). Maybe that particular use case could solved another way though, perhaps a `row.remove()` instance method or something

[2016-08-30 13:43] billdami commented on #151
@offirgolan Yeah definitely agree that it would need to be done in a way that doesn't cause any unwanted side effects. If you weren't able to get to this I was thinking about taking a stab at it myself, so just let me know! :)

[2016-08-30 14:57] MarcoUmpierrez opened #155 "Problem scrolling with mouse"
Dragging the scroll bar to go up or down in the table with the mouse has the problem that, when moving the mouse outside of the table area, the scroll bar gets glued to the mouse and will only be released after clicking again in one of the records.

[2016-08-30 22:56] offirgolan commented on #151
@billdami can you share some of your code on how you are handling the row selected state? Maybe we can find a better way and if not, we can discuss what the best approach is to solving this issue.

[2016-08-30 23:01] offirgolan commented on #150
@taras what do you think of this?

Solutions proposed:

1. Add access to the `table` instance in cellComponents
2. Add methods on the row/column instances that actually interact with the table instance
  - `row.remove()`  --> `row.__table__.removeRow(this)`
  - `column.remove()` --> `column.__table__.removeColumn(this)`

[2016-08-30 23:08] offirgolan commented on #155
@taras I am able to reproduce this on the demo page.

Reproduction Steps:

1. Grab scrollbar with mouse
2. Scroll down
3. While still holding the mouse down, move the mouse outside of the table div and release
4. Put the mouse back on the tbody and move it up and down (it should should still act as if you're holding the scrollbar)

[2016-08-31 12:49] billdami commented on #150
👍

For my use case, #2 would obviously be perfect, though I'm not sure if others have scenarios which would be simplified by having access to `table` directly that don't deal with the removal of the row.

[2016-08-31 13:06] billdami commented on #151
Here's some of the relevant bits within my generic table component which wraps ember-light-table and is used by various controllers/templates in my app:

[code]

The important parts are the `setSelectedRows()` method, which is basically called whenever rows are being added to the table, or when the table receives an entirely new set of models/rows. Additionally, I use a simplistic event bus servic

[2016-09-01 10:30] steffenbrem opened #157 "How to update value in cell component"
What is the recommended way to update the value of a cell inside a cell component? Currently it is marked as read only. I need this since I have an `editable-cell` component in which you can update the value to something else.

This is the best I could come up with:

[code]

[2016-09-01 17:49] offirgolan commented on #157
@steffenbrem are you not able to just use `rawValue` directly?

[code]

[2016-09-01 18:27] steffenbrem commented on #157
@offirgolan No, since this is only defined on the base cell, it is not passed to the actual cell component instance. See: https://github.com/offirgolan/ember-light-table/blob/master/addon/templates/components/cells/base.hbs#L2

[2016-09-01 22:48] wilsonohyeah opened #158 ""elementResizeDetectorMaker is not defined" when `t.head fixed=true`"
I'm seeing this in the latest version, 1.1.1. If I don't attempt to have the header render in a fixed position, everything is fine. Here's where I'm seeing that error occur from in my _vendor.js file:

[code]

Thanks in advance for any help with this!

[2016-09-01 22:56] wilsonohyeah commented on #158
Also, this only seems to be happening when I use ember-light-table (ELT) from a custom addon that we're utilizing in our app; we have a wrapper component in our addon that has a number of functional and stylistic defaults for ELT which we then use in our other ember apps.

In our addon we've included ember-light-table as a normal dependency. However, if I add ELT as a dev-dependency in our app tha

[2016-09-02 00:27] offirgolan commented on #157
Oh man.. ill make sure to add the `rawValue` to the custom component in the next iteration.

In the mean time, you can do something like this in your custom component

[code]

[2016-09-02 12:16] buschtoens opened #159 "onScrolledToBottom is not triggered after replacing an empty result set"
In one case I use `ember-light-table` to display search results. When changing the search query, I first set the query and then reset the table like so:

[code]

This triggers `onScrolledToBottom` which in turn triggers `fetchRecords` which gets the query and performs the search.

[code]

If the search does not yield any results, nothing much happens, as expected.

If the user then changes the sea

[2016-09-03 03:36] offirgolan commented on #159
Hi there!

I dont think you should depend on the `onScrollToBottom` action since it greatly depends on the current viewport. Instead, you should just call `fetchRecords` from `resetTable`.

One thing I would add as a precaution in `fetchRecords` is this:

[code]

[2016-09-03 03:43] offirgolan commented on #158
@wilsonohyeah this looks to be a problem with ember-scrollable. I have a PR for a possible fix

[2016-09-03 12:38] bargar commented on #147
@offirgolan #160 submitted, now including testing. Sorry for the delay!

[2016-09-03 19:42] djsegal commented on #135
@jamesdixon, so are we making @bargar's solution the official one?

it seems a little too roll-your-owny

[2016-09-03 23:09] suntrunda opened #161 "'Very-newbie' question on usage"
First of all I hope this is right forum for this question.  I have read the documentation and example several times, watched the video.  I must be making some fundamental newbie mistake that I could use some help.  Here is what I have done..

installed this component per the instruction

template:  app/template/application.hbs

[code]

created template-component:  app/templates/components/my-table

[2016-09-04 00:56] offirgolan commented on #135
@djsegal I'm really sorry for the delay on this. @taras and I have been a bit preoccupied by some other high priority tasks. We hope to have a solution to this sometime in the near future.

[2016-09-07 01:23] offirgolan commented on #151
What if we did something like this instead?

[code]

[2016-09-07 01:33] #147 closed

[2016-09-07 01:33] offirgolan commented on #147
Thanks again for you contribution @bargar! I should release this sometime this week 😸

[2016-09-07 13:49] bargar commented on #147
My pleasure! Looking forward to it 🐸

[2016-09-07 21:24] offirgolan commented on #157
Resolved with #163

[2016-09-07 21:24] #157 closed

[2016-09-07 21:24] offirgolan commented on #150
Resolved with #163

[2016-09-07 21:24] #150 closed

[2016-09-07 21:24] offirgolan commented on #103
@taras I made a temporary fix in #163 by just autoprefixing the addon.css

[2016-09-07 21:26] offirgolan commented on #106
Resolved with #163 via using `style="width: {{width}}"` instead of `width="{{width}}"`

[2016-09-07 21:26] #106 closed

[2016-09-08 04:22] offirgolan commented on #147
@bargar this has been released in `v1.2.0`!

[2016-09-09 17:05] angelomachado commented on #161
I hope it's not to late for an answer.
You are passing the model as table property and calling
[code]
Just call {{my-table model=model}}. It should work

[2016-09-10 16:02] billdami commented on #151
@offirgolan Any thoughts based on the my current implementation provided in my last comment?

[2016-09-12 18:14] offirgolan commented on #151
@billdami I'm sorry for the delay! Been a bit preoccupied with some other tasks.

I've been thinking about this for some time now, but I really dont think there is a clean solution for something like this. I believe that the easiest solution is to add a computed alias on your model. That should get rid of all the selection logic you have there.

[code]

[2016-09-12 18:23] billdami commented on #151
@offirgolan oh wait, you're saying the row object will already look for a `selected` property on the associated model/content to use as its selection state? I thought the `row.selected` property was managed completely internally, not looking at the model/content at all.

If the row is not looking to the model for its selection state, could it possibly be done as a computed property on the `Row` ob

[2016-09-12 20:11] offirgolan commented on #151
The row object is actually an object proxy. If a selected property is
present in the content ( i.e. Your model), then it will use that. All you
would have to do in your case is create a cp that aliases isSelected.
On Mon, Sep 12, 2016 at 11:30 AM Bill Dami <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-09-13 13:53] billdami commented on #151
@offirgolan That makes alot more sense now, I think that'll remove the need for all those `setSelectedRows` calls and the use of `Ember.Evented` to propagate model selection changes down to the table rows.

Regarding the second part of my original request, adding action(s) that are fired when a row or rows selection states changes, do you think thats something worth adding? My thought is that it w

[2016-09-13 13:58] offirgolan commented on #151
I dont think thats a bad idea. I'll try to put something together 😺

[2016-09-13 17:36] offirgolan commented on #159
Im gonna go ahead and close this issue as it has been abandoned. Feel free to reopen.

[2016-09-13 17:36] #159 closed

[2016-09-13 18:21] billdami commented on #151
present in the content ( i.e. Your model), then it will use that.

@offirgolan  After some testing, it unfortunately does not appear that this is the case. According to ember's API docs on Ember.ObjectProxy:

So since `selected` is already defined as a property of the Row class itself, it does not delegate to the content object for that property in this case. Was able to verify this behavior with

[2016-09-13 18:41] suntrunda commented on #161
Thank you for response.  I am calling it {{my-table model=model}} in the application.hbs.  The above code is just in the my-table.js>init().  If i replace it there, it throw a lot of errors..  I will continue to try..thanks for the positive note that I am close :)  cheers..

[2016-09-13 18:42] offirgolan commented on #151
@billdami hmmmm okay, ill look into that as well!

[2016-09-13 22:28] offirgolan commented on #52
Done! (#167) 😸

[2016-09-13 22:28] #52 closed

[2016-09-15 09:34] vasilakisfil commented on #12
Thanks @nmcclay that improved my performance around 25%. Any other tip ? (I didn't find any other tip)

[2016-09-15 09:37] vasilakisfil commented on #12
@offirgolan could glimmer 2 improve performance? :D have you tested anything ?

[2016-09-15 22:01] taras opened #175 "ember-cli-blanket is not compatible with `ember-cli-qunit` 2.2.2+"
For more information: https://github.com/sglanzer/ember-cli-blanket/issues/162

I'm going to remove it in the meantime.

[2016-09-18 06:49] offirgolan opened #178 "Table header scaffolding should use style instead of width attribute"

[2016-09-18 14:52] #158 closed

[2016-09-19 14:49] ChrisLincoln opened #179 "Consuming ./addon/styles/addon.css"
My tables are rendering, but in vanilla style. What is the general method for causing ember-cli to include your addon.css in my build?  I know how to import stuff using ember-cli-build.js. EmberApp has a 'bowerDirectory' property, but I don't see one for node stuff. For example, here is how I consumed the css for "bootstrap-editable:"

app.import(app.bowerDirectory + '/x-editable/dist/bootstrap3-e

[2016-09-20 16:12] ChrisLincoln opened #181 "multiple link-to per row"
I think I can wrap my mind  around using onRowClicked to construct some complex transistionTo's.
I think I can wrap my mind around using a cellComponent to construct a simple transitionTo.
I am having a difficult time figuring out how to give the route that is consuming ELT the ability to build complex transitions: "/this-route/:this_id/that-rout/:that_id.

Using github's code explorer as an examp

[2016-09-21 19:26] #175 closed

[2016-09-22 07:22] offirgolan commented on #181
@ChrisLincoln I would consider using [tableActions](http://offirgolan.github.io/ember-light-table/docs/classes/light-table.html#property_tableActions).

[code]

That way you can handle all the transitions in the route instead of a cell component.

[2016-09-22 16:06] steffenbrem commented on #157
@offirgolan I am using the latest master right now, but I am still unable to update the value directly. For example this checkbox, it will not update the property on the model:

[code]

[2016-09-22 21:01] kcollignon opened #182 "Error building app after installing addon"
After installing this addon I can't seem to get my app to build due to some compiling of stylesheets.

[code]

I am using version 1.1.0 on Ember 2.6.0

[2016-09-22 22:48] offirgolan commented on #182
Are you installing this addon inside another addon?

[2016-09-22 22:50] offirgolan commented on #157
@steffenbrem unfortunately the `value` and `rawValue` properties cannot be bound. The only way to do that is adding a `defineProperty` on init which causes huge performance problems.

I would suggest using one of the solutions I posted above.

[2016-09-22 23:25] kcollignon commented on #182
@offirgolan No i am just installing it in an Ember CLI 2.6.2 app and importing light table in my component.

[2016-09-23 03:46] offirgolan commented on #182
@kcollignon that's pretty weird. Did you do `ember install ember-light-table`? Or just `npm install`?

[2016-09-23 05:03] #178 closed

[2016-09-23 16:45] kcollignon commented on #182
@offirgolan I did `ember install ember-light-table`. Not sure if this matters also but I am using `ember-cli-sass` with the `sass` extension option. I don't think that should conflict at all with the `addon.css` in this addon, but not sure. It seems maybe similar to #179

[2016-09-23 21:36] offirgolan commented on #182
@kcollignon this is a fairly strange issue. Ill have to investigate this further. I believe `ember-scrollable` (a dep. of ELT) is using ember-cli-sass but I have never encountered such issues.

[2016-09-25 04:09] offirgolan commented on #179
Are you trying to import the demo app's css? By default, ember-cli imports the `/addon/styles/addon.css` into your app.

[2016-09-28 21:21] wilsonohyeah commented on #56
I'm using ember-light-table 1.4 and am running into this exact issue 😞

[2016-09-30 13:11] nmcclay opened #192 "ember-composable-helpers addon incompatibility in 1.4.0"
I've described this issue in detail here:
https://github.com/DockYard/ember-composable-helpers/issues/231
https://github.com/martndemus/ember-font-awesome/issues/109

However I originally encountered the issue upgrading my ember-light-table dependency.  Considering that the addon only uses ember-composable-helpers in one place (that I can tell), would it be possible to remove its usage until the a

[2016-09-30 17:14] jamespenick commented on #46
Is this feature still being considered?

[2016-09-30 21:59] offirgolan commented on #46
@jamespenick Yeah I should have something put together in the next week or two!

[2016-09-30 22:04] jamespenick commented on #46
Fantastic, thanks for the update!

[2016-10-01 21:41] rhyek opened #195 "Sorting performance"
So, a basic way of sorting rows is having something like:
[code]
The problem with that is every time rows is generated a new table is constructed and I've found this to be rather slow.

I've tried other methods of sorting, and the one that makes most sense to me is have a static `rows` property with a separate observer that just does something like `this.rows.sort(...)`, but this doesn't fire obse

[2016-10-01 22:59] offirgolan commented on #195
@rhyek this is where `enableSync` becomes handy 😜

[code]
Note: This is only available in v1.4.0+
[See Docs](http://offirgolan.github.io/ember-light-table/docs/modules/Table%20Declaration.html#implicit-row-creation)

[2016-10-01 23:03] offirgolan commented on #192
@nmcclay ember-composable-helpers was added as a dependency due to its need in future development of this addon. My suggestion is to not upgrade to 1.4 until this is resolved. I know that the developers at DockYard are pretty quick to respond and should get this issue resolved in a timely manner.

[2016-10-01 23:05] rhyek commented on #195
Oh, damn. Sorry. Should've seen that. I'll try it out and close this in a bit. Thanks.

[2016-10-02 04:43] rhyek opened #196 "enableSync and arrayContentWillChange/arrayContentDidChange causes rows to duplicate"
So I'm testing out using `enableSync` and sorting my array with `Array.prototype.sort` and using `arrayContentWillChange/DidChange`, but for some reason when doing so each row is duplicated every time I sort.

You can have a look at what I'm doing if you clone this repo: https://github.com/rhyek/ember-light-table-test.

Thanks.

Edit:
The relevant code is here: https://github.com/rhyek/ember-light

[2016-10-03 14:36] MZein1292 opened #197 "fetchRecords() does not work in component"
Hello

I see for the `fetchRecords()` function that you are using this.store.query('user')

[code]

this however does not work in a **component**, since I am passing the model into the component instead of injecting store.

what would the `fetchRecords()` function look like in a component where a model is passed to

`{{#light-table user=model}}{{/light-table}}`

[code]

[2016-10-03 18:27] nmcclay commented on #192
(fingers crossed)

[2016-10-03 21:05] alexander-alvarez opened #198 "Inconsistent Doc: lt-head"
why are there three arguments being yielded here `|groups subColumns table|`,
https://github.com/offirgolan/ember-light-table/blob/master/addon/components/lt-head.js#L27

but only two here?
https://github.com/offirgolan/ember-light-table/blob/master/addon/templates/components/lt-head.hbs#L5

[2016-10-04 00:56] offirgolan commented on #198
@alexander-alvarez seems like I forgot to remove the table yield from the docs. My apologies. A PR with the fix is welcomed 😄

[2016-10-04 00:58] offirgolan commented on #197
In your component you would have to inject the store as a service.

[code]

[2016-10-04 02:31] MZein1292 commented on #197
This has been done already. but it only made the model get repeated 3 times in the table, so if I had 2 rows and I add this, I will find 6 rows of the same first 2 rows repeated.

[2016-10-04 12:37] #152 closed

[2016-10-04 19:47] les2 opened #199 "Not loading data when zoom set to < 100%"
For some reason, the table is not loading the first page of data when the user has the zoom set to 90% (technically, any zoom < 100%).

We are using ELT _without_ a fixed header and without a `height` set on the table.

I will see if i can create a repo with a simple, reproducible example later on.

Not sure where the bug is - going to attempt to debug it shortly.

[2016-10-04 20:04] buschtoens commented on #199
Can you tell us which browser and OS or does it happen in any browser?

[2016-10-04 20:27] buschtoens commented on #148
I'd like to reheat this issue once more, since we need this feature in our app. :grinning:

In addition to manually scrolling a row to the top of the table (setting), I would also wish for a way of getting the row that currently is at the top.

Revisiting @taras's [comment](https://github.com/offirgolan/ember-light-table/issues/148#issuecomment-241726398), my interpretation is that the logic for s

[2016-10-04 22:06] alexander-alvarez commented on #198
np. wondering if there was something else that was intended

[2016-10-04 22:08] #198 closed

[2016-10-05 02:36] angelomachado commented on #197
Are you using the onScrolledToBottom action? If so you must check canLoadMore property before fetching more records.
[code]

[2016-10-05 03:06] alexander-alvarez commented on #196
I came across this too when trying to replace the rows, with `enableSync` being true. I had to clear the rows before setting them

[code]

[2016-10-05 03:31] offirgolan commented on #196
Hmmm okay, I'll take a look into this!

[2016-10-05 11:56] buschtoens commented on #148
@offirgolan I would really love to implement this feature. I just need your or @taras's okay on the proposed API :smile:

[2016-10-05 12:15] offirgolan commented on #148
@buschtoens really sorry for being AFK! Been super distracted the last couple of weeks.

I do have a couple of suggestions:

[code]

- I like dealing with a row instance a lot more than indices. It just feels a little more polished and you can easily get the index of the row via `table.get('rows').indexOf(row)`.
- The logic should be kept at the t.body level
- Because this may cause some performan

[2016-10-05 12:19] buschtoens commented on #148
No problem. Thanks a bunch! :heart:
I'll probably get to work on it tomorrow. :grinning:

[2016-10-05 12:45] offirgolan commented on #199
@les2 I'm not able to recreate this in the demo app (zoom set to __75%__).

![screen shot 2016-10-06 at 1 43 08 am](https://cloud.githubusercontent.com/assets/575938/19113496/5e6ae888-8b66-11e6-9fb1-40da9d9609bf.png)

If you add a fixed header + height does it solve your issue?

[2016-10-05 13:17] buschtoens commented on #148
Kind of related:

What if I want to use `scrollTo` to "reset" the scroll position to the first row (when pressing a button for example) and the user then scrolls down again. If the user then presses the button again, the `didReceiveAttrs` hook would not get fired, as `scrollTo` already points to the first row.

`scrollTo` *has* to stay in sync, otherwise we can't guarantee that we detect the inten

[2016-10-05 14:07] kevinansfield opened #201 "Scroll container"
Back in v0.1.9 it was [possible to set the scrollContainer](https://github.com/offirgolan/ember-light-table/blob/v0.1.9/addon/mixins/table-scroll.js#L31) - is the same thing possible now that the addon is using `ember-in-viewport`?

The reason I'm asking is because it seems to have broken our acceptance tests when trying to upgrade from the old version. In the app everything works fine, in the acc

[2016-10-05 14:22] MZein1292 commented on #197
The issue turned out to be that I needed to set some sort by and ordering on the Django side

[2016-10-05 14:22] #197 closed

[2016-10-05 17:46] les2 commented on #199
@buschtoens debugged issue with one of our users and i reproduced on chrome 53; working on a reproduction recipe.

[2016-10-05 20:48] offirgolan commented on #148
I think this is reasonable. It will just have to be well documented and explained.

Another use-case is just setting an initial `scrollTo` row without needing to keep track of the current scroll state.

[2016-10-06 07:38] buschtoens commented on #148
True.

I've slept over this and came up with an alternative to the *single source of truth / check back with the parent* approach:

The only reason we needed this behavior in the first place, is when the user wants to `scrollTo` a row that already is the value of `scrollTo`, e.g. after manually scrolling and then wanting to reset the scroll position to the first row again.

Because in this edge ca

[2016-10-06 08:46] xcambar commented on #12
@offirgolan FYI, I maintain a helper that allow to check whether a component name resolves to an actual component: https://github.com/xcambar/ember-cli-is-component

It allows :

[code]

It could help you working around the component helper only acccepting valid components names.

[2016-10-06 12:08] buschtoens commented on #148
While trying to implement `onScroll` (which should provide the current topmost row) I found out that this actually is a very hard problem.

While I can easily get the current scroll offset in px (thanks to https://github.com/alphasights/ember-scrollable/pull/25), it's quite complicated to get the row that is closest to this position. I'd either have to...

1. traverse all rows and compare their of

[2016-10-06 12:16] mohlek commented on #148
What iif the current scrollposition / top most row is not part of the initialy loaded data?

In that case only providing a `Row` interface for scrollTo wouldn't allow targeting that row.

[2016-10-06 12:19] buschtoens commented on #148
@mohlek That's right.

When we additionally allow passing the scroll offset as a number (as proposed), we could instruct the component to keep fetching records until the specified scroll offset is reached. :upside_down_face:

[2016-10-06 13:07] taras commented on #148
I think we should focus on `restoring the scroll position` use case. We can punt on tracking visible rows until we have a better rendering mechanism like `smoke-and-mirrors` or `ember-collection`.

Is `scrollTo` going to be an action? If so, may I suggest 2 separate actions: `showRow` and `scrollTo`. `showRow` finds the specified row and scrolls it to the center of the viewport.. `scrollTo` scroll

[2016-10-06 13:28] buschtoens commented on #148
`scrollTo` is supposed to be an attribute / property of `{{lt-body}}`. Making it an action would mean that it can only be called from inside the context of the body or am I missing something?

I don't see a problem with breaking it up into two attributes, one for px offset and one for the row, as you suggested.

[2016-10-06 16:48] efx opened #209 "ember-wormwhole throwing error when using ember-light-table@1.4.0 and ember 2.9.0-beta.4"
when trying Glimmer2, one must update the ember-wormwhole dependency to 0.4.1 to prevent a global JS error from being thrown.
Started on this PR: https://github.com/offirgolan/ember-light-table/pull/210 but am stuck on a test. Any help appreciated.

[2016-10-06 16:49] efx commented on #12
@vasilakisfil @offirgolan in our project relying on ember-light-table@1.4.0 @travis-jm  found substantial rendering increases by updating to ember 2.9.0-beta.4. In some cases a load time of 20 seconds down to 5 when rendering 500 rows. (see #209 for fix needed before trying)

[2016-10-06 16:58] vasilakisfil commented on #12
Interesting MN! Could it be new glimmer rendering engine ?
On Oct 6, 2016 18:49, "Eli Flanagan" <notifications@github.com> wrote:

[2016-10-06 23:52] offirgolan commented on #12
@efx thats really great news! I've been so busy, I havent had time to test the latest beta. I'll try to help as much as I can to resolve the issue so we can be 2.9.0 ready 😄

[2016-10-07 00:56] #209 closed

[2016-10-07 01:00] offirgolan commented on #12
@efx v1.4.2 has been released with the updated dependencies.

[2016-10-07 11:06] runspired commented on #12
Even with glimmer2 you will now get a perf boost movin this to smoke and mirrors

[2016-10-07 11:07] runspired commented on #12
(I'd offer to help you work it in but I'm also busy on way too many things right now)

[2016-10-07 11:10] offirgolan commented on #12
@runspired I would love to chat more about this when we both have some free time 😄

[2016-10-07 11:14] offirgolan commented on #148
@buschtoens I think you're right, `showRow` and `scrollTo` should be properties of `{{lt-body}}`.

[2016-10-07 12:31] efx commented on #12
@offirgolan thank you for merging those fixes so quickly; no worries on not having tested beta. That is what having the project open source is for 😄 @vasilakisfil most certainly.

[2016-10-07 12:48] tibibud opened #212 "Add summary/footer rows API [enhancement]"
Hi,

if possible would a summary/footer row (that has a special custom component and is not subjected to sorting) make sense? It would give the possibility to use the Tables as financial tables out of the box. This is of course a feature/enhancement request. Would it make sense for you guys in terms of time/effort?

One can hack it with custom row components and row types and then sort without con

[2016-10-09 05:29] offirgolan commented on #212
@tibibud you can easily override the table footer component with your own component.

[code]

[2016-10-09 06:40] #196 closed

[2016-10-09 06:42] offirgolan commented on #196
Released the fix in `v1.4.3` 😺

[2016-10-10 14:48] efx commented on #12
for more clarity talking about performance here, I created a simple ember app with a table component, mock data list, and a test case that measures speeds using `window.performance`: https://github.com/efx/poc-bug/. To see the average render time,  run ember test and open up a a browser console. In my runs, the average render is around 2.5 to 2.6 seconds. (Observed the 100 millisecond boost when d

[2016-10-10 16:34] runspired commented on #12
ftr ember-wormhole currently does not work at all with glimmer2.

Also ftr, I'm close to having a fix in for it.

[2016-10-11 10:41] Luisetelo opened #218 "Column ascending always true"
Hi guys,

I'm having a problem ordering by columns, `column.ascending` is always `true`:

[code]
The API is called on the route. I think when `model` is updated, a new table is created and the values of previous columns are lost.

[2016-10-11 23:41] mmahalwy opened #219 "Tables responsive?"
Can the tables be response for mobile optimized?

[2016-10-12 02:18] offirgolan commented on #218
You are prolly right on this one. I would remove the table creation out of a CP and into `init`.

[2016-10-12 02:20] offirgolan commented on #219
@mmahalwy as of right now, we dont have a good way of creating a responsive table. This is something that is on our backlog though so hopefully we should come up with a good solution sooner rather than later.

[2016-10-12 20:30] qqnix9 opened #223 "this.store is undefined"
Hi ! I try using example like in demo
[code]
and i get in console browser error :  this.store is undefined.
I load data, but not working -  canLoadMore: true,

[2016-10-12 20:34] buschtoens commented on #223
You have to inject the store first with `store: Ember.inject.service()` and also use the getter like so: `this.get('store')` instead of `this.store`.

[2016-10-12 20:46] qqnix9 commented on #223
I injected.
now: TypeError: this.store.query is not a function

[2016-10-12 20:54] buschtoens commented on #223
As mentioned, you must use `this.get('store').query()`

[2016-10-12 21:16] qqnix9 commented on #223
now i have: internalModel.getRecord is not a function

[2016-10-12 21:17] qqnix9 commented on #223
[code]

[2016-10-12 21:18] qqnix9 commented on #223
in component i use model=model.ticket

[2016-10-12 21:19] taras commented on #223
@qqnix9 in `this.get('model').pushObjects(records.toArray());`, `records.toArray()` was this in the example?

[2016-10-12 21:20] buschtoens commented on #223
@taras [Yup](https://github.com/offirgolan/ember-light-table/blob/master/tests/dummy/snippets/simple-table.js#L49)

[2016-10-12 21:21] taras commented on #223
@buschtoens I see. Thank you

[2016-10-12 21:25] qqnix9 commented on #223
my model is:

[code]

[2016-10-12 21:43] qqnix9 commented on #223
any ideas ? ^)

[2016-10-12 21:52] buschtoens commented on #223
ember-light-table expects an array. You're passing a single (empty) record.

[code]

[2016-10-12 21:57] qqnix9 commented on #223
no no: look model:

[code]

[2016-10-12 22:00] buschtoens commented on #223
In your original comment, which you now have edited, you had written:

[code]

Assuming you are now using `findAll('ticket')` you'll get a `RecordArray` which you should be able to use without further changes.

[2016-10-12 22:09] qqnix9 commented on #223
original coment is mistake. i copy\paste from another route. I use findAll('ticket') and have error:

internalModel.getRecord is not a function

[2016-10-12 22:09] buschtoens opened #224 "dummy/snippets: store service not injected, RecordArray mutated"
[The snippets](https://github.com/offirgolan/ember-light-table/tree/master/tests/dummy/snippets) in the dummy app assume that the `store` service is [injected](https://guides.emberjs.com/v2.8.0/applications/initializers/#toc_application-initializers) into all `Component`s just as with `Route`s, which it apparently isn't. This can confuse beginners as seen in #223.

Suggested changes:
#### Manually

[2016-10-12 22:14] buschtoens commented on #223
Yes, but please don't edit code posted in previous comments after someone has referenced this code. This only makes it more difficult to discuss the problem. Please post a new comment instead.

Anyway. This is most likely not a problem with ember-light-table itself. The original issue is now tracked in #224.

Can you publish your app on GitHub? It's hard to debug your code from just a few snippets

[2016-10-13 01:38] offirgolan commented on #224
@buschtoens good catch. PR is totally welcomed!

[2016-10-13 08:41] qqnix9 commented on #223
i publish https://github.com/qqnix9/test-app

[2016-10-13 11:06] Luisetelo commented on #218
I also tried to put the table creation only at `init`. However, the table is not updated when it receives the models from the route :(

[2016-10-13 14:36] trumb1mj opened #225 "Custom attributes?"
Is there a way to append custom attributes to a table, a row or a cell?

I'd like to do something like this:

[code]

with the resulting table html:

```<td blah="12345"></td>```

[2016-10-13 15:20] trumb1mj commented on #225
So looking a little deeper, I guess I'd use a cell-type for this.  Now that I've established that, is there anyway to pass a model value into a cell-type component?

[2016-10-13 19:04] trumb1mj commented on #224
When using this in a component I get `Uncaught TypeError: internalModel.getRecord is not a function(…)`

Anyone seeing this?

[2016-10-13 20:47] buschtoens commented on #225
Not sure, if I understood you correctly, but besides`value` cells also get a [`row` property](https://offirgolan.github.io/ember-light-table/docs/classes/Base%20Cell.html#property_row) which allows you to access all model properties.

[2016-10-13 20:51] trumb1mj commented on #224
How I ended up solving this was using the a private attribute like so:

[code]

[2016-10-13 20:56] buschtoens commented on #224
Interesting. We already had this error in #223...

Which versions of ember-light-table, Ember.js and ember-data are you using?

[2016-10-14 00:35] trumb1mj commented on #224
[Here is a better description](https://github.com/emberjs/data/issues/3886) of what's going on--this definitely looks like a ember-data issue.

ember: 2.7.0
ember-data: 2.7
ember-light-table: latest

It should be noted that my solution above is a hack and it will eventually break once ember-data removes it from the project.  You should not private functions (_).

[2016-10-14 00:36] #225 closed

[2016-10-14 01:14] buschtoens commented on #224
Thanks a lot for referencing that issue! Makes sense, now that I've read https://github.com/emberjs/data/issues/3886#issuecomment-168923038. But I wonder, why this works in the dummy app, since we do work on the [original `RecordArray`](https://github.com/emberjs/data/issues/3886#issuecomment-168923038) as well. 🤔

We should definitely also use the `toArray()` workaround in our dummy app.

[2016-10-14 01:15] trumb1mj commented on #224
Where do I find the dummy app code?

[2016-10-14 01:16] buschtoens commented on #224
`tests/dummy` or just click the link in my comment :wink:

[2016-10-14 01:17] buschtoens commented on #223
In issue #224 @trumb1mj posted and interesting comment: https://github.com/offirgolan/ember-light-table/issues/224#issuecomment-253678800

Could you please try appending `toArray()` to create a plain `Array` clone of the `RecordArray` before passing it to your table component?

[2016-10-14 08:33] qqnix9 commented on #223
now i have : ember.debug.js:19157 TypeError: Cannot read property 'pushObjects' of undefined

[2016-10-14 10:53] qqnix9 commented on #223
WORK !!!

[code]

Thanks for help, but i get new problem, - no styles ^( i use ember-cli-bootstrap-saassy ) how i can include styles? ^)

[2016-10-14 13:55] buschtoens commented on #223
I'm happy, that it works now. We acknowledged this error in our example in #224 and I plan to fix it with a
PR shortly. Thanks for reporting this!

However, this is not a general Ember.js support forum. If you have a problem with a specific addon (like [ember-cli-bootstrap-sassy](https://github.com/lifegadget/ember-cli-bootstrap-sassy)) please open an issue in the corresponding repo. For general p

[2016-10-14 14:05] buschtoens commented on #224
@offirgolan Can you please review the [addendum to my original comment](https://github.com/offirgolan/ember-light-table/issues/224#issue-182646785)? :wink:

[2016-10-14 22:20] #223 closed

[2016-10-15 10:13] offirgolan commented on #224
@buschtoens

Lets go with this one. Im not a fan of using private variables such as `_model` in an example.

[2016-10-15 10:18] offirgolan commented on #218
What about something like this:

[code]

[2016-10-15 11:38] buschtoens commented on #224
I'll send a PR tomorrow night. ✌️

[2016-10-17 08:10] Luisetelo commented on #218
`setRows` doesn't update the table with the new rows. It uses a `setObjects` method from Ember.Array which I'm not sure it's KVO-compliant. I added a quick fix which works fine:
[code]
In the next days I will try to create a better solution with a PR ;)

[2016-10-18 14:57] buschtoens opened #229 "CI: coverage job always fails"
You most likely noticed this yourself already, but just so we track this properly.

The coverage job always fails, as the process doesn't appear to terminate properly.

I don't know why this happens, but for now we could just disable this job, so we have working CI again.

[2016-10-19 02:52] lypborges opened #231 "Refresh data on table (Order, filter) with ember 2.8"
First, good job! If I be able to put on my project will save me a lot of time.

I'm using ember 2.8 and try to use like the [docs show.](http://offirgolan.github.io/ember-light-table/docs/modules/Table%20Declaration.html)

[code]

But I'm getting this error when I try order the table.

    at Class.objectAtContent (record-array.js:86)
    at Class.objectAt (ember.debug.js:37639)
    at Object.obje

[2016-10-19 03:11] buschtoens commented on #231
Please take a look at #224. If you need further assistance, I'm here.

[2016-10-20 07:57] offirgolan commented on #229
👍 I'll turn off coverage until its working again. Its a know issue with ember-cli-code-coverage

[2016-10-20 19:48] rstudner opened #233 "Format returning HTML, valuePath being a function or defining cell components in the same file"
Just trying to think of a way to not general lots of "public"? components for tables.

a) if format could return html (think adding font awesome icons) that'd be sweet.
b) if valuepath could be a function (then technically I guess there wouldn't need to be format)
c) Can something like this work (partially an Ember question):
[code]

The above, if I try to do it, shows me:
ember.debug.js:16416 Unc

[2016-10-20 22:40] offirgolan commented on #233
Hi there,

a) if format could return html (think adding font awesome icons) that'd be sweet.

This should be possible.

[code]
b) if valuepath could be a function (then technically I guess there wouldn't need to be format)

`valuePath` is two-way bound. If you change it via column.set('valuePath', 'bar'), the cell should rerender.

c) Can something like this work (partially an Ember question):

Th

[2016-10-20 22:41] rstudner commented on #233
Thanks very muchly! :)

[2016-10-20 22:41] #233 closed

[2016-10-20 22:42] offirgolan commented on #233
@rstudner feel free to reopen if it didnt work out.

[2016-10-20 23:41] offirgolan commented on #218
@Luisetelo from some initial research, `setObjects` calls `replace` which is exactly what `pushObjects` does. The `replace` method then notifies the observing dependents.

Try this instead and let me know if it works out:

[code]

[2016-10-20 23:44] offirgolan commented on #195
Closing as this issue has been abandoned.

[2016-10-20 23:44] #195 closed

[2016-10-20 23:45] offirgolan commented on #181
Closing as this issue has been abandoned.

[2016-10-20 23:45] #181 closed

[2016-10-20 23:46] offirgolan commented on #201
@kevinansfield sorry for the late reply! I've been having similar issues attempting to test scroll functionality because of that same exact reason (I believe). I've been too busy with other features / work to take a closer into this. If you found a working solution please feel free to share! 😸

[2016-10-21 00:17] offirgolan commented on #231
Closing in favor of #224. Feel free to reopen.

[2016-10-21 00:17] #231 closed

[2016-10-21 00:18] offirgolan commented on #229
Resolved in #234

[2016-10-21 00:18] #229 closed

[2016-10-21 01:35] bargar commented on #159
@offirgolan my good sir, wrt:

Do you mean this specifically in this context of resetting the table or even for the general case of scrolling down and loading successive pages of data from the backend? If it's the latter, I would be very interested to hear the alternative to depending on `onScrolledToBottom`.

Thanks!

[2016-10-21 02:02] offirgolan commented on #212
Closing as this issue has been abandoned. Feel free to reopen if needed.

[2016-10-21 02:02] #212 closed

[2016-10-21 02:05] offirgolan commented on #135
@djsegal #222 solves this use-case. That PR is a rudimentary solution that is largely a play on what @bargar suggested. I dont mind merging it in as a temporary solution but I want to do so with confidence. Feel free to test it out and let me know.

[2016-10-21 08:13] Luisetelo commented on #218
Yes, it works fine!

[2016-10-21 09:14] offirgolan commented on #218
Fantastic! 😺

[2016-10-21 09:14] #218 closed

[2016-10-23 05:20] offirgolan commented on #219
@mmahalwy there is PR open to support this 😺! I would love it if you gave it a test run before I merge it in.

[2016-10-24 04:06] les2 opened #236 "Row selection has no keyboard support"
One idea is to allow `tab` to focus on each row. While focused, an `enter` (or `space`) press would select that row. If the `ctrl` / `cmd` modifier is used when selecting, it would add/remove the row to the existing selection. If `shift` modifier is used, it would select a range of rows.

While a row is selected, the `up` and `down` arrows could move from one row to another (without activating the

[2016-10-24 11:35] corrspt opened #237 "Issue when sorting (column is always a new instance?)"
Hi,

I just started experimenting with `ember-light-table` and I like it a lot, thanks for the effort on this 👍

I have an issue that I cannot reproduce outside of my app, hoping that someone has an idea. I'm using Ember 2.8.2 and Ember Data 2.8.0 and Ember-cli 2.8 (happens in Chrome & Firefox, didn't test others) on OSX 10.10 (Yosemite)

I've setup a route with ember-light-table and I've enabled

[2016-10-24 11:49] offirgolan commented on #237
I believe this to be a duplicate of #218

[2016-10-24 11:56] corrspt commented on #237
Ah, damn... I did go through the issues and searched, but apparently with the wrong keywords. I'll check this out and report back (hopefully closing the issue).

Thanks for such a quick reply :)

[2016-10-24 11:58] offirgolan commented on #237
No worries. I honestly need to fix the demo / docs!

[2016-10-25 00:36] #148 closed

[2016-10-25 02:30] #219 closed

[2016-10-25 09:28] offirgolan commented on #27
Closing as this issue has been abandoned.

[2016-10-25 09:28] #27 closed

[2016-10-25 09:33] corrspt commented on #237
@offirgolan, I confirm that this was the problem, thanks a lot for the help.

The demo/docs is the dummy app in tests directory, or do you have a different repo for that?
I'd like to help, but since I can't be sure when I'll be able to help, I would just like to know where to find the places that need fix.

Once again, thanks

[2016-10-25 09:33] #237 closed

[2016-10-25 09:34] offirgolan commented on #237
No worries at all. Glad that fixed your issue. I believe @buschtoens is going to refactor the demo. Maybe he can add this in there as well? If not, I can do it later this week.

[2016-10-25 09:36] offirgolan commented on #236
Hi there,

I think this will be a solid addition to the table selection features. I'm not really too sure I understand the exact use case for the `tab` stuff. I feel like the `up` and `down` keys should handle that no?

[2016-10-26 08:10] corrspt opened #239 "Make example app align with default ember-responsive breakpoints"
Hi,

I know the responsive feature has just been released (I've been trying it out). One thing that caught me off-guard is that the example in the demo, uses the break points `xs, md, lg` but the default breakpoints generated by `ember-responsive` in the `app/breakpoints.js` file are named `tablet, mobile, desktop`.

I think that the demo app should also use these `tablet, mobile` so that when a u

[2016-10-26 08:36] offirgolan commented on #239
Hi @corrspt! Thanks for opening this issue (glad you like the demo 😸). A PR is very welcomed in fixing this inconsistency. If not, I can take a go at it later this week.

[2016-10-26 08:52] corrspt commented on #239
Might as well help out, [here it is](https://github.com/offirgolan/ember-light-table/pull/240)

[2016-10-26 08:58] #239 closed

[2016-10-26 09:45] ScottSmix commented on #236
In my experience, the following work bests (with slight changes for Mac like Cmd-A selects all in multiple selection). I would love to have keyboard features. I think there should be a default mapping of keys to events but the default mapping should be configurable.

Navigation (changes the focused row with a visual clue often highlighting):

- Up: Move selection focus up one row. If scrolling ena

[2016-10-26 12:57] les2 commented on #236
update from a recent feature.

i disabled the built in ELT row selection in favor of a checkbox column with a header column with toggle select all checkbox for the following reasons:

- the row highlight color needs to be accompanied by a visual indicator for a11y reasons. if contrast of highlight/text color is not high, then it's hard to see that rows were selected. designer picked a light bg col

[2016-10-26 14:11] csetera opened #242 "Multi-row layout"
I'm trying to switch to ember-light-table to take advantage of the excellent API around paging and infinite scrolling.  We have a current HTML table implementation that uses two HTML row's for each "logical" model object row.  Within one of the columns, there is a "rowspan=2" setting and within one of the two rows, there is a colspan attribute.  Given the flexibility of this table, it seems like i

[2016-10-26 23:45] offirgolan commented on #242
@csetera any chance you can post a code snippet and maybe a screenshot of what this is actually supposed to look like?

[2016-10-27 00:41] csetera commented on #242
Here's a snippet of the Handlebars template driving the layout.

`<tr>
    <td rowspan="2">
      <input type="checkbox" checked={{selected}} onclick={{action "selectionChanged" value="target.checked"}}>
    </td>
    <td>{{row1col2value}}</td>
    <td>{{row1col3value}}</td>
    <td>{{row1col4value}}</td>
    <td>{{row1col5value}}</td>
    <td>{{format-date thedate timeZone='UTC'}}</td>
</tr>
<tr>

[2016-10-28 04:52] buschtoens opened #243 "Nested rows / collapsible rows"
Just putting this up for discussion here as to what would be the preferable way of creating nested rows that are shown when the parent row is expanded.

I'm talking about something similar to this image I grabbed off the interwebs:

![image](https://cloud.githubusercontent.com/assets/834636/19770120/57f1c928-9c5e-11e6-8a75-bf43561568dd.png)

Notice how the columns still align.

Currently there are

[2016-10-28 11:44] csetera commented on #242
I was able to find a way to set up the HTML and CSS to achieve the same look/feel within a single HTML row, so this is no longer a necessity for me.

[2016-10-28 11:44] #242 closed

[2016-11-01 04:55] Eusse opened #247 "Problem with tableActions and expandable rows"
Hey guys, have a table template defined as:
[code]
And it's controller contains this actions:
[code]
The expandable component template is
[code]
I followed the documentation [here](http://offirgolan.github.io/ember-light-table/docs/classes/light-table.html#property_tableActions) but i get several erros.

It says specifically the action with no quotes, but i get `Error: Assertion Failed: You specif

[2016-11-01 05:51] offirgolan commented on #247
Hi @Eusse,

Looks like your problems are in the code below

[code]

The actions should not be wrapped in quotes. It should be this instead:

[code]

[2016-11-01 11:08] lypborges commented on #179
Hi, thanks for this addon.

I'm also getting table without any style.

1. Do I need to import bootstrap for complete or just Tables etc...?
2. Is there any doc about the style?
3. Also, it's possible tu use it with https://emberobserver.com/addons/ember-css-modules or https://emberobserver.com/addons/ember-component-css for use with another addons that use semanticui or other frontend framework?

[2016-11-01 12:11] karellm opened #248 "Column.ascending get reseted when the model changes"
I would like to support sorting on the server. It basically means I need to overwrite the `model` every time a new column is selected for sorting. Here are reproduceable steps:

1/ Click a column, `column.ascending` is true, triggers a `model` fetch (via queryParams) > `model` is being replaced
2/ Click same column, `column.ascending` is still true, does not trigger a model fetch (because queryPar

[2016-11-01 12:21] corrspt commented on #248
You may want to check out if issues #218 or #237 help you out.

[2016-11-01 12:57] karellm commented on #248
This indeed fixed my issues. My bad for the duplicate and thanks for the prompt support!

[2016-11-01 12:57] #248 closed

[2016-11-01 17:10] corrspt commented on #248
Happy to help! Not part of the addon team though (in case you thought that), just a user that happened to encounter that bug a few days ago (and I'm subscribing the project, so I got the email with the new issue)

[2016-11-01 22:49] offirgolan commented on #179
@lypborges are you trying to get the styles from the demo or just the base CSS styles?

[2016-11-01 23:00] offirgolan commented on #182
@kcollignon have you been able to replicate this issue? Any luck?

[2016-11-01 23:44] Eusse commented on #247
Hi @offirgolan, i tried that at first, but i get this error: `Error: Assertion Failed: You specified a quoteless path to the {{action}} helper which did not resolve to an action name (a string). Perhaps you meant to use a quoted actionName? (e.g. {{action 'save'}}).` when i click the row, the expandable component is not even appearing.

[2016-11-02 00:33] offirgolan commented on #247
Oh I think I misread your initial post that this is regarding the **expanded** component. Since the expanded component is declarative we have no way to pass the tableActions to it / nor do we need to since all your actions are within the same scope.

[code]

If you dont want to rewrite the actions, you can use the `with` helper.

[code]

[2016-11-02 03:17] Eusse commented on #247
You sir, you are the best. I tested both solutions and both works. We may close this issue.

[2016-11-02 03:18] #247 closed

[2016-11-02 03:18] offirgolan commented on #247
Haha glad to help 😸 !

[2016-11-02 12:45] karellm commented on #151
@offirgolan I second that having event on selection would be a great place to start. We want to offer a "select all" checkbox with a indeterminate state if only some are selected. I tried doing an observer on `table.rows.[]` and `table.selectedRows.[]` but it is never triggered.

[2016-11-02 14:17] trumb1mj commented on #46
@offirgolan is this still in the works?  Not trying to pester just curious if it's still in your immediate roadmap.

[2016-11-02 14:27] lypborges commented on #179
Sorry @offirgolan, I need to use with semantic ui. But with the same behaviour (responsive etc..) from de demo. So I think I should get only the base CSS style, right?

[2016-11-02 21:31] offirgolan commented on #179
@lypborges the addon comes only comes with the base styles (not the ones found in the demo) needed for the table to be functional. If you want the demo styles, you can grab them from [here](https://github.com/offirgolan/ember-light-table/tree/master/tests/dummy/app/styles).

[2016-11-02 21:34] offirgolan commented on #46
@trumb1mj I actually have a fully working branch on this. Just need to clean it up 😄

[2016-11-04 15:58] basz opened #255 "scrollBottom event when empty table"
I'm getting events indicating I hit the bottom when the table is empty. This results in an incorrect page (initially it will load page 2). But also every time I clear the with `this.get('model').clear();`.

In you example I couldn't discover an initial load either, so... this might be expected behaviour?

[2016-11-04 23:23] offirgolan commented on #255
This is expected behavior

When you clear your model, you should also reset your page to its default value. [See here](https://github.com/offirgolan/ember-light-table/blob/master/tests/dummy/app/mixins/table-common.js#L59-L65)

[2016-11-05 12:24] basz commented on #255
I get all of that, but how can these two scenarios be right?

1. component inits, page = 1
2. table is empty, so bottom event is triggered
3. page is incremented to 2
4. content is fetch for page 2

1. table is sorted, page is reset to 1 and content cleared
2. table is empty, so bottom event is triggered
3. page is incremented to 2
4. content is fetch for page 2

[2016-11-05 12:42] offirgolan commented on #255
@basz has no correlation as to how you fetch data. All its doing is calling events when it needs to (i.e. onScrolledToBottom). If you look at the example I shared with you, after I reset the page to 1, I also call `fetchRecords` which will fetch page 1 and set the component in the loading state.

If you want to stop it from fetching page 2 after that, you can add another safeguard in your `onScrol

[2016-11-05 12:45] offirgolan commented on #151
@karellm you're gonna have to bug @billdami to get it done 😜

[2016-11-06 11:24] basz commented on #255
My point is that; that on init the page is incremented to 2 because of the bottom event *before* the fetchRecords method is called with page = 2, so on init you would miss page 1.

// mixins/table-common.js
[code]

console output
[code]

unless you can find an obvious mistake on my part, I'll work around it by setting page to -1 for now...

[2016-11-06 11:32] offirgolan commented on #255
OHHH okay I see what you mean. This is happening on the demo page as well (nice catch). Before I updated the demo app, I had the initial page come from the route so that's why it was working fine. Honestly the easiest fix is to just set the initial page to 0.

1. Page is set to 0
2. onScrolledToBottom is called
3. Page incremented to 1 and fetchRecords is called
4. ...

Then when you sort:

1. Cle

[2016-11-06 13:09] basz commented on #255
Yep, sounds sane.
Thanks

[2016-11-06 19:28] #255 closed

[2016-11-09 01:54] #46 closed

[2016-11-09 11:52] buschtoens opened #259 "Option to enable overflowing cells"
Currently all `.lt-cell`s have `overflow: hidden` in order for `text-overflow: ellipsis` to work.

This is good in general, but sometimes you need to be able to overflow, like in this example:

![image](https://cloud.githubusercontent.com/assets/834636/20137371/4792c548-a67a-11e6-9d65-4b35104db32e.png)

I'd suggest adding a new property to the `Column`.

[code]

The `BaseCell` would then apply a C

[2016-11-09 12:30] buschtoens commented on #259
Whoopsie. A colleague of mine applied this CSS without informing me.

[code]

[2016-11-09 12:30] #259 closed

[2016-11-10 21:14] alexander-alvarez opened #260 "Column Size Issue when only fixed width columns"
There seems to be an issue when you only specify fixed sized columns, where the widths you specify aren't being respected because there isn't another column to 'absorb' the rest.

See:
https://github.com/offirgolan/ember-light-table/compare/master...alexander-alvarez:with-column-issue

![image](https://cloud.githubusercontent.com/assets/11779993/20194329/d76d8b2c-a75f-11e6-9e06-e603f7f1d973.png)

[2016-11-11 08:07] BennyAlex opened #262 "ember scrollable uncaught TypeError"
When I use ember light table, Ig get the following error:
ember-scrollable.js:210  Uncaught TypeError: Cannot read property 'scrollTo' of undefined(…)

[2016-11-11 08:09] buschtoens commented on #262
This is probably a problem with [`alphasights/ember-scrollable`](https://github.com/alphasights/ember-scrollable).

Can you please give us an example of what exactly triggers this error?

[2016-11-11 08:12] buschtoens commented on #262
Also, when you click the `ember-scrollable.js:210` part of the error message, the dev tools should show the line that is throwing the error. Can you copy this line and a few lines before and after please? :)

[2016-11-11 10:43] BennyAlex commented on #262
It seems that I had to change some codes according to the new light-table version. Now it works

[2016-11-11 10:53] BennyAlex opened #263 "table height is not flexible"
When giving the table a height, the table height is always fixed even if there are no records.
So I want to have a feature for setting the max-height so the table height would be maximal as high as the definded height, but when there are no records or just a few it would be smaller then the defined height

[2016-11-11 11:40] BennyAlex commented on #262
I found out when using a height for the light-table and set t.head fixed=true the error will occur, e.g:

[code]

[2016-11-11 11:44] buschtoens commented on #262
Setting `fixed=true` enables ember-scrollable in the first place, so this is not the origin of the error.

Are you sure everything's up to date? Maybe delete `node_modules` and then reinstall with `npm i`.

If the errors persists, please post the relevant code of `ember-scrollable.js`.

[2016-11-11 11:55] BennyAlex commented on #262
no, fixed=true is for the fixed table head, that I will be visible on scroll.
Can you try it? I dont have a blank ember installation

[2016-11-11 12:12] buschtoens commented on #262
We cannot reproduce the error. You must be doing something differently.

I know that `fixed=true` sets the table header or footer to be fixed. And having a fixed header or footer is what enables ember-scrollable in the first place.

Again, please post the relevant code from `ember-scrollable.js`. A full stack trace would be nice as well.

[2016-11-11 12:26] BennyAlex commented on #262
hm I think that light-table isnt compatible with ember-paper

[2016-11-11 16:32] buschtoens commented on #262
Could be. I cannot verify this right now as I'm on vacation over the weekend. 🏂

In the meantime you could post the relevant code and stack trace.

[2016-11-13 20:36] hoboman313 opened #264 "Tables with fixed headers can't be scrolled horizontally"
Consider that you have a large table that's both wide ( lots of columns ) and tall ( lots of rows ). The optimal way to display this table would be with a fixed header. However, setting fixed on t.head seems to disable the horizontal scrollbar so that not all the columns may be seen if the table's width isn't large enough.

[2016-11-14 01:27] offirgolan commented on #263
This can be done by setting the height to `auto` and then wrapping the container of your table using flexbox. This will allow your table to grow / stretch.

[2016-11-14 14:45] andreikun commented on #12
I was able to improve performance up to 50% by removing lt-scrollable and ember-scrollable. Plus ember-wormhole but that does not seems to have any impact. Also i updated my project to ember 2.9

See attachments here:

1. with lt-scrollable on lt-body.
![12](https://cloud.githubusercontent.com/assets/11534054/20268925/b9f83f10-aa89-11e6-8162-a6a9d0a69c5a.PNG)

2. without lt-scrollable on lt-body.

[2016-11-14 15:02] mkay581 commented on #12
Very good stuff @andreikun! I'm seeing huge performance rendering issues when using a large set of rows with a lot of columns. How many rows and columns were you using in your testing?

I would assume that some sort of scroll handling needs to exist if rows overflow from the table's container. Although, not sure if ember-scrollable is necessary for that.

[2016-11-14 15:08] andreikun commented on #12
Used 7 columns with 18 rows, also with my screen minimized to tablet viewport (900px width) to be able to add that row-toggle component (as in official responsive table example) to be able to display hidden columns for each row.

Also, it seems that it takes lot of time to render first column which is a column only for toggle

    {
            width: '40px',
            sortable: false,

[2016-11-14 19:31] runspired commented on #12
I'm almost ready for people to start trying out the latest smoke-and-mirrors, which has 5 major perf improvements in it and would address this:

- it chunks the initial render (renders 1 new item per frame until total is met, helps ttfi and ttfp be faster)
- it eliminated a number of scenarios which were causing extra backtracking-renders
- it eliminates the need to keep a wrapper element behind f

[2016-11-14 19:32] runspired commented on #12
Also, Ember 2.10 beta with Glimmer2 will be substantially faster than Ember 2.9 @andreikun

[2016-11-14 22:40] angelomachado commented on #262
Maybe related to [#27](https://github.com/alphasights/ember-scrollable/issues/27)

[2016-11-15 00:58] buschtoens commented on #262
@angelomachado Most likely not related.

The error message is:
`ember-scrollable.js:210 Uncaught TypeError: Cannot read property `**`'scrollTo'`**` of undefined(…)`

It would have to contain `parseInt` or `isNaN` instead.

[2016-11-15 01:02] buschtoens commented on #262
I'm really starting to suspect, that @BennyAlex is using an old release (0.3.4) of ember-scrollable, which is why I asked him to nombom.

 There is no other way this error can occur.

[See for yourself](https://github.com/alphasights/ember-scrollable/commit/0d84e3f77526521b2d4a613c72a946c98ec9b02b#diff-499447ac5ce8a7c1077b7503f9403d0dL210).

Perhaps we can close this issue.

[2016-11-15 01:10] buschtoens commented on #262
Our `package.json` still allowed for ember-scrollable@0.3.4. Fixed in #266.

[2016-11-15 04:48] #262 closed

[2016-11-15 08:02] andreikun commented on #12
@runspired going to be patient and wait then for Ember 2.10 release. Really do not want to have performance/loading issues even on a 20 rows table, without even doing a request to server.

@runspired  can you see any benefit of integrating smoke-and-mirros if i do not have an infinite scroll on my table ? Any idea how i can integrate this into light-table ?

Regards.

[2016-11-15 08:09] offirgolan commented on #12
@andreikun that plan is to integrate smoke and mirrors into ELT once @runspired releases a stable version.

[2016-11-15 08:15] andreikun commented on #12
@offirgolan  that sounds great! Thanks!

[2016-11-17 13:39] redbmk commented on #157
The way I solved this was to add an observer - is there a benefit to using ember-one-way-controls instead?

Basically I just did:
[code]

[2016-11-18 15:33] alexander-alvarez commented on #260
bump @offirgolan
Any insights to share -- seems like something that was intentionally avoided in the demo?

[2016-11-19 10:36] offirgolan commented on #260
Hi @alexander-alvarez, sorry for the delay. I'm currently traveling out of the country so my response times are / will be quite slow for the next few weeks.

I noticed this issue a couple weeks ago and was able to fix it in #222 but I'm not sure if that's the best solution.

https://www.w3.org/TR/html401/appendix/notes.html#notes-tables

This is HTML4 documentation which I'm not sure is too valid

[2016-11-19 10:38] offirgolan commented on #157
@redbmk `ember-one-way-controls` sends an action when the input's value changes which allows you to use the DDAU ideology instead of observers.

[2016-11-21 10:10] Luisetelo opened #269 "tableActions call also onRowClick"
Hi there,

I have a table declared as follows:
[code]
Every row has a button to delete the row. This button is declared as a cellType.
The problem is when I click that button both actions are called edit and delete.

[2016-11-21 10:18] corrspt commented on #269
Can you share the `cellType` code?

[2016-11-21 10:24] Luisetelo commented on #269
Sure, here is the relevant part of the code:

[code]

[code]

[2016-11-21 10:33] corrspt commented on #269
I don't see anything wrong with that code, sorry. Would probably need an ember-twiddle with a reproduction case, does `const action = this.get('action')` return `edit` (or what you expect?)

[2016-11-21 10:40] Luisetelo commented on #269
In this case `this.get('action')` return `deleteModel` what is expected so everything it's ok.

I will try to reproduce the error in an ember-twiddle.

[2016-11-21 15:30] alexander-alvarez commented on #260
No problem -- I'll take a look at other table libraries and see what they do to support the equivalent of `totalWidth` property and report back.

[2016-11-21 20:17] alexander-alvarez commented on #260
seems some other implementations do the same calculation: https://github.com/facebook/fixed-data-table/blob/master/src/FixedDataTableRow.react.js#L151 but only allow for pixel widths.

Want me to take a look at that right scroll PR in the downtime and see how to get ember-scrollable to show? I know there were issues with scrollable only supporting L-R or Top-Bottom, not both, but maybe as a step 1

[2016-11-21 20:26] jamesdixon commented on #224
Just wanted to mention that I'm also see the issue @trumb1mj mentioned above. I'm using Ember 2.9.1, Ember Data 2.9.0 and ELT 1.6.1. Using the fix @trumb1mj provided resolved the issue.

[2016-11-21 20:28] jamesdixon commented on #224
Sorry, forgot to mention I'm using the latest code from the dummy app which uses `toArray()`.

[code]

[2016-11-21 20:53] jamesdixon commented on #224
Hi again 😄

So, it appears the code from the demo works after all. The change that I made to resolve the issue was something taken from the actual dummy app. In my route, I was originally doing an initial load of the data via:

[code]
Once I replaced that call with:

[code]
as done in the dummy app, everything started working properly.

Not sure if this is worth mentioning or showing in the docs,

[2016-11-22 00:16] jamesdixon opened #270 "onScrolledToBottom called multiple times on initial load"
Hi,

I'm using the examples almost verbatim and seeing some (seemingly) strange behavior. When I initially load the page, the `onScrolledToBottom` action is being called multiple times even though no scrolling is occurring. Is there something to special to know about this event and when it actually occurs?

[code]
Thanks for the great addon and everyone's hard work!

Cheers.

[2016-11-22 00:58] jamesdixon commented on #270
Hi, I think this was a misunderstanding on my part with regards to when the action is called. Going to close this. Sorry!

[2016-11-22 00:58] #270 closed

[2016-11-22 01:48] alexander-alvarez commented on #260
maybe this snippet could help us?
https://github.com/alphasights/ember-scrollable/blob/master/addon/components/ember-scrollable.js#L76

[2016-11-22 01:49] alexander-alvarez commented on #264
https://github.com/offirgolan/ember-light-table/pull/222

[2016-11-22 03:01] jamesdixon opened #271 "sorting bug in examples"
Hi again,

I discovered a small bug in the examples with regards to sorting.

If all results have been loaded and you attempt to sort, the table goes blank. You can reproduce this by scrolling to the very end on one of the demo tables and then attempting to sort.

The issue appears to be the fact that after the model is cleared in the `onColumnClick` action, the `canLoadMore` flag is never toggled

[2016-11-22 14:12] Eusse opened #272 "Error inserting new values from server"
Hi!, I'm getting an error in the`fetchRecords()` function, specifically when it runs `this.get('model').pushObjects(records.toArray());`.  The first time the model calls the server, it gets information correctly and the table shows the first page, but when the `onScrolledToBottom()` is called for the first time, it does the query and the server responds, but the table no longer inserts values.

Th

[2016-11-22 19:27] lonelyghost opened #273 "Drag and drop doesn't work on IE"
Tested on IE 11 latest on Windows 10. When you drag a column you see a circle with a line through it, and dropping has no effect.

[2016-11-23 01:08] plcarmel commented on #236
I have the same need for keyboard support. However, I thought, too, about the checkboxes idea but they are a little old school for my taste (i.e. they were needed before the AJAX era but not anymore). Beside, they are slower than an "Excel style" selection where you can quickly select a large range of rows with the mouse. I like the suggestions of @ScottSmix for the navigation and selection.

Anyw

[2016-11-23 03:16] jamesdixon opened #274 "onRowDoubleClick no longer fires when using Ember 2.10-beta.3"
I was just testing my app with the latest Ember beta and I noticed that the `onRowDoubleClick` event no longer functions. There are no errors thrown in the console.

I realize it's a beta, but wanted to bring it up.

Also, I have not tested with other events, such as `onRowClick`.

Thanks again for a great addon!

_Note: I'm running ELT 1.6.1_

[2016-11-23 07:38] offirgolan commented on #274
Thanks for reporting this issue @jamesdixon, I am currently on vacation and wont be very responsive for the next two weeks or so. If you're up for it, feel free to open up a PR or I can tackle this once I'm back 😄

[2016-11-23 07:40] offirgolan commented on #273
Thanks for reporting this issue @lonelyghost, I am currently on vacation and wont be very responsive for the next two weeks or so. I will tackle this once I'm back 😄

[2016-11-23 07:46] #271 closed

[2016-11-23 07:47] offirgolan commented on #271
Thanks for bringing this to my attention. Good catch 😄

[2016-11-23 07:49] offirgolan commented on #224
The dummy app has been updated to use only components (instead of the previous controller implementation) which resolves this issue. Feel free to open a new thread if you notice a different issue. 😸

[2016-11-23 07:49] #224 closed

[2016-11-23 07:53] offirgolan commented on #260
@alexander-alvarez it seems like horizontal support is getting more and more attention. As I'm currently on vacation I have very limited internet access so if you have the time to see if you can get ember-scrollable working in both directions that would be great. If you are unsuccessful, I can just merge #222 to unblock folks and hopefully find a better solution further down the road.

[2016-11-23 07:58] jamesdixon commented on #274
@offirgolan enjoy your vacation!

I'll try and take a look once we transition to 2.10.

[2016-11-23 07:59] offirgolan commented on #274
👍 sounds good thank you!

[2016-11-23 14:05] lonelyghost commented on #273
Okay! Let me know if you need help testing it against IE. I have a BrowserStack account.

[2016-11-23 14:21] alexander-alvarez commented on #260
I starting looking into the ember-scrollable repo two days ago, will continue working over there during this holiday and see what comes out of it

[2016-11-24 12:35] ScottSmix commented on #236
Excellent! I am glad you are going to tackle this!

[2016-11-24 20:37] les2 commented on #236
I agree that the checkboxes feel a little retro.

I too look forward to seeing your demo with keyboard support.

On Tue, Nov 22, 2016, 8:08 PM Pierre-Luc Carmel Biron <
notifications@github.com> wrote:

[2016-11-28 04:35] iballack opened #275 "Horizontal Scroll instead of the current vertical Scroll."
Is there already a build in feature to tackle horizontal scroll? I can see that currently the vertical /unlimited scroll had been implemented.

[2016-11-28 21:30] alexander-alvarez commented on #275
it's dependent on `ember-scrollable` which currently does either/or, but not both.
in my down time I'm messing around with maybe getting it to do both horizontal and vertical scroll

there's a rudimentary PR out for horizontal scrolling
https://github.com/offirgolan/ember-light-table/pull/222

[2016-11-29 12:08] Eusse commented on #272
Looking at the ember inspector promises tool, i get this error:
`Error: The result of a server query (on prospector-client@model:contact:) is immutable`

[2016-11-29 20:54] csetera opened #276 "Memory Leak?"
We are using Ember Light Table in a couple of places in our application.  We really like the functions and programming API.   However, recently, we've come across what seems to be some sort of memory leak related to Ember Light Table.

In one of our usecases, we are uploading files to our server via plupload (HTML5) and rendering the JSON responses from our server into an Ember Light Table.  As im

[2016-11-30 21:18] rstudner commented on #269
I'm sort of in the same boat? (I think)

Basically if I have:
[code]
Then I can't put anything clickable in a cel without the onRowClick also firing.

[2016-12-01 04:44] buschtoens commented on #269
That's because of the event bubbling. I'm only on my mobile right now, but
you can read up on it in the Ember guides. 😉

On Wed, Nov 30, 2016, 22:18 Roger Studner <notifications@github.com> wrote:

[2016-12-01 11:13] Luisetelo commented on #269
@rstudner Yes exactly! We are in the same boat :)

I don't catch your solution, which click method are you overriding in the cel component? The specific component action?

[2016-12-01 11:31] rstudner commented on #269
Yeah. Basically just;
my-cell-component/component.js has:
[code]

On Dec 1, 2016 6:13 AM, "Luis" <notifications@github.com> wrote:

[2016-12-01 11:52] offirgolan commented on #269
Closing as the above solution will work. Just overwrite your custom cell component's click method and prevent bubbling by either using the given `event` object or returning `false`.

If you want to prevent the `{{action}}` from bubbling, a better solution can be found in [the event propagation docs](http://emberjs.com/api/classes/Ember.Templates.helpers.html#toc_event-propagation).

[2016-12-01 11:52] #269 closed

[2016-12-01 12:01] offirgolan commented on #276
@csetera this is definitely not a known issue. I'm currently on vacation so I wont be able to look into this for another week or so but if you can create a dummy app to replicate this behavior, it will make my debugging much easier. From there I can hopefully find out what's causing the leak.

[2016-12-01 12:08] offirgolan commented on #263
Closing as this issue has been abandoned. Feel free to reopen if needed.

[2016-12-01 12:08] #263 closed

[2016-12-01 12:11] offirgolan commented on #260
Thank you @alexander-alvarez 😄

[2016-12-01 15:13] Luisetelo commented on #269
Thank you guys, @rstudner solution worked perfectly :smile:

[2016-12-01 18:07] csetera commented on #276
Thanks fore responding even though you are on vacation!

If this isn't a known issue, then I'm guessing it is probably something really strange that we are doing and I'm not sure if I will be able to create a test app since I have no idea what is going on.  Do you have suggestions on how I might be able to track it down from within our (complicated) application?  I spent a few days in Chrome DevTo

[2016-12-02 10:09] offirgolan commented on #276
Just because it's not know doesn't mean that it can't be an issue with ELT.
This could be because of left over links between records or maybe some
issue with the cleanup.

Can you share your table setup? The only thing I can think of is maybe
there are cell component that still have ties to the data and therefore are
not picked up by garbage collector. Or maybe you have row objects that are
still

[2016-12-03 17:32] les2 commented on #199
update: i've been trying to reproduce the problem over [here](https://les2.github.io/ember-light-table-zoom-bug/#/elt-demo) but no luck yet.

but i can consistently reproduce in one of our production applications. i think i'm using a new version of ELT in the repo i linked above so i'm going to try to reproduce with the exact version we're currently using in production - 1.4.2 - and see if that's

[2016-12-03 20:09] les2 commented on #199
TL;DR -- this is a floating point bug ... in ember-in-viewport addon.

This is really hard to reproduce because you need the numbers to round just right.

# Details

The bug is in one of these two locations:
- https://github.com/DockYard/ember-in-viewport/blob/master/addon/mixins/in-viewport.js#L94-L104
- https://github.com/DockYard/ember-in-viewport/blob/master/addon/utils/is-in-viewport.js#L12-L

[2016-12-03 20:56] les2 commented on #199
@offirgolan I have managed to make it reproducible: https://les2.github.io/ember-light-table-zoom-bug/#/elt-demo

1. Go to [this URL](https://les2.github.io/ember-light-table-zoom-bug/#/elt-demo)
2. Set your zoom to 90% (or whatever)
3. Refresh the page -- notice the initial onScrolledToBottom doesn't fire (because of the ember-in-viewport bug described above)
4. If you resize the browser window m

[2016-12-04 08:46] offirgolan commented on #199
@les2 this seems as though it was one hell of a bug hunt. Thanks for taking the time to put this all together. Im really sorry I have been of no help! Im currently traveling out of the country so I don't have too much time but it seems as though you have a pretty good handle on this issue. I look forward to a PR with a solution on the ember-in-viewport side 😄!

If you have something you wanna run

[2016-12-04 22:29] offirgolan commented on #274
@jamesdixon is this still an issue after the official 2.10 release?

[2016-12-04 22:44] jamesdixon commented on #274
@offirgolan yes, it does still seem to be an issue. I'm sorry I haven't had a chance to investigate further or create a test case

[2016-12-04 22:50] offirgolan commented on #274
No worries. I'll see what I can do in the next week or two 😄

[2016-12-06 05:43] Vatosteve opened #280 "onScrolledToBottom will not stop firing"
Replicating the examples in the documentaion, onScrolledToBottom is continuously fired without scrolling to the bottom. This is causing all data in the data set to be loaded automatically rather than on actually scrolling to the bottom.

This has worked previously on 1.3.1, but any version past that exhibits the same behavior.

I am no longer able to run 1.3.1 either as there seems to be dependenc

[2016-12-07 11:26] offirgolan commented on #280
Hi @Vatosteve, I've been testing this table across multiple production application with no such issue. Can you give me some more details on your dev + ember env and also some code snippets?

[2016-12-08 00:09] #273 closed

[2016-12-08 00:59] offirgolan commented on #274
@jamesdixon I'm not able to recreate this issue in the demo app after upgrading it to Ember 2.10. The onRowDoubleClick fires correctly... any chance you can create a reproduction of this?

[2016-12-08 03:42] Vatosteve commented on #280
Thanks for looking.

I have it repeating on one project consistently, but at the same time I have another where the issue doesn't occur. Instead of wasting your time I'll try to determine the difference, but so far I don't anything unusual between the two. If I find an answer, I'll update this.

[2016-12-08 03:44] offirgolan commented on #280
Sounds like a plan 😄.

[2016-12-09 02:14] offirgolan commented on #135
Resolved in #222.

[2016-12-09 02:14] #135 closed

[2016-12-09 02:15] offirgolan commented on #260
Resolved in #222. (I'll make a new issue to track the ember-scrollable progress)

[2016-12-09 02:15] #260 closed

[2016-12-09 02:15] offirgolan commented on #264
Resolved in #222.

[2016-12-09 02:15] #264 closed

[2016-12-09 02:15] offirgolan commented on #275
Resolved in #222.

[2016-12-09 02:15] #275 closed

[2016-12-09 02:16] offirgolan opened #284 "Horizontal Scroll + Ember-Scrollable"
Opening this issue to track the progress of ember-scrollable#29

cc @alexander-alvarez.

[2016-12-09 05:46] jamesdixon commented on #274
@offirgolan thanks for the update. I'm going to make another attempt to upgrade my app over the weekend, so I'll see if I can't track down the source of the issue and attempt to reproduce. Thank you!

[2016-12-12 10:10] tibibud commented on #280
I have a similar issue, but I can trace it back to my workaround.
Since ember-scrollable does not support horizontal scrolling I made a container that has a fixed width for the table. This container has overflow-x: auto; It obviously works, but since upgrading to the newer version, the onScrolledToBottom() keeps firing even when I scroll horizontally. This is probably due to the transition to embe

[2016-12-12 10:56] offirgolan commented on #280
@tibibud are you on the latest version of ELT? The latest version includes a rudimentary horizontal scrolling solution 😄

[2016-12-12 12:34] tibibud commented on #280
I will try to migrate to it. If it stops onScrolledToBottom() from firing on horizontal scroll, then it will be useful for us. I will keep you posted.

[2016-12-12 13:56] tibibud commented on #280
Unfortunately, even with build 1.0.7 and the "built-in" overflow I get the same phenomenon. The onScrolledToBottom() is called when horizontally scrolling. I have the fixed table flag set to true, not sure if that influences anything. Is there something wrong with my config.

@offirgolan Could you reproduce this?

[2016-12-13 07:51] offirgolan commented on #280
@tibibud I'm not able to recreate this issue with the demo app. Everything seems to be normal.

![elt-horizontal-scroll](https://cloud.githubusercontent.com/assets/575938/21131864/ec6ca5e6-c175-11e6-8380-ec08486ebcdc.gif)

[2016-12-14 18:03] alexander-alvarez opened #287 "Misalignment when using grouped columns and column size < 20px"
As demonstrated in (https://github.com/offirgolan/ember-light-table/compare/master...alexander-alvarez:no-label-header ):
![image](https://cloud.githubusercontent.com/assets/11779993/21194305/6d7e00bc-c1fd-11e6-8873-128f2853f434.png)

haven't traced the source, but wanted to demonstrate it in case anyone knew

[2016-12-15 07:30] jamesdixon opened #288 "basic sorting implementation"
Hi,

First, I'm probably missing something very obvious, but I've spent too much time on this, so I figured I'd ask for help :)

I'm just trying to implement a basic local sort using `computed.sort`. The table initially has no records. After selecting a date range from a calendar, it then calls `fetchRecords`. I can see the data loading, but no rows are displayed. If I change:

`let table = new Ta

[2016-12-15 08:58] offirgolan commented on #288
@jamesdixon I think your issue is `computed.sort('model', 'sortBy')` which (I believe) returns a new array instance every time. `enableSync` only works when you are changing the passed array instance. Since every time there is a change in the model, the CP returns a new instance which is fine if you are just observer the property. The table isnt observing the CP, its observing changes on the passe

[2016-12-15 13:59] karellm opened #289 "Improve the UX for multiselect"
Hi,

I believe that multi-select the way it is shown in the docs is not very intuitive for non power users. Few people know about cmd+click or shift+click. In our product we implemented checkboxes:

![](https://d3vv6lp55qjaqc.cloudfront.net/items/3J2v0w0i2W210X232C1j/Image%202016-12-15%20at%208.54.08%20AM.png?v=441f0e7a)

Beside adding a visual clue that rows are selectable, it offers the standard

[2016-12-15 15:23] dknutsen commented on #288
@jamesdixon @offirgolan yeah I ran into the same thing. I ended up having to clear the (separate) array that ELT is observing and load records into it based on the results of the sort.

[2016-12-15 16:36] rwwagner90 commented on #288
@offirgolan could we have ELT go ahead and rerender when a fully new array is passed as well?

[2016-12-15 17:41] jamesdixon commented on #288
@offirgolan that does seem to be the case. Given that I'm not doing any pagination on this particular record set, I've just disabled `enableSync` and then did the following:

[code]

That said, I'm wondering if it would be good to show an example of this somewhere in the docs for those who aren't doing any sort of server-side manipulation of the records. Thoughts?

[2016-12-16 10:44] offirgolan commented on #288
I dont think thats a good idea nor do I know if I want to go that route. The point of `enableSync` is that it keeps two arrays in sync. The passed data instance, the table's rows instance. If the data instance is not constant, then you shouldnt really be using enableSync 😄

@jamesdixon I think your alt solution is solid. Thats the way I've done it in multiple apps.

I'm not really sure we can do t

[2016-12-16 10:52] offirgolan commented on #289
@karellm I think thats a good idea. I can see that sort of behavior being pretty useful. Feel free to create a PR or I can look into it in a couple days.

[2016-12-16 22:02] #289 closed

[2016-12-16 22:06] offirgolan commented on #287
@alexander-alvarez I haven't had a chance to dig much into this but could this just be a CSS issue?

[code]

The margin + content on the `before` pseudo element could be screwing up with the table's alignment. Again, just a thought... I haven't run into this sort of issue before.

[2016-12-16 22:20] alexander-alvarez commented on #287
the counter was just to demonstrate the use case, it occurs regardless..

I narrowed it down futher... looks like the minimum sub-column size (for this example) is `20px`.. once you go less then that it starts to misalign

[2016-12-16 22:35] alexander-alvarez commented on #287
so it's a css issue... you can't have a padding that's greater than your column size.

The header adjusts accordingly because the width `style` is set, but the cell doesn't adjust..
![image](https://cloud.githubusercontent.com/assets/11779993/21280756/e54cc4a2-c3b5-11e6-8cb3-0ab88abe7ec8.png)

Should the library try to adjust the cells accordingly too, or is it not possible?

[2016-12-16 22:37] offirgolan commented on #287
What do you mean by this?

[2016-12-16 22:58] alexander-alvarez commented on #287
nvm.. i thought the `lt-cell` didn't have width set, but they do

[2016-12-16 22:58] #287 closed

[2016-12-17 13:50] robikovacs opened #291 "Build performance in docker"
Hey, @offirgolan .
Really great work you've done with ember-light-table, works great but I have the following issue when building in a production environment:
I use docker cloud to build my ember app, and when it runs the **npm install** command it takes ages to build (30 minutes), looking into the logs I found out that ember-light-table dependencies are causing this lag. Looks like it compiles li

[2016-12-17 17:40] #291 closed

[2016-12-17 18:13] robikovacs commented on #291
This issue is unrelated to ember-light-table. Sorry. This is what I was looking for: https://github.com/sass/node-sass/issues/1589

[2016-12-17 21:15] jamesdixon commented on #288
@offirgolan a "cookbook"-type page is exactly what I was thinking originally. Sort of like is done on the Ember Power Select site.

[2016-12-19 20:59] offirgolan commented on #288
@jamesdixon the docs use yuidoc so the cookbook will have to be in some file in the code base, which kinda sucks, but I think a cookbook type page would deem pretty useful. I'll take a look into this and see what I can do.

Im gonna make a new issue for it and add this task to it.

[2016-12-19 20:59] #288 closed

[2016-12-19 21:01] offirgolan opened #292 "Cookbook Page"
This issue is here to track what kind of examples to add to the cookbook docs page. Feel free to comment with suggestions 😄

- [ ] Client side sorting (#288)
- [ ] Custom action bubbling via `tableActions`
- [ ] Paginated data (#299)
- [ ] Custom row implementations via `rowComponent`

[2016-12-19 22:28] blset opened #293 "width of table 140px after update 1.4.4 to 1.8.0"
Hello,

the exact same code after upgrade to 1.8.0 truncates the table to a specified width coming from nowhere

here is the starting div with 1.4.4
`<div id="ember717" style="height: 1200px" class="ember-view ember-light-table">  `

here is the starting div with 1.8.0 with no change in code (except addon version substitution)
`<div id="ember2053" style="height: 1200px; width: 280px; overflow-x: a

[2016-12-20 08:07] herzzanu commented on #292
Can we see an example of using custom actions when you click on a row and also having buttons with custom actions in a row's cell?

[2016-12-20 08:30] offirgolan commented on #293
@blset the reason why you are getting `width: 280px; overflow-x: auto` is because thats the total width of all your columns. To remove this, you need make one of the columns have no set width so that it can grow / shrink when needed. What you are noticing is actually a fix that was added in v1.7.

[2016-12-20 08:31] offirgolan commented on #292
@herzzanu great idea!

[2016-12-20 08:37] blset commented on #293
ok having removed the width of one of the columns let the table occupy all width but the free column gets all the space while others are shrinked to a minimum regardless of their width property which is expressed as for instance
` {
                label:'Date',
                valuePath: 'updated_at',
                width:'30px',
                sortable: true,
                cellComponent: 'da

[2016-12-20 08:43] offirgolan commented on #293
@blset its really up to you on how you want to handle the column widths. If all the width are the same unit (i.e. px, em, %), then and only then ELT will sum the width and add the width + overflow style attributes. I would say play around with it and see what fits best. You can totally have some widths as px and others as % 😄

[2016-12-20 08:44] blset commented on #293
ok thanks a lot

[2016-12-20 08:45] offirgolan commented on #293
Np. Im gonna go ahead and close this issue, feel free to reopen it 😺

[2016-12-20 08:45] #293 closed

[2016-12-20 10:58] patrickberkeley commented on #12
FWIW as a workaround, we paginated our data.

[2016-12-20 22:01] patrickberkeley opened #294 "Tests die on `ember-scrollable` calling set on destroyed object"
I have [a PR open for this on `ember-scrollable`](https://github.com/alphasights/ember-scrollable/pull/30). It would be awesome if you could update `ember-scrollable` and cut a new release when/if that gets merged and released.

[2016-12-21 01:01] offirgolan commented on #294
@patrickberkeley 👍 . Just let me know when a new version with your fix gets published.

[2016-12-21 02:03] patrickberkeley commented on #294
Will do, thanks!

[2016-12-21 05:48] Vatosteve commented on #280
@offirgolan So, I figured out what was causing the onScrolledToBottom to fire. I was using

`this.get('table').setRows`

Instead of

`this.get('table').addRows`

Which seems to be causing the onScrolled to bottom to fire every time the setRows is called. I don't know if that is intended behaviour or not, but definitely an issue in my logic.

Thank you!

[2016-12-21 05:48] #280 closed

[2016-12-22 13:05] ochervak opened #295 "TypeError: Invalid Version: undefined with Ember 2.11 beta"
[code]

[2016-12-22 20:43] offirgolan commented on #295
Looks like you are having some dependency issues there that arent related to this addon. Please run the following commands to clean your directory and re-install your dependencies.

[code]

[2016-12-23 15:38] alexander-alvarez opened #297 "Improve Actions Documentation Story"
Opening this issue to discuss & track what needs to be done to better facilitate users cleanly implementing interactions between the user, cells, and table. Will open a PR once we've agreed on next steps.

**For example when should we use `tableActions`?**
http://offirgolan.github.io/ember-light-table/docs/classes/light-table.html#property_tableActions
(related: should make sure all references to

[2016-12-23 19:24] sivakumar-kailasam opened #299 "Pagination support"
Great plugin, will there ever be a pagination support out of the box with some configuration? Or can it be shown in the cookbook? It would be a great addition to have the page no captured as a query parameter if there was first class support for it.

[2016-12-24 10:18] offirgolan commented on #299
@sivakumar-kailasam pagination will not be supported "out-of-the-box" as it is already pretty easy to implement. I can add an example in the cookbook though 😄 .

Closing in favor of #292

[2016-12-24 10:18] #299 closed

[2016-12-24 10:24] sivakumar-kailasam commented on #299
That would be sweet. Thanks for the awesome add-on 😎

[2016-12-30 15:20] Moedav opened #301 "Table doesnt work in ember-paper-dialog?"
I am using the new Version of Ember-light-table and i am trying to create a selectable table in a ember-paper-dialog but it doesnt work. The body doesnt have the same size. In the background you can see the same component with the same properties and there it works fine.

![ember-light-table-issue](https://cloud.githubusercontent.com/assets/21080217/21567265/4355de94-ceab-11e6-9945-4028c7111793.PN

[2016-12-30 15:24] buschtoens commented on #301
Are you using a fixed header? Can you post the relevant CSS that is
supposed to style the table?

On Fri, Dec 30, 2016, 16:20 Moedav <notifications@github.com> wrote:

[2016-12-30 15:33] Moedav commented on #301
Ah ok the problem was the fixed header. I tried something and forgot to disable it. Thanks!

[2016-12-30 15:33] #301 closed

[2017-01-02 23:07] seawatts opened #304 "Segmentation fault"
I'm getting a segmentation fault after installing ember-light-table

It looks like the issue might be with node sass.

I'm using the following versions

ember-cli: v2.10.0
node: v7.3.0

[code]

[2017-01-03 00:46] offirgolan commented on #304
@seawatts I dont think ember-cli fully supports node v7. I would downgrade to either node 6 or node 4.

[2017-01-03 01:43] srjpfc commented on #304
i had a segfault just now after 'installing ember-light-table' and restarting ember:

ember-cli: 2.10.0
node: 6.8.1
os: darwin x64

[2017-01-03 20:10] trumb1mj opened #305 "Fixed, scrollable header width does not match td in body"
![image](https://cloud.githubusercontent.com/assets/928274/21621363/439a253e-d1be-11e6-9775-d1bfc7b6c267.png)

The really odd thing about this is, it's only present in firefox and not in every firefox browser...  Where does the code live that matches the fixed header column width?

[2017-01-04 04:34] offirgolan commented on #305
Any chance you can recreate this in a twiddle or in a dummy app so I can attempt to debug this?

[2017-01-04 13:52] trumb1mj commented on #305
I can't even recreate this on my machine.  A co-worker running osx sees this in firefox only.  Could be some sort of custom  font or something?  Where is the code that calculates these widths?

[2017-01-04 14:43] lindyhopchris commented on #272
not sure if you worked this one out, but I think the problem is that your route `model` method does this:

`return this.store.query('contact', args)`

Which will be an immutable server query. So if you then in the table `fetchRecords` method call `pushObjects()` on the model, you'll get the immutable error.

[2017-01-04 16:37] trumb1mj commented on #305
So two of my co-workers were able to reproduce this behavior in your demo here:  http://offirgolan.github.io/ember-light-table/#/grouped

![image](https://cloud.githubusercontent.com/assets/928274/21650088/81cba1b0-d269-11e6-8d38-1a500766278c.png)

They both had the latest OSX and FireFox version.

OSX version:  10.12 (16A323)
FireFox:  48 and 50.1.0

I should note that I am NOT seeing this on the

[2017-01-05 06:01] offirgolan commented on #305
@trumb1mj I was able to track down this issue! It looks like this is actually an issue with ember-scrollable and its width detection algorithm. I opened up an issue on their end so we can track this.

alphasights/ember-scrollable#34

[2017-01-07 21:56] offirgolan commented on #199
@les2 a new patch (1.8.1) has been released with the latest release of ember-in-viewport. Thanks again for taking the time to hunt this issue down 😸

[2017-01-07 21:56] #199 closed

[2017-01-07 22:04] offirgolan commented on #304
@seawatts @srjpfc could this be a `node-sass` issue? Can you guys upgrade to the latest `node-sass` version on your machines and try again?

[2017-01-09 02:54] srjpfc commented on #304
as i really needed to use ember-light-table i opted to do 'the other around'.
so i've removed all the non-default ember libs and introduced the others one by one.
ember-light-table is working so far and these are the libs that are not yet introduced.
maybe this can help @seawatts.

thanks for you help.

[2017-01-09 18:21] SirZach opened #310 "Recommended approach for changing table header component?"
I like that I can use `cellComponent` in the column definition to use my custom component for presentation and action handling. I need to replicate the same behavior in one of the `th`'s but I don't see as smooth of an approach.

It's recommended in the docs to make `t.head` a block component and taking care of everything yourself. That unfortunately involves reproducing a lot of code starting at

[2017-01-10 14:42] Luiz-N commented on #304
I'm also having this issue with ember 2.10.2, node 6.3, and mac os 10.12.2

[2017-01-11 16:57] csetera commented on #276
After more digging, it seems that this is actually the fault of another 3rd party component that we had hosted inside of the table.  There may be a bit of "bad interaction" going on between them, but I believe the memory leak falls to the other component.  At this point, I'm going to close this issue.

[2017-01-11 16:57] #276 closed

[2017-01-11 21:39] ctjhoa opened #311 "I18n support?"
Hi,
It seems that there is no [ember-i18n](https://github.com/jamesarosen/ember-i18n).
For example,  with `columns`:
[code]
`Assertion Failed: Cannot translate agreement.title. <(unknown mixin):ember591> does not have an i18n.`
Is this something on the roadmap or is there another way?

[2017-01-11 21:41] ctjhoa commented on #311
I found a workaround but it's kinda ugly

[code]

[2017-01-11 21:46] offirgolan commented on #311
There is currently no out-of-the-box solution for this but it should be fairly easy to do by [creating your own column type](http://offirgolan.github.io/ember-light-table/docs/classes/Column.html#property_type) and overriding the label property.

In your column definition, you can pass a `labelKey: 'agreement.title'` instead of `label: 'Foo Bar'` and then use that via `column.labelKey` in your col

[2017-01-12 15:09] alexander-alvarez commented on #310
http://offirgolan.github.io/ember-light-table/docs/classes/Column.html#property_type for `<th>`
http://offirgolan.github.io/ember-light-table/docs/classes/Column.html#property_component for content of column header

@offirgolan  do you have the slides from the global ember meetup posted anywhere? This graphic is really helpful to augment the docs
![image](https://cloud.githubusercontent.com/assets

[2017-01-12 15:10] alexander-alvarez commented on #297
@offirgolan  Your insights requested here

[2017-01-12 15:13] alexander-alvarez commented on #311
any plans to have 'official' `column types`, `cell-components`, etc that are used a lot by the community?
Or even just a poll of what people have implemented to improve documentation to show the different use cases that `ember-light-table` can achieve?

[2017-01-13 07:49] offirgolan commented on #310
@alexander-alvarez here is the [link to the slides](https://docs.google.com/presentation/d/1NYb-sVwpDio9Jo8W1Z-Ew10h6EPxuRFDmRgA25Mvxtw/edit?usp=sharing) 😄

[2017-01-15 17:12] SirZach commented on #310
Thanks so much!

[2017-01-15 17:12] #310 closed

[2017-01-18 15:52] efx commented on #295
This was an issue with ember-scrollables dependency that has since been fixed. See https://github.com/alphasights/ember-scrollable/issues/36.

[2017-01-24 09:24] HenryVonfire commented on #295
@efx @offirgolan still happens to me. Isn't `ember-light-table` using the latest version of `ember-scrollable`?
[code]

[2017-01-24 14:28] efx commented on #295
@HenryVonfire in some combinations it should I think: https://github.com/offirgolan/ember-light-table/blob/master/package.json#L71
as a workaround you can just update light-table's package.json in your project

[2017-01-24 19:50] hoboman313 opened #315 "New release please"
Ember 2.11.0 is live as of this morning and is currently incompatible with the latest release of ember-light-table.

[2017-01-24 19:54] hoboman313 commented on #315
Duplicate of 295

[2017-01-24 19:54] #315 closed

[2017-01-24 21:30] hoboman313 commented on #295
Ember 2.11.0 is out this morning and I'm running to the same issue with ember-light-table/ember-scrollable now

[2017-01-25 00:49] jamesdixon commented on #295
Same situation as @hoboman313

[2017-01-25 01:24] offirgolan commented on #295
Working on it! Stay tuned 😄

[2017-01-25 16:56] jaredgalanis opened #316 "allow columns property to wait for promise to resolve"
I'm attempting to return the columns array in a promise in my columns computed property and it seems that ember-light-table won't allow that to happen. Is there a way to access the array returned by the computed property that I'm not seeing?

[2017-01-25 17:27] buschtoens commented on #316
So basically you have something like this?

[code]

I'd consider handling promises out of scope for this addon.

I'd do something like this:

[code]

And then call `fetchColumns()` appropriately, for example in `didReceiveAttrs()`.

In the template wrap the `{{#light-table table}}` in an `{{#if table}}`.

[2017-01-25 22:32] luketheobscure commented on #295
If anyone is getting this and using `npm shrinkwrap`, you can fix it by manually bumping the ember-light-table > ember-scrollable >ember-cli-version-checker to 1.2.0 in you `npm-shrinkwrap.json` file.

[2017-01-25 22:46] offirgolan commented on #295
There are a couple of PRs open on ember-scrollable that should hopefully merged asap. Once those are in, a new release will be made and the issue should be resolved. Sorry for the hiccup on this guys.

[2017-01-26 14:47] jaredgalanis commented on #316
@buschtoens, thank you! I don't think I'm calling the fetchColumns properly because it's not being run. This is my didReceiveAttrs hook:

[code]

[2017-01-26 17:23] buschtoens commented on #316
I assume you're doing something like this:

[code]

Instead you have to do this:
[code]

[2017-01-26 17:56] jaredgalanis commented on #316
@buschtoens, I now have something a bit different. It's pretty much inline with your original suggestion:
[code]

[2017-01-26 18:43] jaredgalanis commented on #316
So I needed to specify "this." before calling the fetchColumns function. Now the fetchColumn function is at least being called and there are no more assertions. Something strange is happening with my promise. This isn't part of the addon I realize.

I start with a set of statically set columns in the columns array and then I'm attempting to dynamically add columns using a chain of promises.

[code

[2017-01-26 18:57] offirgolan commented on #316
@jaredgalanis in your `table` CP you are creating a new table instance every time your data or columns change. I would advise to create your table instance on init and use `setRows` and `setColumns` to do what you want to do. For an example, please check out the dummy app code.

[2017-01-26 19:23] jaredgalanis commented on #316
Thanks @offirgolan. I'm now creating the table instance on init and I start with the columns, table, and model properties all as null. Now, however, I'm getting an assertion when the table is being built:

```Uncaught TypeError: Cannot read property 'map' of null```

[2017-01-26 21:54] jaredgalanis commented on #316
One further update is that I moved the table back into a CP because I need to be able to dynamically update the data source of the table based on input from the user (a select element). I am now finding that I have the same problem with the array when I first load the table, but as soon as I select another record to update the data source of the table any dynamically generated columns load correct

[2017-01-26 23:14] #274 closed

[2017-01-26 23:14] jamesdixon commented on #274
No longer running into this :)

[2017-01-29 01:16] rstudner opened #320 "Compatibility with Ember-CLI v2.11"
Ember 2.11 moved ember-cli-shims to npm.  Not sure if this is the cause/related, but if you try to include ember-light-table v1.8.1 in a project, the app will fail to launch.

(to note, and i'm no expert -- it appears maybe it has to do with ember-scrollable)

<img width="881" alt="screen shot 2017-01-28 at 8 16 17 pm" src="https://cloud.githubusercontent.com/assets/209970/22401129/b1cde0b8-e596-1

[2017-01-29 02:45] offirgolan commented on #320
This is a duplicate of #295. Currently waiting for a new version release on ember-scrollable to resolve the issue.

[2017-01-29 02:45] #320 closed

[2017-01-29 02:46] rstudner commented on #320
So sorry!

I must have typo'd my search.  DIdn't mean to make a dupe/waste your time.

[2017-01-29 02:46] offirgolan commented on #320
No worries 😄

[2017-01-30 19:15] jaredgalanis commented on #316
Closing because I realize that this an issue with serially resolving the promises involved, not anything to do with ember-light-table itself.

[2017-01-30 19:15] #316 closed

[2017-01-30 19:32] offirgolan commented on #305
Fixed and released with `v1.8.2`.

[2017-01-30 19:32] #305 closed

[2017-01-30 19:32] offirgolan commented on #295
Fixed and released with `v1.8.2`.

[2017-01-30 19:32] #295 closed

[2017-01-30 19:32] offirgolan commented on #304
Are you guys still having this issue with Ember 2.11?

[2017-01-30 19:33] offirgolan commented on #294
Fixed and released with `v1.8.2`.

[2017-01-30 19:33] #294 closed

[2017-01-30 19:35] patrickberkeley commented on #294
👍

[2017-01-30 19:36] trumb1mj commented on #305
Woot!  We just covered this today...  We're gonna have some happy managers!

[2017-01-30 19:37] Luiz-N commented on #304
I'm still on 2.10 and after basically doing a full purge and fresh install it seemed to have "fixed itself". I haven't tried deploying though so the bug may still exist.

[2017-01-30 19:38] offirgolan commented on #305
Sweet! Glad to help out 😸 . Thanks for reporting this issue... I'm honestly unsure as to how this has gone unnoticed for so long.

[2017-01-30 19:38] offirgolan commented on #304
Okay thats good to hear. Im gonna go ahead and close this issue, feel free to reopen if needed.

[2017-01-30 19:38] #304 closed

[2017-01-30 19:39] offirgolan commented on #201
Closing as this issue has been abandoned. Feel free to reopen if needed.

[2017-01-30 19:39] #201 closed

[2017-01-31 18:44] knownasilya commented on #113
Do rows have a hover action?

[2017-01-31 19:09] offirgolan commented on #113
@knownasilya no they do not but you can easily add one by overriding the [rowComponent](http://offirgolan.github.io/ember-light-table/docs/classes/t.body.html#property_rowComponent)

[2017-01-31 19:57] knownasilya commented on #113
@offirgolan would you take a PR adding onhover?

[2017-01-31 19:58] offirgolan commented on #113
@knownasilya yeah of course 😸

[2017-02-01 10:02] bugduino opened #323 "targetScrollOffset Error and scrollbar visible"
I have a simple table in a template

[code]
when I expand a row and the expanded content overflows the table height, the scrollbar appears and that's ok. The problem is that when the expanded row is collapsed the scrollbar reamins visibile, and If I try to click on it a lot of errors are thrown in the console

[code]

[2017-02-01 14:50] alexander-alvarez commented on #323
What version of `ember-light-table`? Can you reproduce in a twiddle?

[2017-02-01 14:58] bugduino commented on #323
1.8.2 . I'm trying to reproduce it

[2017-02-01 15:05] bugduino commented on #323
I'm not able to correctly include and build ember-light-table in ember twiddle, could you help me?

[2017-02-01 15:15] alexander-alvarez commented on #323
my bad, I forgot `ember-light-table` is on sass, and `ember-twiddle` currently doesn't support.
Can you reproduce on the demo page in a branch?

[2017-02-01 15:49] bugduino commented on #323
Here you have it https://github.com/offirgolan/ember-light-table/compare/master...bugduino:test-scroll-bar just start the server go to `http://localhost:4200/#/expandable` open one row, scroll and close the row. The scrollbar remains visible

[2017-02-01 18:04] offirgolan commented on #323
@alexander-alvarez you can also see this happening in the deployed demo app.

1. The scrollbar doesnt auto hide
2. On first click (not drag) of the scrollbar, it scrolls back to the top

[2017-02-01 22:27] alexander-alvarez commented on #323
I'll take a look

[2017-02-01 23:04] greenkeeper[bot] opened #324 "An in-range update of ember-cli-qunit is breaking the build 🚨"
## Version **3.1.1** of [ember-cli-qunit](https://github.com/ember-cli/ember-cli-qunit) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-light-table/compare/greenkeeper%2Fember-cli-qunit-3.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-qunit
    </td>

[2017-02-02 16:42] alexander-alvarez commented on #323
@bugduino What os/browser? I'm on `chrome 54.0.2840.71` and cant reproduce the issue you're seeing.

@offirgolan I can't reproduce 1. I'll investigate why 2 happens

[2017-02-02 16:52] bugduino commented on #323
@alexander-alvarez I'm on `chrome Version 56.0.2924.76 (64-bit)` on linux

[2017-02-03 22:03] greenkeeper[bot] opened #326 "An in-range update of ember-data is breaking the build 🚨"
## Version **2.11.1** of [ember-data](https://github.com/emberjs/data) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-light-table/compare/greenkeeper%2Fember-data-2.11.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-data
    </td>
  </tr>
  <tr>
    <th alig

[2017-02-04 22:45] greenkeeper[bot] opened #327 "An in-range update of ember-cli-babel is breaking the build 🚨"
## Version **5.2.2** of [ember-cli-babel](https://github.com/babel/ember-cli-babel) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/offirgolan/ember-light-table/compare/greenkeeper%2Fember-cli-babel-5.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-babel
    </td>
  </t

[2017-02-06 23:02] Syzygy24 opened #329 "Component integration tests failing in phantomjs"
Any word on [this TODO here](https://github.com/offirgolan/ember-light-table/blob/b8fe4073593b2614ac9ba78d931c2450ca107598/tests/integration/components/light-table-test.js#L25)?

I'm trying to create component tests for my project using phantomjs and the test runs fine in the Chrome browser, but fails with phantom. The error is "TypeError: undefined is not a function (evaluating 'Number.parseInt(o

[2017-02-07 00:35] AlekzZz commented on #62
is it possible to add row class through template?

[2017-02-07 19:32] #324 closed

[2017-02-07 19:32] #326 closed

[2017-02-07 19:32] #327 closed

[2017-02-07 19:33] offirgolan commented on #323
@bugduino should be fixed now. Please re-install ember-light-table so it grabs the latest version of ember-scrollable.

[2017-02-08 09:45] bugduino commented on #323
I'm seeing the same behaviour with these deps
[code]

[2017-02-08 10:01] lypborges commented on #292
Hi, tks for this addon. It would be good if we have in the cookbook how to change a class conditional in a row. I read this https://github.com/offirgolan/ember-light-table/issues/62 but couldn't figure out  here to put this code and where the row came from.

[2017-02-08 17:09] d-navas opened #331 "Double Render error with Ember 2.11 while scrolling"
I'm getting a double render error using `Ember 2.11` and Latest version of `Light-Table` while scrolling with mouse click + scrollbar.

`Assertion Failed: You modified "targetScrollOffset" twice on <fsol@component:lt-body::ember9116> in a single render. It was rendered in "component:lt-scrollable" and modified in "component:ember-scrollbar". This was unreliable and slow in Ember 1.x and is no long

[2017-02-08 21:18] offirgolan commented on #331
@d-navas can you try re-installing ELT (a new version of ember-scrollable was released to fix this issue)

[2017-02-08 21:29] offirgolan commented on #323
@bugduino im not able to recreate the issues. See the demo page and let me know if you find anything.

[2017-02-08 22:27] domgolonka opened #333 "Cannot load table"
Hello,

I've copied one of the examples but the tables won't load and instead gives an error:

    at Class.init (TableCommonMixin.js:23)
    at Class.superWrapper [as init] (ember.debug.js:24805)
    at new Class (ember.debug.js:37912)
    at Function.create (ember.debug.js:38172)
    at createComponent (ember.debug.js:14109)
    at Function.ComponentNodeManager_create [as create] (ember.debug.js

[2017-02-09 03:25] d-navas commented on #331
@offirgolan Thanks. I'll see if that works.

[2017-02-09 03:37] d-navas commented on #331
Update: upgraded to LT 1.8.3. Problem fixed 🙂

[2017-02-09 03:37] #331 closed

[2017-02-09 17:06] KeithClinard commented on #284
Are there any updates on this since #321 has been merged?

I would really like to see horizontal scrolling work with a fixed header.

[2017-02-09 21:17] offirgolan commented on #284
@KeithClinard this is already supported (see #222). This issue is about using ember-scrollable's virtual scrollbars instead of the current rudimentary solution.

[2017-02-09 22:13] domgolonka opened #334 "Assertion Failed: A helper named "light-table" could not be found"
I can't get the light-tables template to load. It gives me this error:
"Assertion Failed: A helper named "light-table" could not be found"

templates/components/tables/AccountsTableComponent.hbs
[code]

mixins/TableCommonMixin.js
[code]

components/tables/AccountsTableComponent.js
[code]

[2017-02-09 22:48] alexander-alvarez commented on #334
this seems like an install error.. is `ember-light-table` in your `package.json` and you've run `npm install` ?

[2017-02-09 23:14] domgolonka commented on #334
Yup both are in there and I did npm install just to make sure.

[2017-02-10 01:09] domgolonka commented on #334
If I  change
[code]

to:

[code]

I get the same as issue #333.

[2017-02-10 01:56] offirgolan commented on #334
@domgolonka looks like you're having dependency issues. Please run the following command:

[code]

[2017-02-10 02:48] domgolonka commented on #334
Hey, I thought so too so I did that previously. Also, server was restarted and No build errors. Any other ideas?

[2017-02-10 15:25] bugduino commented on #323
I tried to pull and reinstall all deps for the v1.8.3 but and merged in my fork but I have the same problem (scroll bar remains visible even after the expandable row content is collapsed).
In the image below there is nothing to scroll
![screenshot](https://cloud.githubusercontent.com/assets/1852109/22832193/6037cd42-efad-11e6-8c49-cfcfb68c0eef.png)

[2017-02-10 17:23] KeithClinard opened #335 "Horizontal scrolling not working with fixed header"
Horizontal scrolling works as expected without a fixed header.
When the header is fixed, the table will not scroll horizontally.

I've thrown together a quick example of what I am experiencing.
https://ember-twiddle.com/e47894f66485a28f54a4043b4720664d

[2017-02-10 17:24] KeithClinard commented on #284
As it appears to be unrelated to this issue, I've created another issue for the problem I am having. (#335)

[2017-02-12 01:15] jaredgalanis opened #336 "additional iteration over table rows"
In my table I need to iterate not just over a model with its properties for the rows, but also over collections of properties on that model. Is this something that you can do with ember-light-table?

[2017-02-12 22:20] offirgolan commented on #335
@KeithClinard that is because you are overwriting the `totalWidth` property which is private.

Do something like this instead:

[code]

[2017-02-13 13:27] KeithClinard commented on #335
That works.
Thanks for your time.

[2017-02-13 13:27] #335 closed

[2017-02-13 16:47] SteelBurgher commented on #284
I see support for both horizontal and vertical scrolling was recently merged into ember-scollable. What's the timeline on integrating it with ember-light-table?

[2017-02-13 17:12] chilicoder opened #337 "thead, tbody and tfoot in separate table tags"
I'm trying to produce minimal working example using `ember-light-table`
Somehow `thead`, `tbody` and `tfoot` renders in separate `table` tags
<img width="526" alt="screen shot 2017-02-13 at 18 05 44" src="https://cloud.githubusercontent.com/assets/3491833/22893958/8f1de062-f217-11e6-820b-5b33080903e0.png">
here is the link for repo: https://github.com/chilicoder/ember-light-table-example

at the s

[2017-02-13 19:21] offirgolan commented on #337
@chilicoder that is intended behavior. What exactly is the problem you're having?

[2017-02-13 19:21] offirgolan commented on #335
Great. No problem at all 😸

[2017-02-13 19:35] chilicoder commented on #337
now i have 3 different `table` tags. And it should be one. Smth like
[code]

[2017-02-14 18:18] karellm opened #339 "Foot row"
I would like the last row of my table to be a form to add a new entry to the table.

I started playing with the `foot` component and something like:

[code]

where `newRecordRow` is defined in the component:

[code]

That said, I have no luck so far. I would greatly appreciate a pointer if you have any idea how to render an extra row from a new record. Thanks!

[2017-02-14 19:44] offirgolan commented on #339
@karellm the `t.foot` doesnt provide a `t.row` component. That is currently internal api. It is up to you to create the footer on your own with basic html.

[code]

If you want to do it dynamically, you can iterate over the columns and use the `column.valuePath` attribute.

[2017-02-14 19:47] karellm commented on #339
@offirgolan Thanks, I figured I was pushing my luck a bit. I will keep this open and post my solution when I have it running.

[2017-02-15 13:19] coolzai opened #340 "TypeError: Cannot read property 'map' of null"
Hi,

I am trying to get light-table working on, I copied the example from the demo page, but when I try to run this, I got an error from console:

[code]

It is pointing at line 29 in `table-component`, which is right above the `init()` function. However, if I manually supply data to `model`, it works fine. If I set `model: []` instead of `model: null`, it works...

[code]

[2017-02-15 18:07] karellm commented on #339
I realize that all the complication came from my attempts to abstract that into a component. I have a `base-table` component I wanted to add an option `footForm=true` to it. That's why I wanted to access the columns and row component.

In the end, I'm happy with hard coding it whenever I need it based on what @offirgolan suggested. Closing this for now

[2017-02-15 18:08] #339 closed

[2017-02-16 19:22] schickm commented on #62
Yeah, I'm a little confused here too....I'm wondering how to make the row class computed from the row's model.

I'm guessing you have to subclass `Row` so it computes  `classNames` based on the model...and then override `Table.createRow(..)` to create rows of your subclass?

Or is there some easier way that doesn't involve mucking about in private areas of the code?

[2017-02-16 19:24] schickm commented on #292
Yeah, I'm a little confused about the hints mentioned in #62....I'm wondering how to make the row class computed from the row's model.

I'm guessing you have to subclass `Row` so it computes  `classNames` based on the model...and then override `Table.createRow(..)` to create rows of your subclass?

Or is there some easier way that doesn't involve mucking about in private areas of the code?

[2017-02-16 19:39] offirgolan commented on #292
@schickm not sure what you mean by this.

[2017-02-16 21:00] schickm commented on #292
sorry @offirgolan, that was a pretty piss-poor explanation.  What I'm looking to do is something like this...

So when a given row is rendered with a content object like:
[code]

It would look like:
[code]

Vs. a row rendered with content like:
[code]

It would look like:
[code]

So to do that I figured you'd be using `classNameBindings` somehow.  My initial thought is to subclass the row componen

[2017-02-16 21:06] offirgolan commented on #292
@schickm you're on the right track with the javascript but you dont need to overwrite the current implementation since this is supported as public api via the [rowComponent](http://offirgolan.github.io/ember-light-table/docs/classes/t.body.html#property_rowComponent) option.

[code]

[code]

[2017-02-16 22:18] schickm commented on #292
Ahhhh, totally missed `rowComponent`.  Thank you so much for the quick response!

[2017-02-17 00:59] offirgolan commented on #292
@schickm no problem at all 😸

[2017-02-17 04:58] SnehaSingh commented on #292
Thanks for this great add-on.

I am looking forward to the pagination example, to get ideas for my project where I am using Ember-light-table.

May I please request you to also include information about doing pagination where the data source is other than Ember-data  (like jQuery AJAX in my case)?

[2017-02-18 22:08] #292 closed

[2017-02-18 22:10] offirgolan commented on #292
The cookbook page is now live! Thank you all for your great ideas 😸

[2017-02-18 22:11] offirgolan commented on #299
@sivakumar-kailasam cookbook page is now live 😄

[2017-02-18 22:11] offirgolan commented on #288
@jamesdixon cookbook page is now live 😄 !

[2017-02-19 05:36] sivakumar-kailasam commented on #299
@offirgolan Awesome 👍 Thanks for the followup notification.

[2017-02-20 11:08] gwak opened #343 "Number.isNaN and Number.parseInt breaks app in IE"
Hi,

I don't think you should use Number.isNaN and Number.parseInt in the lt-body component:
https://github.com/offirgolan/ember-light-table/blob/master/addon/components/lt-body.js
as it breaks apps in IE. I've tested IE 11.
I think you should use a polyfill or isNaN,  and parseInt directly.

Thanks,
Camille